/** CONTROL ==================================================================*/

/** PORTAL ROW -----------------------*/
portal:normal .row {background-color: #FCFCFC;}
portal:normal .row_alt {background-color: #F6F6F6;}
portal:normal .row_active {background-color: rgba(230,239,249,1);}

portal.port_liner:normal .row,
portal.port_liner:normal .row_alt,
portal.port_liner:normal .row_active
{
  border-bottom-width: 1pt;
  border-bottom-style: solid;
  border-color: #DCDCDC;/**/
}
portal.port_liner:normal .row {background-color: #FCFCFC;}
portal.port_liner:normal .row_alt {background-color: #F6F6F6;}
portal.port_liner:normal .row_active {background-color: rgba(230,239,249,1);}



/* PORTAL ----------------------------*/
portal:normal .self {
  border-width: 1pt;
  border-style: solid;
  border-color: #CCC;
  border-radius: 0pt;
-fm-use-portal-current-row-style: true;
}

portal:normal .inner_border {
  border-radius: 0pt;
}

portal:normal .contents {
  position: absolute;
  left: 0pt;
  top: 0pt;
  bottom: 0pt;
  right: 17pt;
  box-sizing: border-box;
}
portal:normal .scrollbar_track {
  position: absolute;
  top: 0pt;
  bottom: 0pt;
  right: 0pt;
  width: 17pt;
  box-sizing: border-box;
}






/** CONTAINER ------------------------*/
container:placeholder .self
{font-size: 16pt;}

container .inner_border {
  border-radius: 0pt;
  padding: 3pt;
  /*
  box-shadow: none;
  -fm-box-shadow-persist: none;
  */
}



container .repeat_border {
  border-bottom-style: solid; border-bottom-width: 1pt;
}

container:pressed .inner_border,
container:hover .inner_border,
container:focus .inner_border
{
  box-shadow: 0pt 0pt 3pt rgba(0,0,0,0.24) inset;
}

container .self {
  border-style: solid; border-width: 1pt; border-radius: 1pt; border-color: #CCC;
  background-image: none; background-color: #FFF;
  box-shadow: none;
  -fm-box-shadow-persist: none;
  
  font-style: normal; font-family: -fm-font-family(メイリオ, shiftjis);
  color: #666;
  font-size: 12pt;
  line-height: 0.8line;
  text-align: left;
}

container:pressed .self {
  border-color: #999;
  background-image: none; background-color: #CCC;
  color: #FFF;
}
container:pressed:placeholder .self
{color: #FFF;}

container:hover .self,
container:focus .self
{
  border-color: #999;
  background-color: #EEE;
  box-shadow: none;
  /*
  box-shadow: 0pt 0pt 2pt 1pt #AAA;#72A8FB
  */
}



container.fill_gsC .self,
container.edit_gsC .self,
container.view_gsC .self
{background-color: #CCC;}
container.fill_gsD .self,
container.edit_gsD .self,
container.view_gsD .self
{background-color: #DDD;}
container.fill_gsE .self,
container.edit_gsE .self,
container.view_gsE .self
{background-color: #EEE;}
container.fill_gsF .self,
container.edit_gsF .self,
container.view_gsF .self
{background-color: #FFF;}

container.fill_gsC .self
{
  border-style: solid; border-width: 1pt; border-radius: 1pt; border-color: #AAA;
}
container.fill_gsD .self
{
  border-style: solid; border-width: 1pt; border-radius: 1pt; border-color: #BBB;
}
container.fill_gsE .self,
container.fill_gsF .self
{
  border-style: solid; border-width: 1pt; border-radius: 1pt; border-color: #CCC;
}
container.fill_gsC .repeat_border,
container.fill_gsD .repeat_border,
container.fill_gsE .repeat_border,
container.fill_gsF .repeat_border
{
  border-bottom-style: solid; border-bottom-width: 1pt;
}

container.edit_gsC .self,
container.edit_gsD .self,
container.edit_gsE .self,
container.edit_gsF .self
{
  border-style: dashed; border-width: 3pt; border-radius: 0pt; border-color: #AAA;
}
container.edit_gsC .repeat_border,
container.edit_gsD .repeat_border,
container.edit_gsE .repeat_border,
container.edit_gsF .repeat_border
{
  border-bottom-style: dashed; border-bottom-width: 3pt;
}

container.view_gsC .self,
container.view_gsD .self,
container.view_gsE .self,
container.view_gsF .self
{
  border-style: none; border-width: 0pt; border-radius: 1pt; border-color: #CCC;
}
container.view_gsC .repeat_border,
container.view_gsD .repeat_border,
container.view_gsE .repeat_border,
container.view_gsF .repeat_border
{
  border-bottom-style: none; border-bottom-width: 0pt;
}

container.fill_gsC:normal .inner_border,
container.fill_gsD:normal .inner_border,
container.fill_gsE:normal .inner_border,
container.fill_gsF:normal .inner_border,
container.edit_gsC:normal .inner_border,
container.edit_gsD:normal .inner_border,
container.edit_gsE:normal .inner_border
/*container.edit_gsF:normal .inner_border*/
{
  box-shadow: 0pt 0pt 2pt rgba(0,0,0,0.18) inset;
}

/*
container.minimal_container:hover .self {
  border-color: #CCC;
}
container.minimal_container:focus .self {
  background-color: #FFF;
}
*/






/** CHART ----------------------------*/
chart:normal .self {
  border-style: solid; border-width: 1pt; border-radius: 0pt; border-color: #CCC;
  background-color: #FFF;
  font-style: normal; font-family: -fm-font-family(メイリオ, shiftjis);
  font-size: 12pt; color: #666;
  line-height: 0.8line;
  text-align: left;
}
chart .inner_border {
  padding: 0pt;
  border-radius: 0pt;
}
/*
chart:focus .self {
  border-color: #AAA;
  box-shadow: 0pt 0pt 2pt 1pt #72A8FB;
}
*/



chart.fill_gsC .self,
chart.view_gsC .self
{background-color: #CCC;}
chart.fill_gsD .self,
chart.view_gsD .self
{background-color: #DDD;}
chart.fill_gsE .self,
chart.view_gsE .self
{background-color: #EEE;}
chart.fill_gsF .self,
chart.view_gsF .self
{background-color: #FFF;}

chart.view_gsC .self,
chart.view_gsD .self,
chart.view_gsE .self,
chart.view_gsF .self
{
  border-style: none; border-width: 0pt; border-radius: 1pt; border-color: #CCC;
}



/** WEBVIEWER ------------------------*/
web_viewer .self {
  border-style: solid; border-width: 1pt; border-radius: 0pt; border-color: #CCC;
  background-color: #FFF;
  font-style: normal; font-family: -fm-font-family(メイリオ, shiftjis);
  font-size: 12pt; color: #666;
  line-height: 0.8line;
  text-align: left;
}
web_viewer .inner_border {
  padding: 0pt;
  border-radius: 0pt;
}
/*
web_viewer:focus .self {
  border-color: #AAA;
  box-shadow: 0pt 0pt 2pt 1pt #72A8FB;
}
*/



web_viewer.fill_gsC .self,
web_viewer.view_gsC .self
{background-color: #CCC;}
web_viewer.fill_gsD .self,
web_viewer.view_gsD .self
{background-color: #DDD;}
web_viewer.fill_gsE .self,
web_viewer.view_gsE .self
{background-color: #EEE;}
web_viewer.fill_gsF .self,
web_viewer.view_gsF .self
{background-color: #FFF;}

web_viewer.view_gsC .self,
web_viewer.view_gsD .self,
web_viewer.view_gsE .self,
web_viewer.view_gsF .self
{
  border-style: none; border-width: 0pt; border-radius: 1pt; border-color: #CCC;
}






/**  ---------------------------------*/
scrollbar:normal .self {
  border-left-width: 1pt;
  border-left-style: solid;
  border-left-color: #CCC;
  border-top-right-radius: 1pt;
  border-bottom-right-radius: 1pt;
  background-color: #F1F1F1;
  width: 17pt;
}

scrollbar:disabled .self {
  border-left-width: 1pt;
  border-left-style: solid;
  border-left-color: #CCC;
  border-top-right-radius: 3pt;
  border-bottom-right-radius: 3pt;
  background-color: #F6F6F6;
}



scrollbar:normal   .scrollbar_top_button,
scrollbar:normal   .scrollbar_bottom_button,
scrollbar:disabled .scrollbar_top_button,
scrollbar:disabled .scrollbar_bottom_button,
scrollbar:hover    .scrollbar_top_button,
scrollbar:hover    .scrollbar_bottom_button,
scrollbar:pressed  .scrollbar_top_button,
scrollbar:pressed  .scrollbar_bottom_button
{
  border-left-width: 1pt;
  border-left-style: solid;
  border-left-color: #CCC;
  width: 100%;
  height: 17pt;
}

scrollbar:normal   .scrollbar_top_button,
scrollbar:disabled .scrollbar_top_button,
scrollbar:hover    .scrollbar_top_button,
scrollbar:pressed  .scrollbar_top_button
{
  -fm-icon: up-arrow;
  -fm-icon-color: #666;
}

scrollbar:normal   .scrollbar_bottom_button,
scrollbar:disabled .scrollbar_bottom_button,
scrollbar:hover    .scrollbar_bottom_button,
scrollbar:pressed  .scrollbar_bottom_button
{
  -fm-icon: down-arrow;
  -fm-icon-color: #666;
}

scrollbar .scrollbar_top_button {
}
scrollbar .scrollbar_bottom_button {
}

scrollbar:normal .scrollbar_top_button,
scrollbar:normal .scrollbar_bottom_button
{}

scrollbar:hover .scrollbar_top_button,
scrollbar:hover .scrollbar_bottom_button
{
  background-color: #E0E0E0;
}

scrollbar:pressed .scrollbar_top_button,
scrollbar:pressed .scrollbar_bottom_button
{
  background-color: #AAA;
  -fm-icon-color: #FFF;
}
scrollbar:pressed .scrollbar_top_button {
}
scrollbar:pressed .scrollbar_bottom_button {
}


scrollbar:normal .scrollbar_thumb {
  border-width: 1pt;
  border-style: solid;
  border-color: #CCC;

  background-color: #CCC;
  width: 100%;
}



/** TAB CONTROL -----------------------*/

tab_control:normal .self {
  font-style: normal; font-family: -fm-font-family(メイリオ, shiftjis);
  color: #FFF;
  font-size: 12pt;
  line-height: 0.8line;
  text-align: left;

  -fm-tab-spacing: 0;
}
tab_control.def_h25:normal .self {font-size: 12pt;}
tab_control.def_h30:normal .self {font-size: 14pt;}
tab_control.def_h35:normal .self {font-size: 16pt;}
tab_control:active .self {color: #333;}

tab_panel .self {
  border-style: solid; border-width: 1pt; border-radius: 0pt; border-color: #BBB;
  /*background-color: #F6F6F6;*/
  /*
  -fm-tab-top-left-radius: 3pt;
  -fm-tab-top-right-radius: 3pt;
  */
}

/*
tab_panel:hover .self {background-color: #333;}
*/
tab_panel:active .self {
  background-image: none; background-color: #F6F6F6;
  border-color: #AAA;
}
tab_panel:activefocus .self {
  box-shadow: none;
}

tab_panel:normal .inner_border {
  border-radius: 0pt;
}

tab_panel:normal .tab {
  background-image: none;
  /*
  border-top-left-radius: 2pt;
  border-top-right-radius: 2pt;
  */
}
tab_panel:hover .tab {
  background-color: rgba(77,77,77,0.1);
}/*#F66*/
tab_panel:focus .tab {
  box-shadow: none;
}
tab_panel:active .tab {
  background-image: none;
  background-color: #F6F6F6;
}

tab_panel:normal .tab_inner_border {
  padding: 0pt 3pt;
  box-shadow: none;
}
tab_panel.def_h25:normal .tab_inner_border {padding: 0pt 3pt 0pt 3pt;}
tab_panel.def_h30:normal .tab_inner_border {padding: 1pt 3pt 0pt 3pt;}
tab_panel.def_h35:normal .tab_inner_border {padding: 2pt 3pt 0pt 3pt;}

tab_panel:normal .text,
tab_panel:hover .text,
tab_panel:active .text,
tab_panel:activefocus .text
{
  box-sizing: border-box;
  height: 100%;
}



/*MAT(Control>SELF)*/
tab_control.mat_h25 .self,tab_control.mat_h25_gsF .self,
tab_control.mat_h30 .self,tab_control.mat_h30_gsF .self,
tab_control.mat_h35 .self,tab_control.mat_h35_gsF .self
{
  /*background-image: none;background-color: rgba(0,0,0,0);*/
  font-style: normal;
  text-align: left;
  
  -fm-tab-spacing: 0;
}
tab_control.mat_h25:normal .self,
tab_control.mat_h30:normal .self,
tab_control.mat_h35:normal .self,
button_bar_segment.mat_h25 .self,
button_bar_segment.mat_h30 .self,
button_bar_segment.mat_h35 .self
{color: #666;}
tab_control.mat_h25_gsF:normal .self,
tab_control.mat_h30_gsF:normal .self,
tab_control.mat_h35_gsF:normal .self,
button_bar_segment.mat_h25_gsF .self,
button_bar_segment.mat_h30_gsF .self,
button_bar_segment.mat_h35_gsF .self
{color: #FFF;}

tab_control.mat_h25 .self, tab_control.mat_h25_gsF .self,
button_bar_segment.mat_h25 .self, button_bar_segment.mat_h25_gsF .self
{font-size: 12pt;}
tab_control.mat_h30 .self, tab_control.mat_h30_gsF .self,
button_bar_segment.mat_h30 .self, button_bar_segment.mat_h30_gsF .self
{font-size: 14pt;}
tab_control.mat_h35 .self, tab_control.mat_h35_gsF .self,
button_bar_segment.mat_h35 .self, button_bar_segment.mat_h35_gsF .self
{font-size: 16pt;}

tab_control.mat_h25:hover .self,
tab_control.mat_h30:hover .self,
tab_control.mat_h35:hover .self,
button_bar_segment.mat_h25:hover .self,
button_bar_segment.mat_h30:hover .self,
button_bar_segment.mat_h35:hover .self
{color: #333;}
button_bar_segment.mat_h25_gsF:hover .self,
button_bar_segment.mat_h30_gsF:hover .self,
button_bar_segment.mat_h35_gsF:hover .self
{color: #FFF;}

tab_control.mat_h25:active .self,
tab_control.mat_h30:active .self,
tab_control.mat_h35:active .self,
button_bar_segment.mat_h25:active .self,
button_bar_segment.mat_h30:active .self,
button_bar_segment.mat_h35:active .self
{
  color: #333;/* theme_colors */
}
tab_control.mat_h25_gsF:active .self,
tab_control.mat_h30_gsF:active .self,
tab_control.mat_h35_gsF:active .self,
button_bar_segment.mat_h25_gsF:active .self,
button_bar_segment.mat_h30_gsF:active .self,
button_bar_segment.mat_h35_gsF:active .self
{
  color: #FFF;
}

/*MAT(Panel>SELF)*/
tab_panel.mat_h25 .self, tab_panel.mat_h25_gsF .self,
tab_panel.mat_h30 .self, tab_panel.mat_h30_gsF .self,
tab_panel.mat_h35 .self, tab_panel.mat_h35_gsF .self,
tab_panel.mat_h25:active .self,tab_panel.mat_h25_gsF:active .self,
tab_panel.mat_h30:active .self,tab_panel.mat_h30_gsF:active .self,
tab_panel.mat_h35:active .self,tab_panel.mat_h35_gsF:active .self
{
  background-image: none; background-color: rgba(0,0,0,0);
  border-style: none; border-width: 0pt; border-radius: 0pt; border-color: rgba(0,0,0,0);
}
/*
tab_panel.tab_mat:hover .self {
  background-image: none;
}
tab_panel.tab_mat_gsF:active .self {color: #FFF;}
tab_panel.tab_mat_gsF:activefocus .self {box-shadow: none;}
*/

tab_panel.mat_h25 .inner_border, tab_panel.mat_h25_gsF .inner_border,
tab_panel.mat_h30 .inner_border, tab_panel.mat_h30_gsF .inner_border,
tab_panel.mat_h35 .inner_border, tab_panel.mat_h35_gsF .inner_border
{
  border-radius: 0pt;
}

/*MAT(Panel>TAB)*/
tab_panel.mat_h25 .tab,tab_panel.mat_h25_gsF .tab,
tab_panel.mat_h30 .tab,tab_panel.mat_h30_gsF .tab,
tab_panel.mat_h35 .tab,tab_panel.mat_h35_gsF .tab,
tab_panel.mat_h25:active .tab,tab_panel.mat_h25_gsF:active .tab,
tab_panel.mat_h30:active .tab,tab_panel.mat_h30_gsF:active .tab,
tab_panel.mat_h35:active .tab,tab_panel.mat_h35_gsF:active .tab
{
  background-image: none; background-color: rgba(0,0,0,0);
  border-bottom-style: solid;
  border-bottom-width: 4pt;
  border-bottom-color: rgba(255,255,255,0);/* 0.1 */
}

tab_panel.mat_h25:hover .tab, tab_panel.mat_h25_gsF:hover .tab,
tab_panel.mat_h30:hover .tab, tab_panel.mat_h30_gsF:hover .tab,
tab_panel.mat_h35:hover .tab, tab_panel.mat_h35_gsF:hover .tab,
button_bar_segment.mat_h25:hover .self, button_bar_segment.mat_h25_gsF:hover .self,
button_bar_segment.mat_h30:hover .self, button_bar_segment.mat_h30_gsF:hover .self,
button_bar_segment.mat_h35:hover .self, button_bar_segment.mat_h35_gsF:hover .self
{
  background-image: none; background-color: rgba(77,77,77,0);/* 0.1 */
  border-color: rgba(77,77,77,0);/* 0.1 */
}

tab_panel.mat_h25:active .tab,
tab_panel.mat_h30:active .tab,
tab_panel.mat_h35:active .tab,
button_bar_segment.mat_h25:active .self,
button_bar_segment.mat_h30:active .self,
button_bar_segment.mat_h35:active .self
{
  border-bottom-color: #AAA;/* theme_colors */
}
tab_panel.mat_h25_gsF:active .tab,
tab_panel.mat_h30_gsF:active .tab,
tab_panel.mat_h35_gsF:active .tab,
button_bar_segment.mat_h25_gsF:active .self,
button_bar_segment.mat_h30_gsF:active .self,
button_bar_segment.mat_h35_gsF:active .self
{
  border-bottom-color: #FFF;
}

/*
tab_panel.tab_mat:focus .tab {box-shadow: none;}
*/

tab_panel.mat_h25 .tab_inner_border, tab_panel.mat_h25_gsF .tab_inner_border
{padding: 2pt 3pt 0pt 3pt;}
tab_panel.mat_h30 .tab_inner_border, tab_panel.mat_h30_gsF .tab_inner_border
{padding: 3pt 3pt 0pt 3pt;}
tab_panel.mat_h35 .tab_inner_border, tab_panel.mat_h35_gsF .tab_inner_border
{padding: 4pt 3pt 0pt 3pt;}



/*EAR(Control>SELF)*/
tab_control.ear_h25 .self, tab_control.ear_h25_lite .self,
tab_control.ear_h30 .self, tab_control.ear_h30_lite .self,
tab_control.ear_h35 .self, tab_control.ear_h35_lite .self
{
  background-image: none;background-color: rgba(0,0,0,0);
  border-style: none;border-width: 0pt;border-color: rgba(0,0,0,0);border-radius: 0pt;
  font-style: normal;
  font-size: 12pt;
  -fm-tab-spacing: -1;
  text-align: left;
}
tab_control.ear_h25:normal .self, tab_control.ear_h25_lite:normal .self,
tab_control.ear_h30:normal .self, tab_control.ear_h30_lite:normal .self,
tab_control.ear_h35:normal .self, tab_control.ear_h35_lite:normal .self
{color: #666;}/* theme_colors */
tab_control.ear_h25:hover .self, tab_control.ear_h25_lite:hover .self,
tab_control.ear_h30:hover .self, tab_control.ear_h30_lite:hover .self,
tab_control.ear_h35:hover .self, tab_control.ear_h35_lite:hover .self
{color: #FFF;}
tab_control.ear_h25:active .self, tab_control.ear_h25_lite:active .self,
tab_control.ear_h30:active .self, tab_control.ear_h30_lite:active .self,
tab_control.ear_h35:active .self, tab_control.ear_h35_lite:active .self
{color: #FFF;}/*:checked*/
tab_control.ear_h25 .self, tab_control.ear_h25_lite .self {font-size: 12pt;}
tab_control.ear_h30 .self, tab_control.ear_h30_lite .self {font-size: 14pt;}
tab_control.ear_h35 .self, tab_control.ear_h35_lite .self {font-size: 16pt;}

/*EAR(Panel>SELF)*/
tab_panel.ear_h25 .self, tab_panel.ear_h25_lite .self,
tab_panel.ear_h30 .self, tab_panel.ear_h30_lite .self,
tab_panel.ear_h35 .self, tab_panel.ear_h35_lite .self
{/*:normal*/
  background-image: none; background-color: rgba(0,0,0,0);
  border-style: none; border-width: 0pt; border-radius: 0pt; border-color: rgba(0,0,0,0);
}
/*
tab_panel:hover .self,
tab_panel:active .self,
tab_panel:activefocus .self
{
  box-shadow: none;
}

tab_panel:normal .inner_border {
  border-radius: 0pt;
}
*/

/*EAR(Panel>TAB)*/
tab_panel.ear_h25 .tab,
tab_panel.ear_h30 .tab,
tab_panel.ear_h35 .tab
{
  border-color: #AAA;
  border-top-style: solid; border-right-style: solid; border-left-style: solid;
  border-top-width: 1pt;  border-right-width: 1pt;  border-left-width: 1pt;
  box-shadow: none;
}
tab_panel.ear_h25_lite .tab,
tab_panel.ear_h30_lite .tab,
tab_panel.ear_h35_lite .tab
{
  background-image: none; background-color: rgba(0,0,0,0);
  border-style: none; border-width: 0pt; border-color: #AAA;
  box-shadow: none;
}
tab_panel.ear_h25:normal .tab,
tab_panel.ear_h30:normal .tab,
tab_panel.ear_h35:normal .tab
{background-color: #EEE;}
tab_panel.ear_h25:hover .tab,tab_panel.ear_h25_lite:hover .tab,
tab_panel.ear_h30:hover .tab,tab_panel.ear_h30_lite:hover .tab,
tab_panel.ear_h35:hover .tab,tab_panel.ear_h35_lite:hover .tab
{background-color: rgba(77,77,77,0.1);}
/*
tab_panel.tab_ear:focus .tab {}
tab_panel.tab_ear:active .tab {}
tab_panel.tab_ear:checked .tab {}
*/

tab_panel.ear_h25 .tab_inner_border,tab_panel.ear_h25_lite .tab_inner_border {
  margin: -7pt 0pt;
  padding: 7pt 3pt 3pt 3pt;
}
tab_panel.ear_h30 .tab_inner_border,tab_panel.ear_h30_lite .tab_inner_border {
  margin: -7pt 0pt;
  padding: 7pt 3pt 4pt 3pt;
}
tab_panel.ear_h35 .tab_inner_border,tab_panel.ear_h35_lite .tab_inner_border {
  margin: -7pt 0pt;
  padding: 9pt 3pt 3pt 3pt;/*7pt 3pt 0pt 3pt;*/
}

/*EAR(Panel>TEXT)*/
/*
tab_panel.tab_ear:hover .text {color:#FFF;}
tab_panel.tab_ear:active .text {color: #FFF;}
*/

/*EAR(Panel>PANEL)*/
tab_panel.ear_h25 .panel,tab_panel.ear_h25_lite .panel,
tab_panel.ear_h30 .panel,tab_panel.ear_h30_lite .panel,
tab_panel.ear_h35 .panel,tab_panel.ear_h35_lite .panel
{
  background-image: none;
  background-color: #F6F6F6;
  border-style: solid;
  border-width: 6pt 1pt 1pt 1pt;
  /*border-color: #A9D;*/
}



/** SLIDE CONTROL -----------------------*/
dot_control:normal .self {
  box-sizing: border-box;/* ! */
  /*border-image-source: none;*/
  border-style: none; border-width: 0pt; border-radius: 0pt; border-color: rgba(0,0,0,0);
  background-image: none; background-color: rgba(0,0,0,0);
  box-shadow: none;
}

dot_control:normal .inner_border {
  position: static;
  width: auto;
  height: auto;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  
  padding: 0pt;
  margin: 0pt;
  
  border-style: none; border-width: 0pt; border-radius: 0pt; border-color: rgba(0,0,0,0);
}

dot_control:normal .contents {
  box-sizing: border-box;
  position: absolute;
  top: 0pt;
  right: 0pt;
  bottom: 25pt;/* ! */
  left: 0pt;
  
  border-style: solid; border-width: 1pt; border-radius: 0pt; border-color: #CCC;
  background-image: none; background-color: rgba(255,255,255,0.42);/*#FCFCFC*/
  box-shadow: none;
}

dot_control:normal .dot_container {
  box-sizing: border-box;
  position: absolute;
  top: auto;
  right: 0pt;
  bottom: 0pt;
  left: 0pt;
  
  width: auto;
  height: 25pt;/* ! */
}



dot_control:normal .dot {
  position: static;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  
  width: 9pt;height: 9pt;
  margin-left: 0.33em;
  background-image: none; background-color: rgba(163,163,163,0.42)/*#AAA; rgba(202,206,209,1)*/
  border-style: none; border-width: 0pt; border-color: rgba(0,0,0,0);
  border-radius: 50%;
}
dot_control:active .dot {
  background-image: none; background-color: #333;/* theme_colors */
  border-style: none; border-width: 0pt; border-color: rgba(0,0,0,0);
  border-radius: 50%;
}



/** (slide_control) .def .ear .min */
dot_control.def_h20 .contents, dot_control.min_h20 .contents
{bottom: 20pt;}
dot_control.def_h25 .contents, dot_control.min_h25 .contents
{bottom: 25pt;}
dot_control.def_h30 .contents, dot_control.min_h30 .contents
{bottom: 30pt;}
dot_control.def_h35 .contents, dot_control.min_h35 .contents
{bottom: 35pt;}
dot_control.ear_h20 .contents, dot_control.ear_h20_gsF .contents,
dot_control.ear_h25 .contents, dot_control.ear_h25_gsF .contents,
dot_control.ear_h30 .contents, dot_control.ear_h30_gsF .contents,
dot_control.ear_h35 .contents, dot_control.ear_h35_gsF .contents
{bottom: 0pt;}

dot_control.def_h20 .dot_container, dot_control.min_h20 .dot_container,
dot_control.ear_h20 .dot_container, dot_control.ear_h20_gsF .dot_container
{height: 20pt;}
dot_control.def_h25 .dot_container, dot_control.min_h25 .dot_container,
dot_control.ear_h25 .dot_container, dot_control.ear_h25_gsF .dot_container
{height: 25pt;}
dot_control.def_h30 .dot_container, dot_control.min_h30 .dot_container,
dot_control.ear_h30 .dot_container, dot_control.ear_h30_gsF .dot_container
{height: 30pt;}
dot_control.def_h35 .dot_container, dot_control.min_h35 .dot_container,
dot_control.ear_h35 .dot_container, dot_control.ear_h35_gsF .dot_container
{height: 35pt;}

dot_control.def_h20 .dot, dot_control.min_h20 .dot,
dot_control.ear_h20 .dot, dot_control.ear_h20_gsF .dot
{width:  9pt;height:  9pt; margin-right:  9pt;}
dot_control.def_h25 .dot, dot_control.min_h25 .dot,
dot_control.ear_h25 .dot, dot_control.ear_h25_gsF .dot
{width: 12pt;height: 12pt; margin-right: 12pt;}
dot_control.def_h30 .dot, dot_control.min_h30 .dot,
dot_control.ear_h30 .dot, dot_control.ear_h30_gsF .dot
{width: 14pt;height: 14pt; margin-right: 14pt;}
dot_control.def_h35 .dot, dot_control.min_h35 .dot,
dot_control.ear_h35 .dot, dot_control.ear_h35_gsF .dot
{width: 18pt;height: 18pt; margin-right: 18pt;}
dot_control.ear_h20 .dot,
dot_control.ear_h25 .dot,
dot_control.ear_h30 .dot,
dot_control.ear_h35 .dot
{
  border-style: solid; border-width: 2pt; border-color: #333;
  background-image: none; background-color: rgba(255,255,255,0.42);
}
dot_control.ear_h20_gsF .dot,
dot_control.ear_h25_gsF .dot,
dot_control.ear_h30_gsF .dot,
dot_control.ear_h35_gsF .dot
{
  border-style: solid; border-width: 2pt; border-color: #FFF;
  background-image: none; background-color: rgba(255,255,255,0.42);
}
dot_control.ear_h20:active .dot,
dot_control.ear_h25:active .dot,
dot_control.ear_h30:active .dot,
dot_control.ear_h35:active .dot
{background-color: #333;}
dot_control.ear_h20_gsF:active .dot,
dot_control.ear_h25_gsF:active .dot,
dot_control.ear_h30_gsF:active .dot,
dot_control.ear_h35_gsF:active .dot
{background-color: #FFF;}

dot_control.min_h20 .self,
dot_control.min_h25 .self,
dot_control.min_h30 .self,
dot_control.min_h35 .self
{}
dot_control.min_h20:normal .contents,
dot_control.min_h25:normal .contents,
dot_control.min_h30:normal .contents,
dot_control.min_h35:normal .contents
{
  border-color: rgba(0,0,0,0);/*border-image-source: none;*/
  background-image: none; background-color: transparent;
}






/**  ---------------------------------*/
/** (btn)mat_hNN */
button_bar_segment.mat_h25 .self, button_bar_segment.mat_h25_gsF .self,
button_bar_segment.mat_h30 .self, button_bar_segment.mat_h30_gsF .self,
button_bar_segment.mat_h35 .self, button_bar_segment.mat_h35_gsF .self
{
  border-style: none; border-width: 0pt; border-radius: 0pt; border-color: rgba(0,0,0,0);
  border-bottom-style: solid;
  border-bottom-width: 4pt;
  border-color: rgba(255,255,255,0.1);
  background-image: none; background-color: rgba(0,0,0,0);
}
button_bar_segment.mat_h25:active .self,
button_bar_segment.mat_h30:active .self,
button_bar_segment.mat_h35:active .self
{border-color: #333;}
button_bar_segment.mat_h25_gsF:active .self,
button_bar_segment.mat_h30_gsF:active .self,
button_bar_segment.mat_h35_gsF:active .self
{border-color: #FFF;}

button_bar_segment.mat_h25:pressed .self, button_bar_segment.mat_h25_gsF:pressed .self,
button_bar_segment.mat_h30:pressed .self, button_bar_segment.mat_h30_gsF:pressed .self,
button_bar_segment.mat_h35:pressed .self, button_bar_segment.mat_h35_gsF:pressed .self
{
  border-color: rgba(212,212,212,0.48);
  background-image: none; background-color: rgba(212,212,212,0.48);
}



button_bar_segment.mat_h25 .inner_border, button_bar_segment.mat_h25_gsF .inner_border,
button_bar_segment.mat_h30 .inner_border, button_bar_segment.mat_h30_gsF .inner_border,
button_bar_segment.mat_h35 .inner_border, button_bar_segment.mat_h35_gsF .inner_border,
button_bar_segment.mat_h25:hover .inner_border, button_bar_segment.mat_h25_gsF:hover .inner_border,
button_bar_segment.mat_h30:hover .inner_border, button_bar_segment.mat_h30_gsF:hover .inner_border,
button_bar_segment.mat_h35:hover .inner_border, button_bar_segment.mat_h35_gsF:hover .inner_border,
button_bar_segment.mat_h25:pressed .inner_border, button_bar_segment.mat_h25_gsF:pressed .inner_border,
button_bar_segment.mat_h30:pressed .inner_border, button_bar_segment.mat_h30_gsF:pressed .inner_border,
button_bar_segment.mat_h35:pressed .inner_border, button_bar_segment.mat_h35_gsF:pressed .inner_border
{
  box-shadow: none;
}


