/** FIELD ==================================================================*/
/**  ----------------------------------------------------------*/
field:placeholder .self,

edit_box:placeholder .self,
text_area:placeholder .self,
drop_down:placeholder .self,
pop_up:placeholder .self,
calendar:placeholder .self,
container:placeholder .self
{color: #999;}



field .repeat_border {
  border-bottom-style: solid; border-bottom-width: 1pt; border-bottom-color: #CCC;
}
field .self {
  border-style: solid; border-width: 1pt; border-radius: 1pt; border-color: #CCC;
  background-color: #FFF;
  font-style: normal; font-family: -fm-font-family(メイリオ, shiftjis);
  font-size: 12pt; color: #333;
  line-height: 0.8line;
  text-align: left;
}
edit_box:normal .self,
text_area:normal .self,
drop_down:normal .self,
pop_up:normal .self
{font-family: -fm-font-family(メイリオ, shiftjis);}



field .inner_border {
  border-radius: 0pt;
}

field .text {
  box-sizing: border-box;
  position: absolute;
  left: 0pt;
  top: 0pt;
  bottom: 0pt;
  right: 0pt;
  margin-top: 2pt;
  margin-right: 4.2pt;
  margin-bottom: -4.8pt;
  margin-left: 4.2pt;
  padding: 0pt;
}

field:hover .self {
  
}

field:focus .self {
  border-color: #6699C6;
  background-color: #EFF6FF;
  box-shadow: 0pt 0pt 2pt 1pt #72A8FB;
}

field .baseline {
  border-bottom-style: none; border-bottom-width: 0pt; border-bottom-color: rgba(0,0,0,0);
}

field:droptarget .inner_border {
  box-shadow: 0pt 0pt 2pt 1pt #72A8FB inset;
}



/** (FIELD) .vew ----------------------------------------------------------*/
edit_box.vew_p10h14:normal .self,
edit_box.vew_p10h19:normal .self,
edit_box.vew_p11h14:normal .self,
edit_box.vew_p11h19:normal .self,
edit_box.vew_p11h21:normal .self,
edit_box.vew_p12h19:normal .self,
edit_box.vew_p12h21:normal .self,
edit_box.vew_p12h24:normal .self,
edit_box.vew_p12h26:normal .self,
edit_box.vew_p12h29:normal .self,
edit_box.vew_p13h24:normal .self,
edit_box.vew_p13h26:normal .self,
edit_box.vew_p14h24:normal .self,
edit_box.vew_p14h26:normal .self,
edit_box.vew_p14h29:normal .self,
edit_box.vew_p16h24:normal .self,
edit_box.vew_p16h26:normal .self,
edit_box.vew_p16h29:normal .self
{
  border-style: solid; border-width: 1pt;
  background-color: #FFF;
}



/** (FIELD) .min ----------------------------------------------------------*/
edit_box.min_p10h14:normal .repeat_border,
edit_box.min_p10h19:normal .repeat_border,
edit_box.min_p11h14:normal .repeat_border,
edit_box.min_p11h19:normal .repeat_border,
edit_box.min_p11h21:normal .repeat_border,
edit_box.min_p12h19:normal .repeat_border,
edit_box.min_p12h21:normal .repeat_border,
edit_box.min_p12h24:normal .repeat_border,
edit_box.min_p12h26:normal .repeat_border,
edit_box.min_p12h29:normal .repeat_border,
edit_box.min_p13h24:normal .repeat_border,
edit_box.min_p13h26:normal .repeat_border,
edit_box.min_p14h24:normal .repeat_border,
edit_box.min_p14h26:normal .repeat_border,
edit_box.min_p14h29:normal .repeat_border,
edit_box.min_p16h24:normal .repeat_border,
edit_box.min_p16h26:normal .repeat_border,
edit_box.min_p16h29:normal .repeat_border
{
  border-bottom-color: rgba(0,0,0,0);
}
edit_box.min_p10h14:normal .self,
edit_box.min_p10h19:normal .self,
edit_box.min_p11h14:normal .self,
edit_box.min_p11h19:normal .self,
edit_box.min_p11h21:normal .self,
edit_box.min_p12h19:normal .self,
edit_box.min_p12h21:normal .self,
edit_box.min_p12h24:normal .self,
edit_box.min_p12h26:normal .self,
edit_box.min_p12h29:normal .self,
edit_box.min_p13h24:normal .self,
edit_box.min_p13h26:normal .self,
edit_box.min_p14h24:normal .self,
edit_box.min_p14h26:normal .self,
edit_box.min_p14h29:normal .self,
edit_box.min_p16h24:normal .self,
edit_box.min_p16h26:normal .self,
edit_box.min_p16h29:normal .self
{
  border-style: none; border-width: 0pt; border-radius: 0pt;
  background-color: rgba(0,0,0,0);
}



/** (FIELD) .edt ----------------------------------------------------------*/
edit_box.edt_p10h14:normal .repeat_border,
edit_box.edt_p10h19:normal .repeat_border,
edit_box.edt_p11h14:normal .repeat_border,
edit_box.edt_p11h19:normal .repeat_border,
edit_box.edt_p11h21:normal .repeat_border,
edit_box.edt_p12h19:normal .repeat_border,
edit_box.edt_p12h21:normal .repeat_border,
edit_box.edt_p12h24:normal .repeat_border,
edit_box.edt_p12h26:normal .repeat_border,
edit_box.edt_p12h29:normal .repeat_border,
edit_box.edt_p13h24:normal .repeat_border,
edit_box.edt_p13h26:normal .repeat_border,
edit_box.edt_p14h24:normal .repeat_border,
edit_box.edt_p14h26:normal .repeat_border,
edit_box.edt_p14h29:normal .repeat_border,
edit_box.edt_p16h24:normal .repeat_border,
edit_box.edt_p16h26:normal .repeat_border,
edit_box.edt_p16h29:normal .repeat_border,

edit_box.edt_p12h25_stroke0111:normal .repeat_border,
edit_box.edt_p12h30_stroke0111:normal .repeat_border,
calendar:normal  .repeat_border,
drop_down:normal .repeat_border,
pop_up:normal    .repeat_border
{
  border-bottom-color: #BBB;
}
edit_box.edt_p10h14:normal .self,
edit_box.edt_p10h19:normal .self,
edit_box.edt_p11h14:normal .self,
edit_box.edt_p11h19:normal .self,
edit_box.edt_p11h21:normal .self,
edit_box.edt_p12h19:normal .self,
edit_box.edt_p12h21:normal .self,
edit_box.edt_p12h24:normal .self,
edit_box.edt_p12h26:normal .self,
edit_box.edt_p12h29:normal .self,
edit_box.edt_p13h24:normal .self,
edit_box.edt_p13h26:normal .self,
edit_box.edt_p14h24:normal .self,
edit_box.edt_p14h26:normal .self,
edit_box.edt_p14h29:normal .self,
edit_box.edt_p16h24:normal .self,
edit_box.edt_p16h26:normal .self,
edit_box.edt_p16h29:normal .self,

edit_box.edt_p12h25_stroke0111:normal .self,
edit_box.edt_p12h30_stroke0111:normal .self,
calendar:normal  .self,
drop_down:normal .self,
pop_up:normal    .self
{
  border-style: solid; border-width: 1pt; border-color: #BBB;
  background-color: #FFF;
}
pop_up:normal .self
{
  background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(#FFF), to(#F3F3F3));
}

 edit_box.edt_p12h25_stroke0111:normal .self,
 calendar.edt_p12h25_stroke0111:normal .self,
drop_down.edt_p12h25_stroke0111:normal .self,
   pop_up.edt_p12h25_stroke0111:normal .self,
 edit_box.edt_p12h30_stroke0111:normal .self,
 calendar.edt_p12h30_stroke0111:normal .self,
drop_down.edt_p12h30_stroke0111:normal .self,
   pop_up.edt_p12h30_stroke0111:normal .self
{
  border-top-color: #EEE;
}
 edit_box.edt_p12h25_stroke0111:hover .self,
 calendar.edt_p12h25_stroke0111:hover .self,
drop_down.edt_p12h25_stroke0111:hover .self,
   pop_up.edt_p12h25_stroke0111:hover .self,
 edit_box.edt_p12h30_stroke0111:hover .self,
 calendar.edt_p12h30_stroke0111:hover .self,
drop_down.edt_p12h30_stroke0111:hover .self,
   pop_up.edt_p12h30_stroke0111:hover .self
{
  border-top-color: #DDD;
}



text_area:normal .text,
calendar:normal  .text,
drop_down:normal .text,
pop_up:normal    .text
{right: 17pt;}



/** BOX SHADOW */
edit_box.edt_p10h14:normal .inner_border,
edit_box.edt_p10h19:normal .inner_border,
edit_box.edt_p11h14:normal .inner_border,
edit_box.edt_p11h19:normal .inner_border,
edit_box.edt_p11h21:normal .inner_border,
edit_box.edt_p12h19:normal .inner_border,
edit_box.edt_p12h21:normal .inner_border,
edit_box.edt_p12h24:normal .inner_border,
edit_box.edt_p12h26:normal .inner_border,
edit_box.edt_p12h29:normal .inner_border,
edit_box.edt_p13h24:normal .inner_border,
edit_box.edt_p13h26:normal .inner_border,
edit_box.edt_p14h24:normal .inner_border,
edit_box.edt_p14h26:normal .inner_border,
edit_box.edt_p14h29:normal .inner_border,
edit_box.edt_p16h24:normal .inner_border,
edit_box.edt_p16h26:normal .inner_border,
edit_box.edt_p16h29:normal .inner_border,
edit_box.edt_p12h25_stroke0111:normal .inner_border,
edit_box.edt_p12h30_stroke0111:normal .inner_border,

calendar:normal  .inner_border,
drop_down:normal .inner_border,
pop_up:normal    .inner_border
{
  box-shadow: inset 0pt 0pt 2pt 0pt rgba(85,85,85,0.18);
}

edit_box.edt_p10h14:hover .inner_border,
edit_box.edt_p10h19:hover .inner_border,
edit_box.edt_p11h14:hover .inner_border,
edit_box.edt_p11h19:hover .inner_border,
edit_box.edt_p11h21:hover .inner_border,
edit_box.edt_p12h19:hover .inner_border,
edit_box.edt_p12h21:hover .inner_border,
edit_box.edt_p12h24:hover .inner_border,
edit_box.edt_p12h26:hover .inner_border,
edit_box.edt_p12h29:hover .inner_border,
edit_box.edt_p13h24:hover .inner_border,
edit_box.edt_p13h26:hover .inner_border,
edit_box.edt_p14h24:hover .inner_border,
edit_box.edt_p14h26:hover .inner_border,
edit_box.edt_p14h29:hover .inner_border,
edit_box.edt_p16h24:hover .inner_border,
edit_box.edt_p16h26:hover .inner_border,
edit_box.edt_p16h29:hover .inner_border,
/*
edit_box.edt_p12h25_stroke0111:hover .inner_border,
edit_box.edt_p12h30_stroke0111:hover .inner_border,
*/

calendar:hover  .inner_border,
drop_down:hover .inner_border,
pop_up:hover    .inner_border
{
  box-shadow: inset 0.2pt 0.2pt 2pt 0pt rgba(85,85,85,0.36);
  box-shadow: inset 0.2pt 0.2pt 2.5pt 0pt rgba(85,85,85,0.32);
}
 edit_box.edt_p12h25_stroke0111:hover .inner_border,
 calendar.edt_p12h25_stroke0111:hover .inner_border,
drop_down.edt_p12h25_stroke0111:hover .inner_border,
   pop_up.edt_p12h25_stroke0111:hover .inner_border,
 edit_box.edt_p12h30_stroke0111:hover .inner_border,
 calendar.edt_p12h30_stroke0111:hover .inner_border,
drop_down.edt_p12h30_stroke0111:hover .inner_border,
   pop_up.edt_p12h30_stroke0111:hover .inner_border
{
  box-shadow: inset 0.2pt 0.2pt 3pt 0pt rgba(85,85,85,0.24);
}

/*
edit_box.edt_p10h14:focus .self,
edit_box.edt_p10h19:focus .self,
edit_box.edt_p11h14:focus .self,
edit_box.edt_p11h19:focus .self,
edit_box.edt_p11h21:focus .self,
edit_box.edt_p12h19:focus .self,
edit_box.edt_p12h21:focus .self,
edit_box.edt_p12h24:focus .self,
edit_box.edt_p12h26:focus .self,
edit_box.edt_p12h29:focus .self,
edit_box.edt_p13h24:focus .self,
edit_box.edt_p13h26:focus .self,
edit_box.edt_p14h24:focus .self,
edit_box.edt_p14h26:focus .self,
edit_box.edt_p16h29:focus .self,
edit_box.edt_p16h24:focus .self,
edit_box.edt_p16h26:focus .self,
edit_box.edt_p16h29:focus .self,
edit_box.edt_p12h25_stroke0111:focus .self,
edit_box.edt_p12h30_stroke0111:focus .self,
*/
edit_box:focus  .self,
calendar:focus  .self,
drop_down:focus .self,
pop_up:focus    .self,
text_area:focus    .self
{
  border-color: #6699C6;
  background-color: #EFF6FF;
  box-shadow: 0pt 0pt 2pt 1pt #72A8FB;
}






/** (FIELD) ALL ----------------------------------------------------------*/
/** FONT SIZE */
 edit_box.vew_p10h14 .self,  edit_box.vew_p10h19 .self,
 edit_box.min_p10h14 .self,  edit_box.min_p10h19 .self,
 edit_box.edt_p10h14 .self,  edit_box.edt_p10h19 .self,
 calendar.edt_p10h14 .self,  calendar.edt_p10h19 .self,
drop_down.edt_p10h14 .self, drop_down.edt_p10h19 .self,
   pop_up.edt_p10h14 .self,    pop_up.edt_p10h19 .self
{font-size: 10pt;}

 edit_box.vew_p11h14 .self,  edit_box.vew_p11h19 .self,  edit_box.vew_p11h21 .self,
 edit_box.min_p11h14 .self,  edit_box.min_p11h19 .self,  edit_box.min_p11h21 .self,
 edit_box.edt_p11h14 .self,  edit_box.edt_p11h19 .self,  edit_box.edt_p11h21 .self,
 calendar.edt_p11h14 .self,  calendar.edt_p11h19 .self,  calendar.edt_p11h21 .self,
drop_down.edt_p11h14 .self, drop_down.edt_p11h19 .self, drop_down.edt_p11h21 .self,
   pop_up.edt_p11h14 .self,    pop_up.edt_p11h19 .self,    pop_up.edt_p11h21 .self
{font-size: 11pt;}
/*
 edit_box.vew_p12h19 .self,  edit_box.vew_p12h21 .self,
 edit_box.min_p12h19 .self,  edit_box.min_p12h21 .self,
 edit_box.edt_p12h19 .self,  edit_box.edt_p12h21 .self,

 calendar.edt_p12h19 .self,  calendar.edt_p12h21 .self,
drop_down.edt_p12h19 .self, drop_down.edt_p12h21 .self,
   pop_up.edt_p12h19 .self,    pop_up.edt_p12h21 .self,

 edit_box.vew_p12h24 .self,  edit_box.vew_p12h26 .self,
 edit_box.min_p12h24 .self,  edit_box.min_p12h26 .self,
 edit_box.edt_p12h24 .self,  edit_box.edt_p12h26 .self,

 calendar.edt_p12h24 .self,  calendar.edt_p12h26 .self,
drop_down.edt_p12h24 .self, drop_down.edt_p12h26 .self,
   pop_up.edt_p12h24 .self,    pop_up.edt_p12h26 .self,
 
 edit_box.vew_p12h29 .self,
 edit_box.min_p12h29 .self,
 edit_box.edt_p12h29 .self,
 
 calendar.edt_p12h29 .self,
drop_down.edt_p12h29 .self,
   pop_up.edt_p12h29 .self
{font-size: 12pt;}
*/
 edit_box.vew_p13h24 .self,  edit_box.vew_p13h26 .self,
 edit_box.min_p13h24 .self,  edit_box.min_p13h26 .self,
 edit_box.edt_p13h24 .self,  edit_box.edt_p13h26 .self,
 calendar.edt_p13h24 .self,  calendar.edt_p13h26 .self,
drop_down.edt_p13h24 .self, drop_down.edt_p13h26 .self,
   pop_up.edt_p13h24 .self,    pop_up.edt_p13h26 .self,
{font-size: 13pt;}

 edit_box.vew_p14h24 .self,  edit_box.vew_p14h26 .self,  edit_box.vew_p14h29 .self,
 edit_box.min_p14h24 .self,  edit_box.min_p14h26 .self,  edit_box.min_p14h29 .self,
 edit_box.edt_p14h24 .self,  edit_box.edt_p14h26 .self,  edit_box.edt_p14h29 .self,
 calendar.edt_p14h24 .self,  calendar.edt_p14h26 .self,  calendar.edt_p14h29 .self,
drop_down.edt_p14h24 .self, drop_down.edt_p14h26 .self, drop_down.edt_p14h29 .self,
   pop_up.edt_p14h24 .self,    pop_up.edt_p14h26 .self,    pop_up.edt_p14h29 .self
{font-size: 14pt;}

 edit_box.vew_p16h24 .self,  edit_box.vew_p16h26 .self,  edit_box.vew_p16h29 .self,
 edit_box.min_p16h24 .self,  edit_box.min_p16h26 .self,  edit_box.min_p16h29 .self,
 edit_box.edt_p16h24 .self,  edit_box.edt_p16h26 .self,  edit_box.edt_p16h29 .self,
 calendar.edt_p16h24 .self,  calendar.edt_p16h26 .self,  calendar.edt_p16h29 .self,
drop_down.edt_p16h24 .self, drop_down.edt_p16h26 .self, drop_down.edt_p16h29 .self,
   pop_up.edt_p16h24 .self,    pop_up.edt_p16h26 .self,    pop_up.edt_p16h29 .self
{font-size: 16pt;}



/** MARGIN */
 edit_box.vew_p10h14 .text,
 edit_box.min_p10h14 .text,
 edit_box.edt_p10h14 .text,
 calendar.edt_p10h14 .text,
drop_down.edt_p10h14 .text,
   pop_up.edt_p10h14 .text
{
  margin-top: -1.2pt; margin-bottom: -7.2pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p10h19 .text,
 edit_box.min_p10h19 .text,
 edit_box.edt_p10h19 .text,
 calendar.edt_p10h19 .text,
drop_down.edt_p10h19 .text,
   pop_up.edt_p10h19 .text
{
  margin-top: 1pt; margin-bottom: -3.6pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p11h14 .text,
 edit_box.min_p11h14 .text,
 edit_box.edt_p11h14 .text,
 calendar.edt_p11h14 .text,
drop_down.edt_p11h14 .text,
   pop_up.edt_p11h14 .text
{
  margin-top: -1.8pt; margin-bottom: -7.8pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p11h19 .text,
 edit_box.min_p11h19 .text,
 edit_box.edt_p11h19 .text,
 calendar.edt_p11h19 .text,
drop_down.edt_p11h19 .text,
   pop_up.edt_p11h19 .text
{
  margin-top: 0pt; margin-bottom: -4.8pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p11h21 .text,
 edit_box.min_p11h21 .text,
 edit_box.edt_p11h21 .text,
 calendar.edt_p11h21 .text,
drop_down.edt_p11h21 .text,
   pop_up.edt_p11h21 .text
{
  margin-top: 0pt; margin-bottom: -7.7pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p12h19 .text,
 edit_box.min_p12h19 .text,
 edit_box.edt_p12h19 .text,
 calendar.edt_p12h19 .text,
drop_down.edt_p12h19 .text,
   pop_up.edt_p12h19 .text
{
  margin-top: -0.3pt; margin-bottom: -5.4pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p12h21 .text,
 edit_box.min_p12h21 .text,
 edit_box.edt_p12h21 .text,
 calendar.edt_p12h21 .text,
drop_down.edt_p12h21 .text,
   pop_up.edt_p12h21 .text
{
  margin-top: 0pt; margin-bottom: -7.7pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p12h24 .text,
 edit_box.min_p12h24 .text,
 edit_box.edt_p12h24 .text,
 calendar.edt_p12h24 .text,
drop_down.edt_p12h24 .text,
   pop_up.edt_p12h24 .text,
 edit_box.edt_p12h25_stroke0111 .text,
 calendar.edt_p12h25_stroke0111.text,
drop_down.edt_p12h25_stroke0111 .text,
   pop_up.edt_p12h25_stroke0111 .text
{
  /*margin-top: 2.2pt; margin-bottom: -4.8pt;*/
  margin-top: 2.4pt; margin-bottom: -4.2pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p12h26 .text,
 edit_box.min_p12h26 .text,
 edit_box.edt_p12h26 .text,
 calendar.edt_p12h26 .text,
drop_down.edt_p12h26 .text,
   pop_up.edt_p12h26 .text
{
  /*margin-top: 3pt; margin-bottom: -3pt;*/
  margin-top: 3.2pt; margin-bottom: -4.7pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p12h29 .text,
 edit_box.min_p12h29 .text,
 edit_box.edt_p12h29 .text,
 calendar.edt_p12h29 .text,
drop_down.edt_p12h29 .text,
   pop_up.edt_p12h29 .text,
 edit_box.edt_p12h30_stroke0111 .text,
 calendar.edt_p12h30_stroke0111 .text,
drop_down.edt_p12h30_stroke0111 .text,
   pop_up.edt_p12h30_stroke0111 .text
{
  margin-top: 4pt; margin-bottom: -4.7pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p13h24 .text,  edit_box.vew_p14h24 .text,
 edit_box.min_p13h24 .text,  edit_box.min_p14h24 .text,
 edit_box.edt_p13h24 .text,  edit_box.edt_p14h24 .text,
 calendar.edt_p13h24 .text,  calendar.edt_p14h24 .text,
drop_down.edt_p13h24 .text, drop_down.edt_p14h24 .text,
   pop_up.edt_p13h24 .text,    pop_up.edt_p14h24 .text
{
  margin-top: 1pt; margin-bottom: -4.8pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p13h26 .text,
 edit_box.min_p13h26 .text,
 edit_box.edt_p13h26 .text,
 calendar.edt_p13h26 .text,
drop_down.edt_p13h26 .text,
   pop_up.edt_p13h26 .text,

 edit_box.vew_p14h26 .text,
 edit_box.min_p14h26 .text,
 edit_box.edt_p14h26 .text,
 calendar.edt_p14h26 .text,
drop_down.edt_p14h26 .text,
   pop_up.edt_p14h26 .text
{
  margin-top: 2.2pt; margin-bottom: -4.2pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p16h26 .text,
 edit_box.min_p16h26 .text,
 edit_box.edt_p16h26 .text,
 calendar.edt_p16h26 .text,
drop_down.edt_p16h26 .text,
   pop_up.edt_p16h26 .text
{
  margin-top: 0.2pt; margin-bottom: -5.7pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p14h29 .text,
 edit_box.min_p14h29 .text,
 edit_box.edt_p14h29 .text,
 calendar.edt_p14h29 .text,
drop_down.edt_p14h29 .text,
   pop_up.edt_p14h29 .text
{
  margin-top: 3pt; margin-bottom: -4.8pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p16h24 .text,
 edit_box.min_p16h24 .text,
 edit_box.edt_p16h24 .text,
 calendar.edt_p16h24 .text,
drop_down.edt_p16h24 .text,
   pop_up.edt_p16h24 .text
{
  margin-top: -0.7pt; margin-bottom: -7pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}

 edit_box.vew_p16h29 .text,
 edit_box.min_p16h29 .text,
 edit_box.edt_p16h29 .text,
 calendar.edt_p16h29 .text,
drop_down.edt_p16h29 .text,
   pop_up.edt_p16h29 .text
{
  margin-top: 1.6pt; margin-bottom: -6pt;
  margin-right: 4.2pt; margin-left: 4.2pt;
}






/*field:normal .icon,*/
calendar:normal .icon,
drop_down:normal .icon
{
  box-sizing: border-box;
  position: absolute;
  top: 0pt;
  bottom: 0pt;
  right: 0pt;
  width: 17pt;
  padding-top: -1pt;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F3F3F3));
  border-top-right-radius: 0pt;/*2pt*/
  border-bottom-right-radius: 0pt;/*2pt*/
  border-left-width: 1pt;
  border-left-color: #BBB;
  border-left-style: solid;
}



/*field:hover .icon,*/
calendar:hover .icon,
drop_down:hover .icon
{
  -fm-icon-color: #333;
}

/*field:focus .icon,*/
calendar:focus .icon,
drop_down:focus .icon
{
  border-left-color: #BBB;
}

/*field:pressed .icon,*/
calendar:pressed .icon,
drop_down:pressed .icon
{
  border-left-color: #6699C6;
  background-image: none; background-color: #AAA;
  box-shadow: 0pt 0pt 3pt rgba(0,0,0,0.2) inset;
  -fm-icon-color: #FFF;
}



calendar:normal .icon {
  -fm-icon: calendar;
  -fm-icon-color: #666;
}
drop_down:normal .icon {
  -fm-icon: down-arrow;
  -fm-icon-color: #666;
}
pop_up:normal .icon {
  padding-top: -1pt;
  position: absolute;
  top: 0pt;
  bottom: 0pt;
  right: 0pt;
  width: 17pt;
  -fm-icon: down-arrow;
  -fm-icon-color: #666;
}



/*----------------------------------------------------------*/
text_area:normal .scrollbar_track {
  box-sizing: border-box;
  position: absolute;
  top: 0pt;
  bottom: 0pt;
  right: 0pt;
  width: 17pt;
}






/** (CHECKBOX|RADIO) ----------------------------------------------------------*/
checkbox_set:normal .self,
radio_set:normal .self,
checkbox_set:hover .self,
radio_set:hover .self,
checkbox_set:pressed .self,
radio_set:pressed .self,
checkbox_set:focus .self,
radio_set:focus .self
{
  border-style: none; border-width: 0pt; border-radius: 1pt; border-color: #333;
  background-image: none; background-color: rgba(0,0,0,0);
  box-shadow: none;
  /*-fm-box-shadow-persist: 0pt 0pt 2pt 1pt #72A8FB;*/
  text-align: left;
  line-height: 0.9line;
}

checkbox_set:normal .text,
radio_set:normal .text
{
  margin: 3pt 0pt -4.8pt 23pt;
}

checkbox_set:normal .icon,
radio_set:normal .icon
{
  box-sizing: border-box;/* !!! */
  position: absolute;
  width: 15pt;
  height: 15pt;
  top: 0pt;
  right: 0pt
  bottom: 0pt;
  left: 0pt;
  
  margin: 4pt 0pt 0pt 3pt;
  border-style: solid; border-width: 2pt; border-color: #555;
  padding: 3pt;
  
  background-image: none; background-color: #FFF;
  box-shadow: 1pt 1pt 2pt 0pt #D6D6D6;
}
checkbox_set:normal .icon{
  border-radius: 2pt;
  padding: 0pt;
  padding-top: -2pt;/* ! shift check mark */
  -fm-icon: checkmark;
}
radio_set:normal .icon {
  border-radius: 50%;
  padding: 2pt;
  -fm-icon: radio;
}

checkbox_set:hover .icon,
radio_set:hover .icon
{
  box-shadow: 0pt 0pt 2pt 1pt rgba(24,24,24,0.2);
}

checkbox_set:checked .icon {
  border-color: #777;
  background-image: none; background-color: #777;/**/
  -fm-icon-color: #FFF;
}
radio_set:checked .icon {
  border-color: #777;
  background-image: none; background-color: #FFF;
  -fm-icon-color: #777;/**/
}
checkbox_set:focus .icon,
radio_set:focus .icon
{
  box-shadow: 0pt 0pt 2pt 1pt #72A8FB;
}



checkbox_set.def_gsF:normal .self,
radio_set.def_gsF:normal .self,
checkbox_set.def_gsF:hover .self,
radio_set.def_gsF:hover .self,
checkbox_set.def_gsF:pressed .self,
radio_set.def_gsF:pressed .self,
checkbox_set.def_gsF:focus .self,
radio_set.def_gsF:focus .self
{
  color: #FFF;
}

checkbox_set.def_gsF:normal .icon,
radio_set.def_gsF:normal .icon
{
  border-color: #FFF;
  background-color: rgba(0,0,0,0);
  box-shadow: none;/*1pt 1pt 2pt 0pt #D6D6D6;*/
}
checkbox_set.def_gsF:hover .icon,
radio_set.def_gsF:hover .icon
{
  box-shadow: 0pt 0pt 4pt 1pt rgba(24,24,24,0.4);
}
checkbox_set.def_gsF:checked .icon {
  border-color: #FFF;
  background-color: #FFF;
  -fm-icon-color: #39E;/**/
}
radio_set.def_gsF:checked .icon {
  border-color: #FFF;
  background-color: rgba(0,0,0,0);
  -fm-icon-color: #FFF;
}
checkbox_set.def_gsF:focus .icon,
radio_set.def_gsF:focus .icon
{
  box-shadow: 0pt 0pt 2pt 1pt rgba(24,24,24,0.7);
}


