/** FIGURE ==================================================================*/
/** LINE -----------------------------*/
line .self {
  border-style: solid;border-width: 1pt;border-color: #CCC;
}

/** REGION ---------------------*/
rectangle .self,
rounded .self,
oval .self
{
  border-style: none; border-width: 1pt; border-color: #CCC;
  background-color: #F6F6F6;
}
/** REGION(ROUNDED) --------------------------*/
rounded .self {border-radius: 3pt;}
rounded .inner_border {border-radius: 2pt;}



/** REGION > SEPARATOR ------------------------*/
/** back of list header */
rectangle.backCap .self {
  border-style: none; border-width: 0pt; border-color: #999;
  border-bottom-style: solid; border-bottom-width: 1pt; border-color: #777;
  background-color: rgba(0,0,0,0); background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(#CCC), to(#9A9A9A));
}



/** .fill_grad */
rectangle.fill_grad_norm .self,
rectangle.fill_grad_warm .self,
rectangle.fill_grad_cool .self,

rectangle.fill_shadow_depth1_up .self,
rectangle.fill_shadow_depth1_right .self,
rectangle.fill_shadow_depth1_down .self,
rectangle.fill_shadow_depth1_left .self,

rectangle.fill_shadow_depth2_up .self,
rectangle.fill_shadow_depth2_right .self,
rectangle.fill_shadow_depth2_down .self,
rectangle.fill_shadow_depth2_left .self,

rectangle.fill_shadow_depth3_up .self,
rectangle.fill_shadow_depth3_right .self,
rectangle.fill_shadow_depth3_down .self,
rectangle.fill_shadow_depth3_left .self
{
  background-color: rgba(0,0,0,0);
  border-style: none; border-width: 0;
}
rectangle.fill_grad_norm .self {background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(#F0F0F0), to(#E6E6E6));}/*#E9E9E9 #E0E0E0*/
rectangle.fill_grad_warm .self {background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(#EEEEEC), to(#E3E3DC));}
rectangle.fill_grad_cool .self {background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(#E6ECEF), to(#D8DFE0));}



rectangle.fill_shadow_depth1_up    .self {background-image: -webkit-gradient(linear,0% 0%,0% 100%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.21)), color-stop(1, rgba(20%,20%,20%,0.54)));}
rectangle.fill_shadow_depth1_right .self {background-image: -webkit-gradient(linear,100% 0%,0% 0%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.21)), color-stop(1, rgba(20%,20%,20%,0.54)));}
rectangle.fill_shadow_depth1_down  .self {background-image: -webkit-gradient(linear,0% 100%,0% 0%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.21)), color-stop(1, rgba(20%,20%,20%,0.54)));}
rectangle.fill_shadow_depth1_left  .self {background-image: -webkit-gradient(linear,0% 0%,100% 0%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.21)), color-stop(1, rgba(20%,20%,20%,0.54)));}

rectangle.fill_shadow_depth2_up    .self {background-image: -webkit-gradient(linear,0% 0%,0% 100%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.12)), color-stop(1, rgba(20%,20%,20%,0.3)));}
rectangle.fill_shadow_depth2_right .self {background-image: -webkit-gradient(linear,100% 0%,0% 0%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.12)), color-stop(1, rgba(20%,20%,20%,0.3)));}
rectangle.fill_shadow_depth2_down  .self {background-image: -webkit-gradient(linear,0% 100%,0% 0%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.12)), color-stop(1, rgba(20%,20%,20%,0.3)));}
rectangle.fill_shadow_depth2_left  .self {background-image: -webkit-gradient(linear,0% 0%,100% 0%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.12)), color-stop(1, rgba(20%,20%,20%,0.3)));}

rectangle.fill_shadow_depth3_up    .self {background-image: -webkit-gradient(linear,0% 0%,0% 100%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.07)), color-stop(1, rgba(20%,20%,20%,0.18)));}
rectangle.fill_shadow_depth3_right .self {background-image: -webkit-gradient(linear,100% 0%,0% 0%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.07)), color-stop(1, rgba(20%,20%,20%,0.18)));}
rectangle.fill_shadow_depth3_down  .self {background-image: -webkit-gradient(linear,0% 100%,0% 0%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.07)), color-stop(1, rgba(20%,20%,20%,0.18)));}
rectangle.fill_shadow_depth3_left  .self {background-image: -webkit-gradient(linear,0% 0%,100% 0%, color-stop(0.24, rgba(20%,20%,20%,0)), color-stop(0.76, rgba(20%,20%,20%,0.07)), color-stop(1, rgba(20%,20%,20%,0.18)));}
/*-webkit-gradient(linear,0% 100%,0% 0%, from(rgba(204,204,204,0)), to(rgba(51,51,51,0.21)));}*/



/** fill_alpha */
rectangle.fill_a06 .self,
rectangle.fill_a18 .self,
rectangle.fill_a30 .self,
rectangle.fill_a42 .self,

rectangle.fill_a06F .self,
rectangle.fill_a18F .self,
rectangle.fill_a30F .self,
rectangle.fill_a42F .self
{
  border-style: none;border-width: 0;
}
rectangle.fill_a06 .self {background-color: rgba(77,77,77,0.06);}
rectangle.fill_a18 .self {background-color: rgba(77,77,77,0.18);}
rectangle.fill_a30 .self {background-color: rgba(77,77,77,0.3);}
rectangle.fill_a42 .self {background-color: rgba(77,77,77,0.42);}

rectangle.fill_a06F .self {background-color: rgba(255,255,255,0.06);}
rectangle.fill_a18F .self {background-color: rgba(255,255,255,0.18);}
rectangle.fill_a30F .self {background-color: rgba(255,255,255,0.3);}
rectangle.fill_a42F .self {background-color: rgba(255,255,255,0.42);}



/** REGION > FILL THEME COLORED --------------------------*/
/** FILL */
rectangle.fill_ex1 .self, oval.fill_ex1 .self,
rectangle.fill_ex2 .self, oval.fill_ex2 .self,
rectangle.fill_ex3 .self, oval.fill_ex3 .self,
rectangle.fill_ex4 .self, oval.fill_ex4 .self,
rectangle.fill_ex5 .self, oval.fill_ex5 .self,
rectangle.fill_ex6 .self, oval.fill_ex6 .self,
rectangle.fill_ex7 .self, oval.fill_ex7 .self,
rectangle.fill_ex8 .self, oval.fill_ex8 .self,
rectangle.fill_ex9 .self, oval.fill_ex9 .self,
rectangle.fill_gs3 .self, oval.fill_gs3 .self,
rectangle.fill_gs6 .self, oval.fill_gs6 .self,
rectangle.fill_gs9 .self, oval.fill_gs9 .self,
rectangle.fill_gsA .self, oval.fill_gsA .self,
rectangle.fill_gsB .self, oval.fill_gsB .self,
rectangle.fill_gsC .self, oval.fill_gsC .self,
rectangle.fill_gsD .self, oval.fill_gsD .self,
rectangle.fill_gsE .self, oval.fill_gsE .self,
rectangle.fill_gsF6 .self, oval.fill_gsF6 .self,
rectangle.fill_gsFC .self, oval.fill_gsFC .self,
rectangle.fill_gsF .self, oval.fill_gsF .self
{
  /*border-image-source: none;*/
  border-style: none;
  background-image: none;
}

button.fill_gs3 .self,
button.fill_gs3_rad0110 .self, button.fill_gs3_rad0010 .self, button.fill_gs3_rad0000 .self,
button.fill_gs3_hrz .self,
button.fill_gs3_rad0110_hrz .self, button.fill_gs3_rad0010_hrz .self, button.fill_gs3_rad0000_hrz .self,
button.circle_gs3 .self,
button_bar_segment.fill_gs3 .self,
button_bar_segment.fill_gs3_rad0110 .self, button_bar_segment.fill_gs3_rad0010 .self, button_bar_segment.fill_gs3_rad0000 .self,
button_bar_segment.fill_gs3_hrz .self,
button_bar_segment.fill_gs3_rad0110_hrz .self, button_bar_segment.fill_gs3_rad0010_hrz .self, button_bar_segment.fill_gs3_rad0000_hrz .self,
button_bar_segment.circle_gs3 .self,
popover.fill_gs3 .self,
rectangle.fill_gs3 .self,
oval.fill_gs3 .self
{background-color: #333;}
button.fill_gs6 .self,
button.fill_gs6_rad0110 .self, button.fill_gs6_rad0010 .self, button.fill_gs6_rad0000 .self,
button.fill_gs6_hrz .self,
button.fill_gs6_rad0110_hrz .self, button.fill_gs6_rad0010_hrz .self, button.fill_gs6_rad0000_hrz .self,
button.circle_gs6 .self,
button_bar_segment.fill_gs6 .self,
button_bar_segment.fill_gs6_rad0110 .self, button_bar_segment.fill_gs6_rad0010 .self, button_bar_segment.fill_gs6_rad0000 .self,
button_bar_segment.fill_gs6_hrz .self,
button_bar_segment.fill_gs6_rad0110_hrz .self, button_bar_segment.fill_gs6_rad0010_hrz .self, button_bar_segment.fill_gs6_rad0000_hrz .self,
button_bar_segment.circle_gs6 .self,
popover.fill_gs6 .self,
rectangle.fill_gs6 .self,
oval.fill_gs6 .self
{background-color: #666;}
button.fill_gs9 .self,
button.fill_gs9_rad0110 .self,
button.fill_gs9_hrz .self,
button.fill_gs9_rad0110_hrz .self,
button.circle_gs9 .self,
button_bar_segment.fill_gs9 .self,
button_bar_segment.fill_gs9_rad0110 .self,
button_bar_segment.fill_gs9_hrz .self,
button_bar_segment.fill_gs9_rad0110_hrz .self,
button_bar_segment.circle_gs9 .self,
popover.fill_gs9 .self,
rectangle.fill_gs9 .self,
oval.fill_gs9 .self
{background-color: #999;}
button.fill_gsA .self,
button.fill_gsA_rad0110 .self,
button.fill_gsA_hrz .self,
button.fill_gsA_rad0110_hrz .self,
button.circle_gsA .self,
button_bar_segment.fill_gsA .self,
button_bar_segment.fill_gsA_rad0110 .self,
button_bar_segment.fill_gsA_hrz .self,
button_bar_segment.fill_gsA_rad0110_hrz .self,
button_bar_segment.circle_gsA .self,
popover.fill_gsA .self,
rectangle.fill_gsA .self,
oval.fill_gsA .self
{background-color: #AAA;}
button.fill_gsB .self,
button.fill_gsB_hrz .self,
button.circle_gsB .self,
button_bar_segment.fill_gsB .self,
button_bar_segment.fill_gsB_hrz .self,
button_bar_segment.circle_gsB .self,
popover.fill_gsB .self,
rectangle.fill_gsB .self,
oval.fill_gsB .self
{background-color: #BBB;}
button.fill_gsC .self,
button.fill_gsC_rad0110 .self,
button.fill_gsC_hrz .self,
button.fill_gsC_rad0110_hrz .self,
button.circle_gsC .self,
button_bar_segment.fill_gsC .self,
button_bar_segment.fill_gsC_rad0110 .self,
button_bar_segment.fill_gsC_hrz .self,
button_bar_segment.fill_gsC_rad0110_hrz .self,
button_bar_segment.circle_gsC .self,
popover.fill_gsC .self,
rectangle.fill_gsC .self,
oval.fill_gsC .self
{background-color: #CCC;}
button.fill_gsD .self,
button.fill_gsD_rad0110 .self,
button.fill_gsD_hrz .self,
button.fill_gsD_rad0110_hrz .self,
button.circle_gsD .self,
button_bar_segment.fill_gsD .self,
button_bar_segment.fill_gsD_rad0110 .self,
button_bar_segment.fill_gsD_hrz .self,
button_bar_segment.fill_gsD_rad0110_hrz .self,
button_bar_segment.circle_gsD .self,
popover.fill_gsD .self,
rectangle.fill_gsD .self,
oval.fill_gsD .self
{background-color: #DDD;}
button.fill_gsE .self,
button.fill_gsE_hrz .self,
button.circle_gsE .self,
button_bar_segment.fill_gsE .self,
button_bar_segment.fill_gsE_hrz .self,
button_bar_segment.circle_gsE .self,
popover.fill_gsE .self,
rectangle.fill_gsE .self,
oval.fill_gsE .self
{background-color: #EEE;}
rectangle.fill_gsF6 .self,
oval.fill_gsF6 .self
{background-color: #F6F6F6;}
rectangle.fill_gsFC .self,
oval.fill_gsFC .self
{background-color: #FCFCFC;}
button.fill_gsF .self,
button.fill_gsF_rad0110 .self,
button.fill_gsF_hrz .self,
button.fill_gsF_rad0110_hrz .self,
button.circle_gsF .self,
button_bar_segment.fill_gsF .self,
button_bar_segment.fill_gsF_rad0110 .self,
button_bar_segment.fill_gsF_hrz .self,
button_bar_segment.fill_gsF_rad0110_hrz .self,
button_bar_segment.circle_gsF .self,
popover.fill_gsF .self,
rectangle.fill_gsF .self,
oval.fill_gsF .self
{background-color: #FFF;}



/** REGION > STROKE THEME COLORED */
line.stroke_ex1 .self, rectangle.stroke_ex1 .self,
line.stroke_ex2 .self, rectangle.stroke_ex2 .self,
line.stroke_ex3 .self, rectangle.stroke_ex3 .self,
line.stroke_ex4 .self, rectangle.stroke_ex4 .self,
line.stroke_ex5 .self, rectangle.stroke_ex5 .self,
line.stroke_ex6 .self, rectangle.stroke_ex6 .self,
line.stroke_ex7 .self, rectangle.stroke_ex7 .self,
line.stroke_ex8 .self, rectangle.stroke_ex8 .self,
line.stroke_ex9 .self, rectangle.stroke_ex9 .self,
line.stroke_gs3 .self, rectangle.stroke_gs3 .self,
line.stroke_gs6 .self, rectangle.stroke_gs6 .self,
line.stroke_gs9 .self, rectangle.stroke_gs9 .self,
line.stroke_gsA .self, rectangle.stroke_gsA .self,
line.stroke_gsB .self, rectangle.stroke_gsB .self,
line.stroke_gsC .self, rectangle.stroke_gsC .self,
line.stroke_gsD .self, rectangle.stroke_gsD .self,
line.stroke_gsE .self, rectangle.stroke_gsE .self,
line.stroke_gsF .self, rectangle.stroke_gsF .self
{
  border-style: solid; border-width: 2pt;
  background-image: none;background-color: rgba(0,0,0,0);
}
line.stroke_gs3 .self, rectangle.stroke_gs3 .self,
rectangle.bracket_gs3 .self,
rectangle.stroke0001_rad_gs3 .self, rounded.stroke0001_rad_gs3 .self
{border-color: #333;}
line.stroke_gs6 .self, rectangle.stroke_gs6 .self,
rectangle.bracket_gs6 .self,
rectangle.stroke0001_rad_gs6 .self, rounded.stroke0001_rad_gs6 .self
{border-color: #666;}
line.stroke_gs9 .self, rectangle.stroke_gs9 .self,
rectangle.bracket_gs9 .self
{border-color: #999;}
line.stroke_gsA .self, rectangle.stroke_gsA .self,
rectangle.bracket_gsA .self
{border-color: #AAA;}
line.stroke_gsB .self, rectangle.stroke_gsB .self
{border-color: #BBB;}
line.stroke_gsC .self, rectangle.stroke_gsC .self,
rectangle.bracket_gsC .self
{border-color: #CCC;}
line.stroke_gsD .self, rectangle.stroke_gsD .self
{border-color: #DDD;}
line.stroke_gsE .self, rectangle.stroke_gsE .self
{border-color: #EEE;}
line.stroke_gsF .self, rectangle.stroke_gsF .self,
rectangle.bracket_gsF .self,
rectangle.stroke0001_rad_gsF .self, rounded.stroke0001_rad_gsF .self
{border-color: #FFF;}



/** (rect) .dash ---------------------------------*/
line.dash_gs3 .self, rectangle.dash_gs3 .self,
line.dash_gs6 .self, rectangle.dash_gs6 .self,
line.dash_gs9 .self, rectangle.dash_gs9 .self,
line.dash_gsA .self, rectangle.dash_gsA .self,
line.dash_gsC .self, rectangle.dash_gsC .self,
line.dash_gsF .self, rectangle.dash_gsF .self,
line.dash_ex2 .self, rectangle.dash_ex2 .self,
line.dash_ex4 .self, rectangle.dash_ex4 .self,
line.dash_ex6 .self, rectangle.dash_ex6 .self,
line.dash_ex8 .self, rectangle.dash_ex8 .self
{
  border-style: dashed; border-width: 1pt;
  background-image: none;background-color: rgba(0,0,0,0);
}
line.dash_gs3_l2 .self, rectangle.dash_gs3_l2 .self,
line.dash_gs6_l2 .self, rectangle.dash_gs6_l2 .self,
line.dash_gs9_l2 .self, rectangle.dash_gs9_l2 .self,
line.dash_gsA_l2 .self, rectangle.dash_gsA_l2 .self,
line.dash_gsC_l2 .self, rectangle.dash_gsC_l2 .self,
line.dash_gsF_l2 .self, rectangle.dash_gsF_l2 .self,
line.dash_ex2_l2 .self, rectangle.dash_ex2_l2 .self,
line.dash_ex4_l2 .self, rectangle.dash_ex4_l2 .self,
line.dash_ex6_l2 .self, rectangle.dash_ex6_l2 .self,
line.dash_ex8_l2 .self, rectangle.dash_ex8_l2 .self
{
  border-style: dashed; border-width: 2pt;
  background-image: none;background-color: rgba(0,0,0,0);
}
line.dash_gs3 .self, rectangle.dash_gs3 .self,
line.dash_gs3_l2 .self, rectangle.dash_gs3_l2 .self
{border-color: #333;}
line.dash_gs6 .self, rectangle.dash_gs6 .self,
line.dash_gs6_l2 .self, rectangle.dash_gs6_l2 .self
{border-color: #666;}
line.dash_gs9 .self, rectangle.dash_gs9 .self,
line.dash_gs9_l2 .self, rectangle.dash_gs9_l2 .self
{border-color: #999;}
line.dash_gsA .self, rectangle.dash_gsA .self,
line.dash_gsA_l2 .self, rectangle.dash_gsA_l2 .self
{border-color: #AAA;}
line.dash_gsC .self, rectangle.dash_gsC .self,
line.dash_gsC_l2 .self, rectangle.dash_gsC_l2 .self
{border-color: #CCC;}
line.dash_gsF .self, rectangle.dash_gsF .self,
line.dash_gsF_l2 .self, rectangle.dash_gsF_l2 .self
{border-color: #FFF;}



/** (rect) .bracket ---------------------------------*/
rectangle.bracket_gs3 .self,
rectangle.bracket_gs6 .self,
rectangle.bracket_gs9 .self,
rectangle.bracket_gsA .self,
rectangle.bracket_gsC .self,
rectangle.bracket_gsF .self,
rectangle.bracket_ex2 .self,
rectangle.bracket_ex4 .self,
rectangle.bracket_ex6 .self,
rectangle.bracket_ex8 .self
{
  border-style: none; border-width: 2pt; border-radius: 12pt; /*border-color: #666;*/
  border-right-style: solid;
  border-left-style: solid;
  background-image: none; background-color: rgba(0,0,0,0);
}

/** (rect) .stroke0001_rad ---------------------------------*/
rectangle.stroke0001_rad_gs3 .self, rounded.stroke0001_rad_gs3 .self,
rectangle.stroke0001_rad_gs6 .self, rounded.stroke0001_rad_gs6 .self,
rectangle.stroke0001_rad_gsF .self, rounded.stroke0001_rad_gsF .self,
rectangle.stroke0001_rad_ex2 .self, rounded.stroke0001_rad_ex2 .self,
rectangle.stroke0001_rad_ex4 .self, rounded.stroke0001_rad_ex4 .self,
rectangle.stroke0001_rad_ex8 .self, rounded.stroke0001_rad_ex8 .self
{
  border-style: solid;
  border-width: 0 0 0 2pt;
  border-radius: 12pt;
  background-image: none; background-color: rgba(0,0,0,0);
}











/** POPOVER --------------------------*/
popover .self {
  position: absolute;
  top: 0pt;
  right: 0pt;
  bottom: 0pt;
  left: 0pt;
  
  border-style: solid; border-width: 1pt; border-radius: 5pt; border-color: #CCC;
  /*background-image: -webkit-gradient(linear, 25% 0%, 25% 100%, from(#FFF), to(rgba(243, 243, 243, 1)));*/
  background-image: none; background-color: #EEE;
  box-shadow: 1pt 1pt 3pt rgba(0,0,0,0.18);
  
  font-family: -fm-font-family(メイリオ, shiftjis);
  font-style: normal;
  color: #333;
  font-size: 12pt;
  line-height: 0.8line;
  text-align: center;
}

popover .text {
  box-sizing: border-box;
  position: absolute;/* title bar */
  top: 0.4em;
  right: 0pt;
  bottom: auto;
  left: 0pt;
  /*border-style: solid; border-width: 3pt; border-color: #FCC;*/
  top: 0.42em;
  height: 1.47em;
  
  margin-top: -0.4em;/* title bar */
  border-radius: 5pt 5pt 0pt 0pt;
  background-color: rgba(0,0,0,0.07);/* popover title bar */
}

popover .contents {
  box-sizing: border-box;
  position: absolute;
  top: 0pt;
  bottom: 0pt;
  left: 0pt;
  right: 0pt;
  /*
  border-radius: 0pt 3pt 3pt 0pt;
  */
  background-image: none; background-color: rgba(0,0,0,0);
}



popover.fill_ex1 .self,
popover.fill_ex2 .self,
popover.fill_ex3 .self,
popover.fill_ex4 .self,
popover.fill_ex5 .self,
popover.fill_ex6 .self,
popover.fill_ex7 .self,
popover.fill_ex8 .self,
popover.fill_ex9 .self,
popover.fill_acc .self,
popover.fill_gs3 .self,
popover.fill_gs6 .self,
popover.fill_gs9 .self,
popover.fill_gsA .self,
popover.fill_gsB .self,
popover.fill_gsC .self,
popover.fill_gsD .self,
popover.fill_gsE .self,
popover.fill_gsF .self
{
  /*
  border-color: rgba(18, 104, 166, 1);
  */
  background-image: none; /*background-color: theme_colors #EEE;*/
  border-style: none; border-width: 0pt; border-radius: 0pt; border-color: rgba(0,0,0,0);
}
popover.fill_ex1 .self,
popover.fill_ex2 .self,
popover.fill_ex3 .self,
popover.fill_ex4 .self,
popover.fill_ex5 .self,
popover.fill_ex6 .self,
popover.fill_acc .self,
popover.fill_gs3 .self,
popover.fill_gs6 .self,
popover.fill_gs9 .self,
popover.fill_gsA .self,
popover.fill_gsB .self,
popover.fill_gsC .self
{color: #FFF;}
popover.fill_ex7 .self,
popover.fill_ex8 .self,
popover.fill_ex9 .self,
popover.fill_gsD .self,
popover.fill_gsE .self,
popover.fill_gsF .self
{color: #333;}

popover.fill_ex1 .contents,
popover.fill_ex2 .contents,
popover.fill_ex3 .contents,
popover.fill_ex4 .contents,
popover.fill_ex5 .contents,
popover.fill_ex6 .contents,
popover.fill_ex7 .contents,
popover.fill_ex8 .contents,
popover.fill_ex9 .contents,
popover.fill_acc .contents,
popover.fill_gs3 .contents,
popover.fill_gs6 .contents,
popover.fill_gs9 .contents,
popover.fill_gsA .contents,
popover.fill_gsB .contents,
popover.fill_gsC .contents,
popover.fill_gsD .contents,
popover.fill_gsE .contents,
popover.fill_gsF .contents
{
  background-image: none; background-color: rgba(0,0,0,0);
  border-style: none; border-width: 0pt; border-color: rgba(0,0,0,0);
  border-radius: 0pt 1pt 1pt 0pt;
}

popover.fill_ex1 .text,
popover.fill_ex2 .text,
popover.fill_ex3 .text,
popover.fill_ex4 .text,
popover.fill_ex5 .text,
popover.fill_ex6 .text,
popover.fill_ex7 .text,
popover.fill_ex8 .text,
popover.fill_ex9 .text,
popover.fill_acc .text,
popover.fill_gs3 .text,
popover.fill_gs6 .text,
popover.fill_gs9 .text,
popover.fill_gsA .text,
popover.fill_gsB .text,
popover.fill_gsC .text,
popover.fill_gsD .text,
popover.fill_gsE .text,
popover.fill_gsF .text
{border-radius: 0pt;}



popover.trp .self {
  background-image: none; background-color: rgba(0,0,0,0);
  border-style: none; border-width: 0pt; border-radius: 0pt; border-color: rgba(0,0,0,0);
  box-shadow: none;
  /*color: #FFF;*/
}
popover.trp .contents {
  background-image: none; background-color: rgba(0,0,0,0);
  border-style: none; border-width: 0pt; border-radius: 0pt; border-color: rgba(0,0,0,0);
}


