/** PART ==================================================================*/
/** TITLE HEADER ---------------------*/
title_header .self,
title_footer .self
{
  background-color: #FFF;
}

/** HEADER ---------------------------*/
header .self {
  border-style: none; border-width: 1pt; border-color: #666;
  background-image: none; background-color: #FFF;
}

/** BODY -----------------------------*/
body     .self,
body_alt .self
{
  border-style: none; border-width: 1pt; border-color: #DADADA;
  border-bottom-style: solid;
  background-image: none;
  
  -fm-use-body-current-row-style: true;
}
body .self {
  background-color: #FCFCFC;
}
body_alt .self {
  background-color: #F6F6F6;
  -fm-use-body-alternate-row-style: true;/* ??? */
  /*-fm-table-background-color: rgba(180,206,0,1);*/
}
body:checked .self {
  background-color: #E0ECFA;/* theme color rgba(224,236,250,1)*/
}



/** for list view ====================*/

/** FOOTER ---------------------------*/
footer .self {
  border-style: none; border-width: 1pt; border-color: #CCC;
  border-top-style: solid;
  background-color: #F6F6F6;
}

/** LEADING SUB SUMMARY --------------*/
leading_sub_summary .self,
leading_sub_summary_1 .sel,
leading_sub_summary_2 .self
{
  border-style: none; border-top-width: 1pt; border-color: #777;
  border-top-style: solid;
  border-bottom-style: solid;
  background-color: #999;
}

/** TRAILING SUB SUMMARY -------------*/
trailing_sub_summary .self,
trailing_sub_summary_2 .self,
trailing_sub_summary_1 .self
{
  border-style: none; border-width: 1pt; border-color: #CCC;
  border-bottom-style: solid;
  background-color: #FCFCFC;
}

/** LEADING GRAND SUMMARY ------------*/
leading_grand_summary .self {
  background-color: rgba(167,178,184,1);
}

/** TRAILING GRAND SUMMARY -----------*/
trailing_grand_summary .self {
  background-color: rgba(167,178,184,1);
}






/** TRAILING GRAND SUMMARY -----------*/
body.fill_gs3 .self, body.list_gs3 .self {background-color: #333;}
body.fill_gs6 .self, body.list_gs6 .self {background-color: #666;}
body.fill_gs9 .self, body.list_gs9 .self {background-color: #999;}
body.fill_gsA .self, body.list_gsA .self {background-color: #AAA;}
body.fill_gsB .self, body.list_gsB .self {background-color: #BBB;}
body.fill_gsC .self, body.list_gsC .self {background-color: #CCC;}
body.fill_gsD .self, body.list_gsD .self {background-color: #DDD;}
body.fill_gsE .self, body.list_gsE .self {background-color: #EEE;}
body.fill_gsF6 .self, body.list_gsF6 .self {background-color: #F6F6F6;}
body.fill_gsFC .self, body.list_gsFC .self {background-color: #FCFCFC;}
body.fill_gsF .self, body.list_gsF .self {background-color: #FFF;}

body.list_gs3 .self,
body.list_gs6 .self
{
  border-bottom-style: solid; border-color: #000;
}
body.list_gs9 .self,
body.list_gsA .self
{
  border-bottom-style: solid; border-color: #777;
}
body.list_gsB .self,
body.list_gsC .self
{
  border-bottom-style: solid; border-color: #999;
}
body.list_gsD .self,
body.list_gsE .self
{
  border-bottom-style: solid; border-color: #AAA;
}
body.list_gsF6 .self,
body.list_gsFC .self,
body.list_gsF .self
{
  border-bottom-style: solid; border-color: #DADADA;
}



/*

*form view
body.body_form .self {
  background-color: #F6F6F6;
  -fm-use-body-current-row-style: false;
}

*/
