/** PART ==================================================================*/
/** TITLE HEADER ---------------------*/
title_header .self,
title_footer .self
{
  background-color: #FFF;
}

/** HEADER ---------------------------*/
header .self {
  border-style: none; border-width: 1pt; border-color: #666;
  background-image: none; background-color: #FFF;
}

/** BODY -----------------------------*/
body     .self,
body_alt .self
{
  border-style: none; border-width: 1pt; border-color: #DADADA;
  border-bottom-style: solid;
  background-image: none;
  
  -fm-use-body-current-row-style: true;
}
body .self {
  background-color: #FCFCFC;
}
body_alt .self {
  background-color: #F6F6F6;
  -fm-use-body-alternate-row-style: true;/* ??? not work */
  /*-fm-table-background-color: rgba(180,206,0,1);*/
}
body:checked .self {
  background-color: #E0ECFA;/* theme color rgba(224,236,250,1)*/
}



/** for list view ====================*/

/** FOOTER ---------------------------*/
footer .self {
  border-style: none; border-width: 1pt; border-color: rgba(0,0,0,0.3);
  border-top-style: solid;
  background-color: #F6F6F6;
}
/* NOT WORK CORRECTLY
footer .inner_border {
  border-style: none;
  border-top-style: solid; border-top-width: 1pt; border-top-color: #FFF;
}
*/

/** LEADING SUB SUMMARY --------------*/
leading_sub_summary .self,
leading_sub_summary_1 .sel,
leading_sub_summary_2 .self,

trailing_sub_summary .self,
trailing_sub_summary_2 .self,
trailing_sub_summary_1 .self
{
  border-style: none; border-width: 1pt; border-color: rgba(0,0,0,0.3);/*#DADADA #777*/
  border-bottom-style: solid;
  background-color: #999;
}

leading_grand_summary .self,
trailing_grand_summary .self
{
  border-style: none; border-width: 1pt; border-color: rgba(0,0,0,0);
  background-color: #CCC;
}

/** TRAILING SUB SUMMARY -------------*/
/*
trailing_sub_summary .self,
trailing_sub_summary_2 .self,
trailing_sub_summary_1 .self
{
  border-style: none; border-width: 1pt; border-color: #CCC;
  border-bottom-style: solid;
  background-color: #FCFCFC;
}
*/

/** LEADING GRAND SUMMARY ------------*/
/*
leading_grand_summary .self {
  background-color: rgba(167,178,184,1);
}
*/

/** TRAILING GRAND SUMMARY -----------*/
/*
trailing_grand_summary .self {
  background-color: rgba(167,178,184,1);
}
*/






/** TRAILING GRAND SUMMARY -----------*/
body.fill_gs3 .self,
body.fill_gs6 .self,
body.fill_gs9 .self,
body.fill_gsA .self,
body.fill_gsB .self,
body.fill_gsC .self,
body.fill_gsD .self,
body.fill_gsE .self,
body.fill_gsF6 .self,
body.fill_gsFC .self,
body.fill_gsF .self,

body.fill_ex1 .self,
body.fill_ex2 .self,
body.fill_ex3 .self,
body.fill_ex4 .self,
body.fill_ex5 .self,
body.fill_ex6 .self,
body.fill_ex7 .self,
body.fill_ex8 .self,
body.fill_ex9 .self
{
  border-style: none;
}

body.fill_gs3 .self,
body.list_gs3 .self,
body.list_gs3_stroke1000 .self
{background-color: #333;}
body.fill_gs6 .self,
body.list_gs6 .self,
body.list_gs6_stroke1000 .self
{background-color: #666;}
body.fill_gs9 .self,
body.list_gs9 .self,
body.list_gs9_stroke1000 .self
{background-color: #999;}
body.fill_gsA .self,
body.list_gsA .self,
body.list_gsA_stroke1000 .self
{background-color: #AAA;}
body.fill_gsB .self,
body.list_gsB .self,
body.list_gsB_stroke1000 .self
{background-color: #BBB;}
body.fill_gsC .self,
body.list_gsC .self,
body.list_gsC_stroke1000 .self
{background-color: #CCC;}
body.fill_gsD .self,
body.list_gsD .self,
body.list_gsD_stroke1000 .self
{background-color: #DDD;}
body.fill_gsE .self,
body.list_gsE .self,
body.list_gsE_stroke1000 .self
{background-color: #EEE;}
body.fill_gsF6 .self,
body.list_gsF6 .self,
body.list_gsF6_stroke1000 .self
{background-color: #F6F6F6;}
body.fill_gsFC .self,
body.list_gsFC .self,
body.list_gsFC_stroke1000 .self
{background-color: #FCFCFC;}
body.fill_gsF .self,
body.list_gsF .self,
body.list_gsF_stroke1000 .self
{background-color: #FFF;}



/*
body.list_gs3 .self,
body.list_gs6 .self
{
  border-bottom-style: solid; border-color: #000;
}

body.list_gs9 .self,
body.list_gsA .self
{
  border-bottom-style: solid; border-color: #777;
}

body.list_gsB .self,
body.list_gsC .self
{
  border-bottom-style: solid; border-color: #999;
}

body.list_gsD .self,
body.list_gsE .self
{
  border-bottom-style: solid; border-color: #AAA;
}
*/
body.list_gs3 .self,
body.list_gs6 .self,
body.list_gs9 .self,
body.list_gsA .self
{
  border-bottom-style: solid; border-color: rgba(0,0,0,0.3);
}
body.list_gsB .self,
body.list_gsC .self,
body.list_gsD .self,
body.list_gsE .self
{
  border-bottom-style: solid; border-color: rgba(0,0,0,0.12);
}

body.list_gsF6 .self,
body.list_gsFC .self,
body.list_gsF .self,

body.list_ex1 .self,
body.list_ex2 .self,
body.list_ex3 .self,
body.list_ex4 .self,
body.list_ex5 .self,
body.list_ex6 .self,
body.list_ex7 .self,
body.list_ex8 .self,
body.list_ex9 .self
{
  border-bottom-style: solid; border-color: #DADADA;
}



body.list_gs3_stroke1000 .self,
body.list_gs6_stroke1000 .self,
body.list_gs9_stroke1000 .self,
body.list_gsA_stroke1000 .self,

body.list_ex1_stroke1000 .self,
body.list_ex2_stroke1000 .self,
body.list_ex3_stroke1000 .self
{
  border-top-style: solid; border-color: rgba(0,0,0,0.42);
}
body.list_gsB_stroke1000 .self,
body.list_gsC_stroke1000 .self,
body.list_gsD_stroke1000 .self,
body.list_gsE_stroke1000 .self,
body.list_gsF6_stroke1000 .self,
body.list_gsFC_stroke1000 .self,
body.list_gsF_stroke1000 .self,

body.list_ex4_stroke1000 .self,
body.list_ex5_stroke1000 .self,
body.list_ex6_stroke1000 .self,
body.list_ex7_stroke1000 .self,
body.list_ex8_stroke1000 .self,
body.list_ex9_stroke1000 .self
{
  border-top-style: solid; border-color: rgba(0,0,0,0.3);/*#DADADA;*/
}



/*

*form view
body.body_form .self {
  background-color: #F6F6F6;
  -fm-use-body-current-row-style: false;
}

*/
