/** TEXT ==================================================================*/
/**  ---------------------------------*/
text_box .self {
  font-family: -fm-font-family(メイリオ, shiftjis);
  font-style: normal;
  font-size: 12pt;
  color: #333;
  text-align: left;
  line-height: 0.8line;
}

text_box .text {
  box-sizing: border-box;
  height: 100%;
}



text_box.txt_09 .self, text_box.txt_09c .self, text_box.txt_09r .self,
text_box.left_ex2_p09 .self, text_box.right_ex2_p09 .self, text_box.center_ex2_p09 .self,
text_box.left_ex4_p09 .self, text_box.right_ex4_p09 .self, text_box.center_ex4_p09 .self,
text_box.left_ex8_p09 .self, text_box.right_ex8_p09 .self, text_box.center_ex8_p09 .self,
text_box.left_gs3_p09 .self, text_box.right_gs3_p09 .self, text_box.center_gs3_p09 .self,
text_box.left_gsF_p09 .self, text_box.right_gsF_p09 .self, text_box.center_gsF_p09 .self
{font-size: 9pt;}

text_box.txt_10 .self, text_box.txt_10c .self, text_box.txt_10r .self,
text_box.left_ex2_p10 .self, text_box.right_ex2_p10 .self, text_box.center_ex2_p10 .self,
text_box.left_ex4_p10 .self, text_box.right_ex4_p10 .self, text_box.center_ex4_p10 .self,
text_box.left_ex8_p10 .self, text_box.right_ex8_p10 .self, text_box.center_ex8_p10 .self,
text_box.left_gs3_p10 .self, text_box.right_gs3_p10 .self, text_box.center_gs3_p10 .self,
text_box.left_gsF_p10 .self, text_box.right_gsF_p10 .self, text_box.center_gsF_p10 .self
{font-size: 10pt;}

text_box.txt_11 .self, text_box.txt_11c .self, text_box.txt_11r .self,
text_box.left_ex2_p11 .self, text_box.right_ex2_p11 .self, text_box.center_ex2_p11 .self,
text_box.left_ex4_p11 .self, text_box.right_ex4_p11 .self, text_box.center_ex4_p11 .self,
text_box.left_ex8_p11 .self, text_box.right_ex8_p11 .self, text_box.center_ex8_p11 .self,
text_box.left_gs3_p11 .self, text_box.right_gs3_p11 .self, text_box.center_gs3_p11 .self,
text_box.left_gsF_p11 .self, text_box.right_gsF_p11 .self, text_box.center_gsF_p11 .self
{font-size: 11pt;}

text_box.txt_12 .self, text_box.txt_12c .self, text_box.txt_12r .self,
text_box.left_ex2_p12 .self, text_box.right_ex2_p12 .self, text_box.center_ex2_p12 .self,
text_box.left_ex4_p12 .self, text_box.right_ex4_p12 .self, text_box.center_ex4_p12 .self,
text_box.left_ex8_p12 .self, text_box.right_ex8_p12 .self, text_box.center_ex8_p12 .self,
text_box.left_gs3_p12 .self, text_box.right_gs3_p12 .self, text_box.center_gs3_p12 .self,
text_box.left_gsF_p12 .self, text_box.right_gsF_p12 .self, text_box.center_gsF_p12 .self
{font-size: 12pt;}

text_box.txt_13 .self, text_box.txt_13c .self, text_box.txt_13r .self,
text_box.left_ex2_p13 .self, text_box.right_ex2_p13 .self, text_box.center_ex2_p13 .self,
text_box.left_ex4_p13 .self, text_box.right_ex4_p13 .self, text_box.center_ex4_p13 .self,
text_box.left_ex8_p13 .self, text_box.right_ex8_p13 .self, text_box.center_ex8_p13 .self,
text_box.left_gs3_p13 .self, text_box.right_gs3_p13 .self, text_box.center_gs3_p13 .self,
text_box.left_gsF_p13 .self, text_box.right_gsF_p13 .self, text_box.center_gsF_p13 .self
{font-size: 13pt;}

text_box.txt_14 .self, text_box.txt_14c .self, text_box.txt_14r .self,
text_box.left_ex2_p14 .self, text_box.right_ex2_p14 .self, text_box.center_ex2_p14 .self,
text_box.left_ex4_p14 .self, text_box.right_ex4_p14 .self, text_box.center_ex4_p14 .self,
text_box.left_ex8_p14 .self, text_box.right_ex8_p14 .self, text_box.center_ex8_p14 .self,
text_box.left_gs3_p14 .self, text_box.right_gs3_p14 .self, text_box.center_gs3_p14 .self,
text_box.left_gsF_p14 .self, text_box.right_gsF_p14 .self, text_box.center_gsF_p14 .self
{font-size: 14pt;}

text_box.txt_15 .self, text_box.txt_15c .self, text_box.txt_15r .self,
text_box.left_ex2_p15 .self, text_box.right_ex2_p15 .self, text_box.center_ex2_p15 .self,
text_box.left_ex4_p15 .self, text_box.right_ex4_p15 .self, text_box.center_ex4_p15 .self,
text_box.left_ex8_p15 .self, text_box.right_ex8_p15 .self, text_box.center_ex8_p15 .self,
text_box.left_gs3_p15 .self, text_box.right_gs3_p15 .self, text_box.center_gs3_p15 .self,
text_box.left_gsF_p15 .self, text_box.right_gsF_p15 .self, text_box.center_gsF_p15 .self
{font-size: 15pt;}

text_box.txt_16 .self, text_box.txt_16c .self, text_box.txt_16r .self,
text_box.left_ex2_p16 .self, text_box.right_ex2_p16 .self, text_box.center_ex2_p16 .self,
text_box.left_ex4_p16 .self, text_box.right_ex4_p16 .self, text_box.center_ex4_p16 .self,
text_box.left_ex8_p16 .self, text_box.right_ex8_p16 .self, text_box.center_ex8_p16 .self,
text_box.left_gs3_p16 .self, text_box.right_gs3_p16 .self, text_box.center_gs3_p16 .self,
text_box.left_gsF_p16 .self, text_box.right_gsF_p16 .self, text_box.center_gsF_p16 .self
{font-size: 16pt;}

text_box.txt_17 .self, text_box.txt_17c .self, text_box.txt_17r .self,
text_box.left_ex2_p17 .self, text_box.right_ex2_p17 .self, text_box.center_ex2_p17 .self,
text_box.left_ex4_p17 .self, text_box.right_ex4_p17 .self, text_box.center_ex4_p17 .self,
text_box.left_ex8_p17 .self, text_box.right_ex8_p17 .self, text_box.center_ex8_p17 .self,
text_box.left_gs3_p17 .self, text_box.right_gs3_p17 .self, text_box.center_gs3_p17 .self,
text_box.left_gsF_p17 .self, text_box.right_gsF_p17 .self, text_box.center_gsF_p17 .self
{font-size: 17pt;}

text_box.txt_18 .self, text_box.txt_18c .self, text_box.txt_18r .self,
text_box.left_ex2_p18 .self, text_box.right_ex2_p18 .self, text_box.center_ex2_p18 .self,
text_box.left_ex4_p18 .self, text_box.right_ex4_p18 .self, text_box.center_ex4_p18 .self,
text_box.left_ex8_p18 .self, text_box.right_ex8_p18 .self, text_box.center_ex8_p18 .self,
text_box.left_gs3_p18 .self, text_box.right_gs3_p18 .self, text_box.center_gs3_p18 .self,
text_box.left_gsF_p18 .self, text_box.right_gsF_p18 .self, text_box.center_gsF_p18 .self
{font-size: 18pt;}


text_box.center_ex2_p09 .self, text_box.center_ex4_p09 .self, text_box.center_ex8_p09 .self,
text_box.center_gs3_p09 .self, text_box.center_gsF_p09 .self,
text_box.center_ex2_p10 .self, text_box.center_ex4_p10 .self, text_box.center_ex8_p10 .self,
text_box.center_gs3_p10 .self, text_box.center_gsF_p10 .self,
text_box.center_ex2_p11 .self, text_box.center_ex4_p11 .self, text_box.center_ex8_p11 .self,
text_box.center_gs3_p11 .self, text_box.center_gsF_p11 .self,
text_box.center_ex2_p12 .self, text_box.center_ex4_p12 .self, text_box.center_ex8_p12 .self,
text_box.center_gs3_p12 .self, text_box.center_gsF_p12 .self,
text_box.center_ex2_p13 .self, text_box.center_ex4_p13 .self, text_box.center_ex8_p13 .self,
text_box.center_gs3_p13 .self, text_box.center_gsF_p13 .self,
text_box.center_ex2_p14 .self, text_box.center_ex4_p14 .self, text_box.center_ex8_p14 .self,
text_box.center_gs3_p14 .self, text_box.center_gsF_p14 .self,
text_box.center_ex2_p15 .self, text_box.center_ex4_p15 .self, text_box.center_ex8_p15 .self,
text_box.center_gs3_p15 .self, text_box.center_gsF_p15 .self,
text_box.center_ex2_p16 .self, text_box.center_ex4_p16 .self, text_box.center_ex8_p16 .self,
text_box.center_gs3_p16 .self, text_box.center_gsF_p16 .self,
text_box.center_ex2_p17 .self, text_box.center_ex4_p17 .self, text_box.center_ex8_p17 .self,
text_box.center_gs3_p17 .self, text_box.center_gsF_p17 .self,
text_box.center_ex2_p18 .self, text_box.center_ex4_p18 .self, text_box.center_ex8_p18 .self,
text_box.center_gs3_p18 .self, text_box.center_gsF_p18 .self,
text_box.txt_09c .self,
text_box.txt_10c .self,
text_box.txt_11c .self,
text_box.txt_12c .self,
text_box.txt_13c .self,
text_box.txt_14c .self,
text_box.txt_15c .self,
text_box.txt_16c .self,
text_box.txt_17c .self,
text_box.txt_18c .self
{text-align: center;}

text_box.right_ex2_p09 .self, text_box.right_ex4_p09 .self, text_box.right_ex8_p09 .self,
text_box.right_gs3_p09 .self, text_box.right_gsF_p09 .self,
text_box.right_ex2_p10 .self, text_box.right_ex4_p10 .self, text_box.right_ex8_p10 .self,
text_box.right_gs3_p10 .self, text_box.right_gsF_p10 .self,
text_box.right_ex2_p11 .self, text_box.right_ex4_p11 .self, text_box.right_ex8_p11 .self,
text_box.right_gs3_p11 .self, text_box.right_gsF_p11 .self,
text_box.right_ex2_p12 .self, text_box.right_ex4_p12 .self, text_box.right_ex8_p12 .self,
text_box.right_gs3_p12 .self, text_box.right_gsF_p12 .self,
text_box.right_ex2_p13 .self, text_box.right_ex4_p13 .self, text_box.right_ex8_p13 .self,
text_box.right_gs3_p13 .self, text_box.right_gsF_p13 .self,
text_box.right_ex2_p14 .self, text_box.right_ex4_p14 .self, text_box.right_ex8_p14 .self,
text_box.right_gs3_p14 .self, text_box.right_gsF_p14 .self,
text_box.right_ex2_p15 .self, text_box.right_ex4_p15 .self, text_box.right_ex8_p15 .self,
text_box.right_gs3_p15 .self, text_box.right_gsF_p15 .self,
text_box.right_ex2_p16 .self, text_box.right_ex4_p16 .self, text_box.right_ex8_p16 .self,
text_box.right_gs3_p16 .self, text_box.right_gsF_p16 .self,
text_box.right_ex2_p17 .self, text_box.right_ex4_p17 .self, text_box.right_ex8_p17 .self,
text_box.right_gs3_p17 .self, text_box.right_gsF_p17 .self,
text_box.right_ex2_p18 .self, text_box.right_ex4_p18 .self, text_box.right_ex8_p18 .self,
text_box.right_gs3_p18 .self, text_box.right_gsF_p18 .self,
text_box.txt_09r .self,
text_box.txt_10r .self,
text_box.txt_11r .self,
text_box.txt_12r .self,
text_box.txt_13r .self,
text_box.txt_14r .self,
text_box.txt_15r .self,
text_box.txt_16r .self,
text_box.txt_17r .self,
text_box.txt_18r .self
{text-align: right;}



text_box.txt_09 .inner_border, text_box.txt_09c .inner_border, text_box.txt_09r .inner_border {
  margin: -1.8pt 0pt -9pt 0pt;
  padding: 0pt 0pt 4.5pt 0pt;
}

text_box.txt_10 .inner_border, text_box.txt_10c .inner_border, text_box.txt_10r .inner_border {
  margin: -2pt 0pt -10pt 0pt;
  padding: 0pt 0pt 5pt 0pt;
}

text_box.txt_11 .inner_border, text_box.txt_11c .inner_border, text_box.txt_11r .inner_border {
  margin: -2pt 0pt -11pt 0pt;
  padding: 0pt 0pt 5.5pt 0pt;
}

text_box.txt_12 .inner_border, text_box.txt_12c .inner_border, text_box.txt_12r .inner_border {
  margin: -2.4pt 0pt -12pt 0pt;
  padding: 0pt 0pt 6pt 0pt;
}

text_box.txt_13 .inner_border, text_box.txt_13c .inner_border, text_box.txt_13r .inner_border {
  margin: -3pt 0pt -13pt 0pt;
  padding: 0pt 0pt 6.5pt 0pt;
}

text_box.txt_14 .inner_border, text_box.txt_14c .inner_border, text_box.txt_14r .inner_border {
  margin: -3.3pt 0pt -14pt 0pt;
  padding: 0pt 0pt 7pt 0pt;
}

text_box.txt_15 .inner_border, text_box.txt_15c .inner_border, text_box.txt_15r .inner_border {
  margin: -3.3pt 0pt -15pt 0pt;
  padding: 0pt 0pt 7.5pt 0pt;
}

text_box.txt_16 .inner_border, text_box.txt_16c .inner_border, text_box.txt_16r .inner_border {
  margin: -3.4pt 0pt -16pt 0pt;
  padding: 0pt 0pt 8pt 0pt;
}

text_box.txt_17 .inner_border, text_box.txt_17c .inner_border, text_box.txt_17r .inner_border {
  margin: -3.5pt 0pt -17pt 0pt;
  padding: 0pt 0pt 8.5pt 0pt;
}

text_box.txt_18 .inner_border, text_box.txt_18c .inner_border, text_box.txt_18r .inner_border {
  margin: -4.2pt 0pt -18pt 0pt;
  padding: 0pt 0pt 9pt 0pt;
}
/*
text_box.txt_18 .text, text_box.txt_18r .text
{
  margin: 0pt;
  padding: -12pt 4.8pt -24pt 4.8pt;
}
*/



text_box.left_gsF_p09 .self, text_box.right_gsF_p09 .self, text_box.center_gsF_p09 .self,
text_box.left_gsF_p10 .self, text_box.right_gsF_p10 .self, text_box.center_gsF_p10 .self,
text_box.left_gsF_p11 .self, text_box.right_gsF_p11 .self, text_box.center_gsF_p11 .self,
text_box.left_gsF_p12 .self, text_box.right_gsF_p12 .self, text_box.center_gsF_p12 .self,
text_box.left_gsF_p13 .self, text_box.right_gsF_p13 .self, text_box.center_gsF_p13 .self,
text_box.left_gsF_p14 .self, text_box.right_gsF_p14 .self, text_box.center_gsF_p14 .self,
text_box.left_gsF_p15 .self, text_box.right_gsF_p15 .self, text_box.center_gsF_p15 .self,
text_box.left_gsF_p16 .self, text_box.right_gsF_p16 .self, text_box.center_gsF_p16 .self,
text_box.left_gsF_p17 .self, text_box.right_gsF_p17 .self, text_box.center_gsF_p17 .self,
text_box.left_gsF_p18 .self, text_box.right_gsF_p18 .self, text_box.center_gsF_p18 .self
{color: #FFF;}



text_box.left_ex2_p09 .self, text_box.right_ex2_p09 .self, text_box.center_ex2_p09 .self,
text_box.left_ex4_p09 .self, text_box.right_ex4_p09 .self, text_box.center_ex4_p09 .self,
text_box.left_ex8_p09 .self, text_box.right_ex8_p09 .self, text_box.center_ex8_p09 .self,
text_box.left_gs3_p09 .self, text_box.right_gs3_p09 .self, text_box.center_gs3_p09 .self,
text_box.left_gsF_p09 .self, text_box.right_gsF_p09 .self, text_box.center_gsF_p09 .self,

text_box.left_ex2_p10 .self, text_box.right_ex2_p10 .self, text_box.center_ex2_p10 .self,
text_box.left_ex4_p10 .self, text_box.right_ex4_p10 .self, text_box.center_ex4_p10 .self,
text_box.left_ex8_p10 .self, text_box.right_ex8_p10 .self, text_box.center_ex8_p10 .self,
text_box.left_gs3_p10 .self, text_box.right_gs3_p10 .self, text_box.center_gs3_p10 .self,
text_box.left_gsF_p10 .self, text_box.right_gsF_p10 .self, text_box.center_gsF_p10 .self,

text_box.left_ex2_p11 .self, text_box.right_ex2_p11 .self, text_box.center_ex2_p11 .self,
text_box.left_ex4_p11 .self, text_box.right_ex4_p11 .self, text_box.center_ex4_p11 .self,
text_box.left_ex8_p11 .self, text_box.right_ex8_p11 .self, text_box.center_ex8_p11 .self,
text_box.left_gs3_p11 .self, text_box.right_gs3_p11 .self, text_box.center_gs3_p11 .self,
text_box.left_gsF_p11 .self, text_box.right_gsF_p11 .self, text_box.center_gsF_p11 .self,

text_box.left_ex2_p12 .self, text_box.right_ex2_p12 .self, text_box.center_ex2_p12 .self,
text_box.left_ex4_p12 .self, text_box.right_ex4_p12 .self, text_box.center_ex4_p12 .self,
text_box.left_ex8_p12 .self, text_box.right_ex8_p12 .self, text_box.center_ex8_p12 .self,
text_box.left_gs3_p12 .self, text_box.right_gs3_p12 .self, text_box.center_gs3_p12 .self,
text_box.left_gsF_p12 .self, text_box.right_gsF_p12 .self, text_box.center_gsF_p12 .self,

text_box.left_ex2_p13 .self, text_box.right_ex2_p13 .self, text_box.center_ex2_p13 .self,
text_box.left_ex4_p13 .self, text_box.right_ex4_p13 .self, text_box.center_ex4_p13 .self,
text_box.left_ex8_p13 .self, text_box.right_ex8_p13 .self, text_box.center_ex8_p13 .self,
text_box.left_gs3_p13 .self, text_box.right_gs3_p13 .self, text_box.center_gs3_p13 .self,
text_box.left_gsF_p13 .self, text_box.right_gsF_p13 .self, text_box.center_gsF_p13 .self,

text_box.left_ex2_p14 .self, text_box.right_ex2_p14 .self, text_box.center_ex2_p14 .self,
text_box.left_ex4_p14 .self, text_box.right_ex4_p14 .self, text_box.center_ex4_p14 .self,
text_box.left_ex8_p14 .self, text_box.right_ex8_p14 .self, text_box.center_ex8_p14 .self,
text_box.left_gs3_p14 .self, text_box.right_gs3_p14 .self, text_box.center_gs3_p14 .self,
text_box.left_gsF_p14 .self, text_box.right_gsF_p14 .self, text_box.center_gsF_p14 .self,

text_box.left_ex2_p15 .self, text_box.right_ex2_p15 .self, text_box.center_ex2_p15 .self,
text_box.left_ex4_p15 .self, text_box.right_ex4_p15 .self, text_box.center_ex4_p15 .self,
text_box.left_ex8_p15 .self, text_box.right_ex8_p15 .self, text_box.center_ex8_p15 .self,
text_box.left_gs3_p15 .self, text_box.right_gs3_p15 .self, text_box.center_gs3_p15 .self,
text_box.left_gsF_p15 .self, text_box.right_gsF_p15 .self, text_box.center_gsF_p15 .self,

text_box.left_ex2_p16 .self, text_box.right_ex2_p16 .self, text_box.center_ex2_p16 .self,
text_box.left_ex4_p16 .self, text_box.right_ex4_p16 .self, text_box.center_ex4_p16 .self,
text_box.left_ex8_p16 .self, text_box.right_ex8_p16 .self, text_box.center_ex8_p16 .self,
text_box.left_gs3_p16 .self, text_box.right_gs3_p16 .self, text_box.center_gs3_p16 .self,
text_box.left_gsF_p16 .self, text_box.right_gsF_p16 .self, text_box.center_gsF_p16 .self,

text_box.left_ex2_p17 .self, text_box.right_ex2_p17 .self, text_box.center_ex2_p17 .self,
text_box.left_ex4_p17 .self, text_box.right_ex4_p17 .self, text_box.center_ex4_p17 .self,
text_box.left_ex8_p17 .self, text_box.right_ex8_p17 .self, text_box.center_ex8_p17 .self,
text_box.left_gs3_p17 .self, text_box.right_gs3_p17 .self, text_box.center_gs3_p17 .self,
text_box.left_gsF_p17 .self, text_box.right_gsF_p17 .self, text_box.center_gsF_p17 .self,

text_box.left_ex2_p18 .self, text_box.right_ex2_p18 .self, text_box.center_ex2_p18 .self,
text_box.left_ex4_p18 .self, text_box.right_ex4_p18 .self, text_box.center_ex4_p18 .self,
text_box.left_ex8_p18 .self, text_box.right_ex8_p18 .self, text_box.center_ex8_p18 .self,
text_box.left_gs3_p18 .self, text_box.right_gs3_p18 .self, text_box.center_gs3_p18 .self,
text_box.left_gsF_p18 .self, text_box.right_gsF_p18 .self, text_box.center_gsF_p18 .self
{
  border-style: solid; border-width: 1pt;
  /*
  background-image: none; border-color: rgba(0,0,0,0);
  */
  line-height: 0.8line;
  -fm-text-vertical-align: center;
}

text_box.left_ex2_p09 .inner_border, text_box.right_ex2_p09 .inner_border, text_box.center_ex2_p09 .inner_border,
text_box.left_ex4_p09 .inner_border, text_box.right_ex4_p09 .inner_border, text_box.center_ex4_p09 .inner_border,
text_box.left_ex8_p09 .inner_border, text_box.right_ex8_p09 .inner_border, text_box.center_ex8_p09 .inner_border,
text_box.left_gs3_p09 .inner_border, text_box.right_gs3_p09 .inner_border, text_box.center_gs3_p09 .inner_border,
text_box.left_gsF_p09 .inner_border, text_box.right_gsF_p09 .inner_border, text_box.center_gsF_p09 .inner_border,

text_box.left_ex2_p10 .inner_border, text_box.right_ex2_p10 .inner_border, text_box.center_ex2_p10 .inner_border,
text_box.left_ex4_p10 .inner_border, text_box.right_ex4_p10 .inner_border, text_box.center_ex4_p10 .inner_border,
text_box.left_ex8_p10 .inner_border, text_box.right_ex8_p10 .inner_border, text_box.center_ex8_p10 .inner_border,
text_box.left_gs3_p10 .inner_border, text_box.right_gs3_p10 .inner_border, text_box.center_gs3_p10 .inner_border,
text_box.left_gsF_p10 .inner_border, text_box.right_gsF_p10 .inner_border, text_box.center_gsF_p10 .inner_border,

text_box.left_ex2_p11 .inner_border, text_box.right_ex2_p11 .inner_border, text_box.center_ex2_p11 .inner_border,
text_box.left_ex4_p11 .inner_border, text_box.right_ex4_p11 .inner_border, text_box.center_ex4_p11 .inner_border,
text_box.left_ex8_p11 .inner_border, text_box.right_ex8_p11 .inner_border, text_box.center_ex8_p11 .inner_border,
text_box.left_gs3_p11 .inner_border, text_box.right_gs3_p11 .inner_border, text_box.center_gs3_p11 .inner_border,
text_box.left_gsF_p11 .inner_border, text_box.right_gsF_p11 .inner_border, text_box.center_gsF_p11 .inner_border,

text_box.left_ex2_p12 .inner_border, text_box.right_ex2_p12 .inner_border, text_box.center_ex2_p12 .inner_border,
text_box.left_ex4_p12 .inner_border, text_box.right_ex4_p12 .inner_border, text_box.center_ex4_p12 .inner_border,
text_box.left_ex8_p12 .inner_border, text_box.right_ex8_p12 .inner_border, text_box.center_ex8_p12 .inner_border,
text_box.left_gs3_p12 .inner_border, text_box.right_gs3_p12 .inner_border, text_box.center_gs3_p12 .inner_border,
text_box.left_gsF_p12 .inner_border, text_box.right_gsF_p12 .inner_border, text_box.center_gsF_p12 .inner_border,

text_box.left_ex2_p13 .inner_border, text_box.right_ex2_p13 .inner_border, text_box.center_ex2_p13 .inner_border,
text_box.left_ex4_p13 .inner_border, text_box.right_ex4_p13 .inner_border, text_box.center_ex4_p13 .inner_border,
text_box.left_ex8_p13 .inner_border, text_box.right_ex8_p13 .inner_border, text_box.center_ex8_p13 .inner_border,
text_box.left_gs3_p13 .inner_border, text_box.right_gs3_p13 .inner_border, text_box.center_gs3_p13 .inner_border,
text_box.left_gsF_p13 .inner_border, text_box.right_gsF_p13 .inner_border, text_box.center_gsF_p13 .inner_border,

text_box.left_ex2_p14 .inner_border, text_box.right_ex2_p14 .inner_border, text_box.center_ex2_p14 .inner_border,
text_box.left_ex4_p14 .inner_border, text_box.right_ex4_p14 .inner_border, text_box.center_ex4_p14 .inner_border,
text_box.left_ex8_p14 .inner_border, text_box.right_ex8_p14 .inner_border, text_box.center_ex8_p14 .inner_border,
text_box.left_gs3_p14 .inner_border, text_box.right_gs3_p14 .inner_border, text_box.center_gs3_p14 .inner_border,
text_box.left_gsF_p14 .inner_border, text_box.right_gsF_p14 .inner_border, text_box.center_gsF_p14 .inner_border,

text_box.left_ex2_p15 .inner_border, text_box.right_ex2_p15 .inner_border, text_box.center_ex2_p15 .inner_border,
text_box.left_ex4_p15 .inner_border, text_box.right_ex4_p15 .inner_border, text_box.center_ex4_p15 .inner_border,
text_box.left_ex8_p15 .inner_border, text_box.right_ex8_p15 .inner_border, text_box.center_ex8_p15 .inner_border,
text_box.left_gs3_p15 .inner_border, text_box.right_gs3_p15 .inner_border, text_box.center_gs3_p15 .inner_border,
text_box.left_gsF_p15 .inner_border, text_box.right_gsF_p15 .inner_border, text_box.center_gsF_p15 .inner_border,

text_box.left_ex2_p16 .inner_border, text_box.right_ex2_p16 .inner_border, text_box.center_ex2_p16 .inner_border,
text_box.left_ex4_p16 .inner_border, text_box.right_ex4_p16 .inner_border, text_box.center_ex4_p16 .inner_border,
text_box.left_ex8_p16 .inner_border, text_box.right_ex8_p16 .inner_border, text_box.center_ex8_p16 .inner_border,
text_box.left_gs3_p16 .inner_border, text_box.right_gs3_p16 .inner_border, text_box.center_gs3_p16 .inner_border,
text_box.left_gsF_p16 .inner_border, text_box.right_gsF_p16 .inner_border, text_box.center_gsF_p16 .inner_border,

text_box.left_ex2_p17 .inner_border, text_box.right_ex2_p17 .inner_border, text_box.center_ex2_p17 .inner_border,
text_box.left_ex4_p17 .inner_border, text_box.right_ex4_p17 .inner_border, text_box.center_ex4_p17 .inner_border,
text_box.left_ex8_p17 .inner_border, text_box.right_ex8_p17 .inner_border, text_box.center_ex8_p17 .inner_border,
text_box.left_gs3_p17 .inner_border, text_box.right_gs3_p17 .inner_border, text_box.center_gs3_p17 .inner_border,
text_box.left_gsF_p17 .inner_border, text_box.right_gsF_p17 .inner_border, text_box.center_gsF_p17 .inner_border,

text_box.left_ex2_p18 .inner_border, text_box.right_ex2_p18 .inner_border, text_box.center_ex2_p18 .inner_border,
text_box.left_ex4_p18 .inner_border, text_box.right_ex4_p18 .inner_border, text_box.center_ex4_p18 .inner_border,
text_box.left_ex8_p18 .inner_border, text_box.right_ex8_p18 .inner_border, text_box.center_ex8_p18 .inner_border,
text_box.left_gs3_p18 .inner_border, text_box.right_gs3_p18 .inner_border, text_box.center_gs3_p18 .inner_border,
text_box.left_gsF_p18 .inner_border, text_box.right_gsF_p18 .inner_border, text_box.center_gsF_p18 .inner_border
{
  margin: 0pt;
  padding: 0pt;
}

text_box.left_ex2_p09 .text, text_box.right_ex2_p09 .text, text_box.center_ex2_p09 .text,
text_box.left_ex4_p09 .text, text_box.right_ex4_p09 .text, text_box.center_ex4_p09 .text,
text_box.left_ex8_p09 .text, text_box.right_ex8_p09 .text, text_box.center_ex8_p09 .text,
text_box.left_gs3_p09 .text, text_box.right_gs3_p09 .text, text_box.center_gs3_p09 .text,
text_box.left_gsF_p09 .text, text_box.right_gsF_p09 .text, text_box.center_gsF_p09 .text,

text_box.left_ex2_p10 .text, text_box.right_ex2_p10 .text, text_box.center_ex2_p10 .text,
text_box.left_ex4_p10 .text, text_box.right_ex4_p10 .text, text_box.center_ex4_p10 .text,
text_box.left_ex8_p10 .text, text_box.right_ex8_p10 .text, text_box.center_ex8_p10 .text,
text_box.left_gs3_p10 .text, text_box.right_gs3_p10 .text, text_box.center_gs3_p10 .text,
text_box.left_gsF_p10 .text, text_box.right_gsF_p10 .text, text_box.center_gsF_p10 .text,

text_box.left_ex2_p11 .text, text_box.right_ex2_p11 .text, text_box.center_ex2_p11 .text,
text_box.left_ex4_p11 .text, text_box.right_ex4_p11 .text, text_box.center_ex4_p11 .text,
text_box.left_ex8_p11 .text, text_box.right_ex8_p11 .text, text_box.center_ex8_p11 .text,
text_box.left_gs3_p11 .text, text_box.right_gs3_p11 .text, text_box.center_gs3_p11 .text,
text_box.left_gsF_p11 .text, text_box.right_gsF_p11 .text, text_box.center_gsF_p11 .text,

text_box.left_ex2_p12 .text, text_box.right_ex2_p12 .text, text_box.center_ex2_p12 .text,
text_box.left_ex4_p12 .text, text_box.right_ex4_p12 .text, text_box.center_ex4_p12 .text,
text_box.left_ex8_p12 .text, text_box.right_ex8_p12 .text, text_box.center_ex8_p12 .text,
text_box.left_gs3_p12 .text, text_box.right_gs3_p12 .text, text_box.center_gs3_p12 .text,
text_box.left_gsF_p12 .text, text_box.right_gsF_p12 .text, text_box.center_gsF_p12 .text,

text_box.left_ex2_p13 .text, text_box.right_ex2_p13 .text, text_box.center_ex2_p13 .text,
text_box.left_ex4_p13 .text, text_box.right_ex4_p13 .text, text_box.center_ex4_p13 .text,
text_box.left_ex8_p13 .text, text_box.right_ex8_p13 .text, text_box.center_ex8_p13 .text,
text_box.left_gs3_p13 .text, text_box.right_gs3_p13 .text, text_box.center_gs3_p13 .text,
text_box.left_gsF_p13 .text, text_box.right_gsF_p13 .text, text_box.center_gsF_p13 .text,

text_box.left_ex2_p14 .text, text_box.right_ex2_p14 .text, text_box.center_ex2_p14 .text,
text_box.left_ex4_p14 .text, text_box.right_ex4_p14 .text, text_box.center_ex4_p14 .text,
text_box.left_ex8_p14 .text, text_box.right_ex8_p14 .text, text_box.center_ex8_p14 .text,
text_box.left_gs3_p14 .text, text_box.right_gs3_p14 .text, text_box.center_gs3_p14 .text,
text_box.left_gsF_p14 .text, text_box.right_gsF_p14 .text, text_box.center_gsF_p14 .text,

text_box.left_ex2_p15 .text, text_box.right_ex2_p15 .text, text_box.center_ex2_p15 .text,
text_box.left_ex4_p15 .text, text_box.right_ex4_p15 .text, text_box.center_ex4_p15 .text,
text_box.left_ex8_p15 .text, text_box.right_ex8_p15 .text, text_box.center_ex8_p15 .text,
text_box.left_gs3_p15 .text, text_box.right_gs3_p15 .text, text_box.center_gs3_p15 .text,
text_box.left_gsF_p15 .text, text_box.right_gsF_p15 .text, text_box.center_gsF_p15 .text,

text_box.left_ex2_p16 .text, text_box.right_ex2_p16 .text, text_box.center_ex2_p16 .text,
text_box.left_ex4_p16 .text, text_box.right_ex4_p16 .text, text_box.center_ex4_p16 .text,
text_box.left_ex8_p16 .text, text_box.right_ex8_p16 .text, text_box.center_ex8_p16 .text,
text_box.left_gs3_p16 .text, text_box.right_gs3_p16 .text, text_box.center_gs3_p16 .text,
text_box.left_gsF_p16 .text, text_box.right_gsF_p16 .text, text_box.center_gsF_p16 .text,

text_box.left_ex2_p17 .text, text_box.right_ex2_p17 .text, text_box.center_ex2_p17 .text,
text_box.left_ex4_p17 .text, text_box.right_ex4_p17 .text, text_box.center_ex4_p17 .text,
text_box.left_ex8_p17 .text, text_box.right_ex8_p17 .text, text_box.center_ex8_p17 .text,
text_box.left_gs3_p17 .text, text_box.right_gs3_p17 .text, text_box.center_gs3_p17 .text,
text_box.left_gsF_p17 .text, text_box.right_gsF_p17 .text, text_box.center_gsF_p17 .text,

text_box.left_ex2_p18 .text, text_box.right_ex2_p18 .text, text_box.center_ex2_p18 .text,
text_box.left_ex4_p18 .text, text_box.right_ex4_p18 .text, text_box.center_ex4_p18 .text,
text_box.left_ex8_p18 .text, text_box.right_ex8_p18 .text, text_box.center_ex8_p18 .text,
text_box.left_gs3_p18 .text, text_box.right_gs3_p18 .text, text_box.center_gs3_p18 .text,
text_box.left_gsF_p18 .text, text_box.right_gsF_p18 .text, text_box.center_gsF_p18 .text
{
  margin: -42% 4.8pt -50% 4.8pt;/* ! */
  height: auto;/* ! */
  top: 0pt;/* 0.1em */
  right: 0pt;
  bottom: 0pt;
  left: 0pt;
  position: absolute;
}
