/** TEXT ==================================================================*/
/**  ---------------------------------*/
text_box .self {
  font-family: -fm-font-family(メイリオ, shiftjis);
  font-style: normal;
  font-size: 12pt;
  color: #333;
  text-align: left;
  line-height: 0.8line;
}

text_box .text {
  box-sizing: border-box;
  height: 100%;
}



text_box.left_upp_gs3_p09 .self, text_box.right_upp_gs3_p09 .self, text_box.center_upp_gs3_p09 .self,
text_box.left_upp_gsF_p09 .self, text_box.right_upp_gsF_p09 .self, text_box.center_upp_gsF_p09 .self,
text_box.left_ex2_p09 .self, text_box.right_ex2_p09 .self, text_box.center_ex2_p09 .self,
text_box.left_ex4_p09 .self, text_box.right_ex4_p09 .self, text_box.center_ex4_p09 .self,
text_box.left_ex8_p09 .self, text_box.right_ex8_p09 .self, text_box.center_ex8_p09 .self,
text_box.left_gs3_p09 .self, text_box.right_gs3_p09 .self, text_box.center_gs3_p09 .self,
text_box.left_gsF_p09 .self, text_box.right_gsF_p09 .self, text_box.center_gsF_p09 .self
{font-size: 9pt;}

text_box.left_upp_gs3_p10 .self, text_box.right_upp_gs3_p10 .self, text_box.center_upp_gs3_p10 .self,
text_box.left_upp_gsF_p10 .self, text_box.right_upp_gsF_p10 .self, text_box.center_upp_gsF_p10 .self,
text_box.left_ex2_p10 .self, text_box.right_ex2_p10 .self, text_box.center_ex2_p10 .self,
text_box.left_ex4_p10 .self, text_box.right_ex4_p10 .self, text_box.center_ex4_p10 .self,
text_box.left_ex8_p10 .self, text_box.right_ex8_p10 .self, text_box.center_ex8_p10 .self,
text_box.left_gs3_p10 .self, text_box.right_gs3_p10 .self, text_box.center_gs3_p10 .self,
text_box.left_gsF_p10 .self, text_box.right_gsF_p10 .self, text_box.center_gsF_p10 .self
{font-size: 10pt;}

text_box.left_upp_gs3_p11 .self, text_box.right_upp_gs3_p11 .self, text_box.center_upp_gs3_p11 .self,
text_box.left_upp_gsF_p11 .self, text_box.right_upp_gsF_p11 .self, text_box.center_upp_gsF_p11 .self,
text_box.left_ex2_p11 .self, text_box.right_ex2_p11 .self, text_box.center_ex2_p11 .self,
text_box.left_ex4_p11 .self, text_box.right_ex4_p11 .self, text_box.center_ex4_p11 .self,
text_box.left_ex8_p11 .self, text_box.right_ex8_p11 .self, text_box.center_ex8_p11 .self,
text_box.left_gs3_p11 .self, text_box.right_gs3_p11 .self, text_box.center_gs3_p11 .self,
text_box.left_gsF_p11 .self, text_box.right_gsF_p11 .self, text_box.center_gsF_p11 .self
{font-size: 11pt;}

text_box.left_upp_gs3_p12 .self, text_box.right_upp_gs3_p12 .self, text_box.center_upp_gs3_p12 .self,
text_box.left_upp_gsF_p12 .self, text_box.right_upp_gsF_p12 .self, text_box.center_upp_gsF_p12 .self,
text_box.left_ex2_p12 .self, text_box.right_ex2_p12 .self, text_box.center_ex2_p12 .self,
text_box.left_ex4_p12 .self, text_box.right_ex4_p12 .self, text_box.center_ex4_p12 .self,
text_box.left_ex8_p12 .self, text_box.right_ex8_p12 .self, text_box.center_ex8_p12 .self,
text_box.left_gs3_p12 .self, text_box.right_gs3_p12 .self, text_box.center_gs3_p12 .self,
text_box.left_gsF_p12 .self, text_box.right_gsF_p12 .self, text_box.center_gsF_p12 .self,

text_box.left_fill2_p12 .self, text_box.right_fill2_p12 .self, text_box.center_fill2_p12 .self,
text_box.left_fill3_p12 .self, text_box.right_fill3_p12 .self, text_box.center_fill3_p12 .self,
text_box.left_fill4_p12 .self, text_box.right_fill4_p12 .self, text_box.center_fill4_p12 .self,
text_box.left_fill5_p12 .self, text_box.right_fill5_p12 .self, text_box.center_fill5_p12 .self,
text_box.left_fill6_p12 .self, text_box.right_fill6_p12 .self, text_box.center_fill6_p12 .self,
text_box.left_fill7_p12 .self, text_box.right_fill7_p12 .self, text_box.center_fill7_p12 .self,

text_box.left_upp_fill2_p12 .self, text_box.right_upp_fill2_p12 .self, text_box.center_upp_fill2_p12 .self,
text_box.left_upp_fill3_p12 .self, text_box.right_upp_fill3_p12 .self, text_box.center_upp_fill3_p12 .self,
text_box.left_upp_fill4_p12 .self, text_box.right_upp_fill4_p12 .self, text_box.center_upp_fill4_p12 .self,
text_box.left_upp_fill5_p12 .self, text_box.right_upp_fill5_p12 .self, text_box.center_upp_fill5_p12 .self,
text_box.left_upp_fill6_p12 .self, text_box.right_upp_fill6_p12 .self, text_box.center_upp_fill6_p12 .self,
text_box.left_upp_fill7_p12 .self, text_box.right_upp_fill7_p12 .self, text_box.center_upp_fill7_p12 .self
{font-size: 12pt;}

text_box.left_upp_gs3_p13 .self, text_box.right_upp_gs3_p13 .self, text_box.center_upp_gs3_p13 .self,
text_box.left_upp_gsF_p13 .self, text_box.right_upp_gsF_p13 .self, text_box.center_upp_gsF_p13 .self,
text_box.left_ex2_p13 .self, text_box.right_ex2_p13 .self, text_box.center_ex2_p13 .self,
text_box.left_ex4_p13 .self, text_box.right_ex4_p13 .self, text_box.center_ex4_p13 .self,
text_box.left_ex8_p13 .self, text_box.right_ex8_p13 .self, text_box.center_ex8_p13 .self,
text_box.left_gs3_p13 .self, text_box.right_gs3_p13 .self, text_box.center_gs3_p13 .self,
text_box.left_gsF_p13 .self, text_box.right_gsF_p13 .self, text_box.center_gsF_p13 .self
{font-size: 13pt;}

text_box.left_upp_gs3_p14 .self, text_box.right_upp_gs3_p14 .self, text_box.center_upp_gs3_p14 .self,
text_box.left_upp_gsF_p14 .self, text_box.right_upp_gsF_p14 .self, text_box.center_upp_gsF_p14 .self,
text_box.left_ex2_p14 .self, text_box.right_ex2_p14 .self, text_box.center_ex2_p14 .self,
text_box.left_ex4_p14 .self, text_box.right_ex4_p14 .self, text_box.center_ex4_p14 .self,
text_box.left_ex8_p14 .self, text_box.right_ex8_p14 .self, text_box.center_ex8_p14 .self,
text_box.left_gs3_p14 .self, text_box.right_gs3_p14 .self, text_box.center_gs3_p14 .self,
text_box.left_gsF_p14 .self, text_box.right_gsF_p14 .self, text_box.center_gsF_p14 .self
{font-size: 14pt;}

text_box.left_upp_gs3_p15 .self, text_box.right_upp_gs3_p15 .self, text_box.center_upp_gs3_p15 .self,
text_box.left_upp_gsF_p15 .self, text_box.right_upp_gsF_p15 .self, text_box.center_upp_gsF_p15 .self,
text_box.left_ex2_p15 .self, text_box.right_ex2_p15 .self, text_box.center_ex2_p15 .self,
text_box.left_ex4_p15 .self, text_box.right_ex4_p15 .self, text_box.center_ex4_p15 .self,
text_box.left_ex8_p15 .self, text_box.right_ex8_p15 .self, text_box.center_ex8_p15 .self,
text_box.left_gs3_p15 .self, text_box.right_gs3_p15 .self, text_box.center_gs3_p15 .self,
text_box.left_gsF_p15 .self, text_box.right_gsF_p15 .self, text_box.center_gsF_p15 .self
{font-size: 15pt;}

text_box.left_upp_gs3_p16 .self, text_box.right_upp_gs3_p16 .self, text_box.center_upp_gs3_p16 .self,
text_box.left_upp_gsF_p16 .self, text_box.right_upp_gsF_p16 .self, text_box.center_upp_gsF_p16 .self,
text_box.left_ex2_p16 .self, text_box.right_ex2_p16 .self, text_box.center_ex2_p16 .self,
text_box.left_ex4_p16 .self, text_box.right_ex4_p16 .self, text_box.center_ex4_p16 .self,
text_box.left_ex8_p16 .self, text_box.right_ex8_p16 .self, text_box.center_ex8_p16 .self,
text_box.left_gs3_p16 .self, text_box.right_gs3_p16 .self, text_box.center_gs3_p16 .self,
text_box.left_gsF_p16 .self, text_box.right_gsF_p16 .self, text_box.center_gsF_p16 .self
{font-size: 16pt;}

text_box.left_upp_gs3_p17 .self, text_box.right_upp_gs3_p17 .self, text_box.center_upp_gs3_p17 .self,
text_box.left_upp_gsF_p17 .self, text_box.right_upp_gsF_p17 .self, text_box.center_upp_gsF_p17 .self,
text_box.left_ex2_p17 .self, text_box.right_ex2_p17 .self, text_box.center_ex2_p17 .self,
text_box.left_ex4_p17 .self, text_box.right_ex4_p17 .self, text_box.center_ex4_p17 .self,
text_box.left_ex8_p17 .self, text_box.right_ex8_p17 .self, text_box.center_ex8_p17 .self,
text_box.left_gs3_p17 .self, text_box.right_gs3_p17 .self, text_box.center_gs3_p17 .self,
text_box.left_gsF_p17 .self, text_box.right_gsF_p17 .self, text_box.center_gsF_p17 .self
{font-size: 17pt;}

text_box.left_upp_gs3_p18 .self, text_box.right_upp_gs3_p18 .self, text_box.center_upp_gs3_p18 .self,
text_box.left_upp_gsF_p18 .self, text_box.right_upp_gsF_p18 .self, text_box.center_upp_gsF_p18 .self,
text_box.left_ex2_p18 .self, text_box.right_ex2_p18 .self, text_box.center_ex2_p18 .self,
text_box.left_ex4_p18 .self, text_box.right_ex4_p18 .self, text_box.center_ex4_p18 .self,
text_box.left_ex8_p18 .self, text_box.right_ex8_p18 .self, text_box.center_ex8_p18 .self,
text_box.left_gs3_p18 .self, text_box.right_gs3_p18 .self, text_box.center_gs3_p18 .self,
text_box.left_gsF_p18 .self, text_box.right_gsF_p18 .self, text_box.center_gsF_p18 .self
{font-size: 18pt;}


text_box.center_ex2_p09 .self, text_box.center_ex4_p09 .self, text_box.center_ex8_p09 .self,
text_box.center_gs3_p09 .self, text_box.center_gsF_p09 .self,
text_box.center_ex2_p10 .self, text_box.center_ex4_p10 .self, text_box.center_ex8_p10 .self,
text_box.center_gs3_p10 .self, text_box.center_gsF_p10 .self,
text_box.center_ex2_p11 .self, text_box.center_ex4_p11 .self, text_box.center_ex8_p11 .self,
text_box.center_gs3_p11 .self, text_box.center_gsF_p11 .self,
text_box.center_ex2_p12 .self, text_box.center_ex4_p12 .self, text_box.center_ex8_p12 .self,
text_box.center_gs3_p12 .self, text_box.center_gsF_p12 .self,
text_box.center_ex2_p13 .self, text_box.center_ex4_p13 .self, text_box.center_ex8_p13 .self,
text_box.center_gs3_p13 .self, text_box.center_gsF_p13 .self,
text_box.center_ex2_p14 .self, text_box.center_ex4_p14 .self, text_box.center_ex8_p14 .self,
text_box.center_gs3_p14 .self, text_box.center_gsF_p14 .self,
text_box.center_ex2_p15 .self, text_box.center_ex4_p15 .self, text_box.center_ex8_p15 .self,
text_box.center_gs3_p15 .self, text_box.center_gsF_p15 .self,
text_box.center_ex2_p16 .self, text_box.center_ex4_p16 .self, text_box.center_ex8_p16 .self,
text_box.center_gs3_p16 .self, text_box.center_gsF_p16 .self,
text_box.center_ex2_p17 .self, text_box.center_ex4_p17 .self, text_box.center_ex8_p17 .self,
text_box.center_gs3_p17 .self, text_box.center_gsF_p17 .self,
text_box.center_ex2_p18 .self, text_box.center_ex4_p18 .self, text_box.center_ex8_p18 .self,
text_box.center_gs3_p18 .self, text_box.center_gsF_p18 .self,

text_box.center_upp_gs3_p09 .self, text_box.center_upp_gsF_p09 .self,
text_box.center_upp_gs3_p10 .self, text_box.center_upp_gsF_p10 .self,
text_box.center_upp_gs3_p11 .self, text_box.center_upp_gsF_p11 .self,
text_box.center_upp_gs3_p12 .self, text_box.center_upp_gsF_p12 .self,
text_box.center_upp_gs3_p13 .self, text_box.center_upp_gsF_p13 .self,
text_box.center_upp_gs3_p14 .self, text_box.center_upp_gsF_p14 .self,
text_box.center_upp_gs3_p15 .self, text_box.center_upp_gsF_p15 .self,
text_box.center_upp_gs3_p16 .self, text_box.center_upp_gsF_p16 .self,
text_box.center_upp_gs3_p17 .self, text_box.center_upp_gsF_p17 .self,
text_box.center_upp_gs3_p18 .self, text_box.center_upp_gsF_p18 .self,

text_box.center_fill2_p12 .self,
text_box.center_fill3_p12 .self,
text_box.center_fill4_p12 .self,
text_box.center_fill5_p12 .self,
text_box.center_fill6_p12 .self,
text_box.center_fill7_p12 .self,

text_box.center_upp_fill2_p12 .self,
text_box.center_upp_fill3_p12 .self,
text_box.center_upp_fill4_p12 .self,
text_box.center_upp_fill5_p12 .self,
text_box.center_upp_fill6_p12 .self,
text_box.center_upp_fill7_p12 .self
{text-align: center;}

text_box.right_ex2_p09 .self, text_box.right_ex4_p09 .self, text_box.right_ex8_p09 .self,
text_box.right_gs3_p09 .self, text_box.right_gsF_p09 .self,
text_box.right_ex2_p10 .self, text_box.right_ex4_p10 .self, text_box.right_ex8_p10 .self,
text_box.right_gs3_p10 .self, text_box.right_gsF_p10 .self,
text_box.right_ex2_p11 .self, text_box.right_ex4_p11 .self, text_box.right_ex8_p11 .self,
text_box.right_gs3_p11 .self, text_box.right_gsF_p11 .self,
text_box.right_ex2_p12 .self, text_box.right_ex4_p12 .self, text_box.right_ex8_p12 .self,
text_box.right_gs3_p12 .self, text_box.right_gsF_p12 .self,
text_box.right_ex2_p13 .self, text_box.right_ex4_p13 .self, text_box.right_ex8_p13 .self,
text_box.right_gs3_p13 .self, text_box.right_gsF_p13 .self,
text_box.right_ex2_p14 .self, text_box.right_ex4_p14 .self, text_box.right_ex8_p14 .self,
text_box.right_gs3_p14 .self, text_box.right_gsF_p14 .self,
text_box.right_ex2_p15 .self, text_box.right_ex4_p15 .self, text_box.right_ex8_p15 .self,
text_box.right_gs3_p15 .self, text_box.right_gsF_p15 .self,
text_box.right_ex2_p16 .self, text_box.right_ex4_p16 .self, text_box.right_ex8_p16 .self,
text_box.right_gs3_p16 .self, text_box.right_gsF_p16 .self,
text_box.right_ex2_p17 .self, text_box.right_ex4_p17 .self, text_box.right_ex8_p17 .self,
text_box.right_gs3_p17 .self, text_box.right_gsF_p17 .self,
text_box.right_ex2_p18 .self, text_box.right_ex4_p18 .self, text_box.right_ex8_p18 .self,
text_box.right_gs3_p18 .self, text_box.right_gsF_p18 .self,

text_box.right_upp_gs3_p09 .self, text_box.right_upp_gsF_p09 .self,
text_box.right_upp_gs3_p10 .self, text_box.right_upp_gsF_p10 .self,
text_box.right_upp_gs3_p11 .self, text_box.right_upp_gsF_p11 .self,
text_box.right_upp_gs3_p12 .self, text_box.right_upp_gsF_p12 .self,
text_box.right_upp_gs3_p13 .self, text_box.right_upp_gsF_p13 .self,
text_box.right_upp_gs3_p14 .self, text_box.right_upp_gsF_p14 .self,
text_box.right_upp_gs3_p15 .self, text_box.right_upp_gsF_p15 .self,
text_box.right_upp_gs3_p16 .self, text_box.right_upp_gsF_p16 .self,
text_box.right_upp_gs3_p17 .self, text_box.right_upp_gsF_p17 .self,
text_box.right_upp_gs3_p18 .self, text_box.right_upp_gsF_p18 .self,

text_box.right_fill2_p12 .self,
text_box.right_fill3_p12 .self,
text_box.right_fill4_p12 .self,
text_box.right_fill5_p12 .self,
text_box.right_fill6_p12 .self,
text_box.right_fill7_p12 .self,

text_box.right_upp_fill2_p12 .self,
text_box.right_upp_fill3_p12 .self,
text_box.right_upp_fill4_p12 .self,
text_box.right_upp_fill5_p12 .self,
text_box.right_upp_fill6_p12 .self,
text_box.right_upp_fill7_p12 .self
{text-align: right;}



text_box.left_upp_gs3_p09 .self, text_box.right_upp_gs3_p09 .self, text_box.center_upp_gs3_p09 .self,
text_box.left_upp_gs3_p10 .self, text_box.right_upp_gs3_p10 .self, text_box.center_upp_gs3_p10 .self,
text_box.left_upp_gs3_p11 .self, text_box.right_upp_gs3_p11 .self, text_box.center_upp_gs3_p11 .self,
text_box.left_upp_gs3_p12 .self, text_box.right_upp_gs3_p12 .self, text_box.center_upp_gs3_p12 .self,
text_box.left_upp_gs3_p13 .self, text_box.right_upp_gs3_p13 .self, text_box.center_upp_gs3_p13 .self,
text_box.left_upp_gs3_p14 .self, text_box.right_upp_gs3_p14 .self, text_box.center_upp_gs3_p14 .self,
text_box.left_upp_gs3_p15 .self, text_box.right_upp_gs3_p15 .self, text_box.center_upp_gs3_p15 .self,
text_box.left_upp_gs3_p16 .self, text_box.right_upp_gs3_p16 .self, text_box.center_upp_gs3_p16 .self,
text_box.left_upp_gs3_p17 .self, text_box.right_upp_gs3_p17 .self, text_box.center_upp_gs3_p17 .self,
text_box.left_upp_gs3_p18 .self, text_box.right_upp_gs3_p18 .self, text_box.center_upp_gs3_p18 .self,

text_box.left_upp_gsF_p09 .self, text_box.right_upp_gsF_p09 .self, text_box.center_upp_gsF_p09 .self,
text_box.left_upp_gsF_p10 .self, text_box.right_upp_gsF_p10 .self, text_box.center_upp_gsF_p10 .self,
text_box.left_upp_gsF_p11 .self, text_box.right_upp_gsF_p11 .self, text_box.center_upp_gsF_p11 .self,
text_box.left_upp_gsF_p12 .self, text_box.right_upp_gsF_p12 .self, text_box.center_upp_gsF_p12 .self,
text_box.left_upp_gsF_p13 .self, text_box.right_upp_gsF_p13 .self, text_box.center_upp_gsF_p13 .self,
text_box.left_upp_gsF_p14 .self, text_box.right_upp_gsF_p14 .self, text_box.center_upp_gsF_p14 .self,
text_box.left_upp_gsF_p15 .self, text_box.right_upp_gsF_p15 .self, text_box.center_upp_gsF_p15 .self,
text_box.left_upp_gsF_p16 .self, text_box.right_upp_gsF_p16 .self, text_box.center_upp_gsF_p16 .self,
text_box.left_upp_gsF_p17 .self, text_box.right_upp_gsF_p17 .self, text_box.center_upp_gsF_p17 .self,
text_box.left_upp_gsF_p18 .self, text_box.right_upp_gsF_p18 .self, text_box.center_upp_gsF_p18 .self,

text_box.left_upp_fill2_p12 .self, text_box.right_upp_fill2_p12 .self, text_box.center_upp_fill2_p12 .self,
text_box.left_upp_fill3_p12 .self, text_box.right_upp_fill3_p12 .self, text_box.center_upp_fill3_p12 .self,
text_box.left_upp_fill4_p12 .self, text_box.right_upp_fill4_p12 .self, text_box.center_upp_fill4_p12 .self,
text_box.left_upp_fill5_p12 .self, text_box.right_upp_fill5_p12 .self, text_box.center_upp_fill5_p12 .self,
text_box.left_upp_fill6_p12 .self, text_box.right_upp_fill6_p12 .self, text_box.center_upp_fill6_p12 .self,
text_box.left_upp_fill7_p12 .self, text_box.right_upp_fill7_p12 .self, text_box.center_upp_fill7_p12 .self
{
  border-style: none; border-width: 0pt;
  /* background-image: none; border-color: rgba(0,0,0,0); */
  line-height: 0.8line;
  -fm-text-vertical-align: top;
}

text_box.left_upp_gs3_p09 .inner_border, text_box.right_upp_gs3_p09 .inner_border, text_box.center_upp_gs3_p09 .inner_border,
text_box.left_upp_gs3_p10 .inner_border, text_box.right_upp_gs3_p10 .inner_border, text_box.center_upp_gs3_p10 .inner_border,
text_box.left_upp_gs3_p11 .inner_border, text_box.right_upp_gs3_p11 .inner_border, text_box.center_upp_gs3_p11 .inner_border,
text_box.left_upp_gs3_p12 .inner_border, text_box.right_upp_gs3_p12 .inner_border, text_box.center_upp_gs3_p12 .inner_border,
text_box.left_upp_gs3_p13 .inner_border, text_box.right_upp_gs3_p13 .inner_border, text_box.center_upp_gs3_p13 .inner_border,
text_box.left_upp_gs3_p14 .inner_border, text_box.right_upp_gs3_p14 .inner_border, text_box.center_upp_gs3_p14 .inner_border,
text_box.left_upp_gs3_p15 .inner_border, text_box.right_upp_gs3_p15 .inner_border, text_box.center_upp_gs3_p15 .inner_border,
text_box.left_upp_gs3_p16 .inner_border, text_box.right_upp_gs3_p16 .inner_border, text_box.center_upp_gs3_p16 .inner_border,
text_box.left_upp_gs3_p17 .inner_border, text_box.right_upp_gs3_p17 .inner_border, text_box.center_upp_gs3_p17 .inner_border,
text_box.left_upp_gs3_p18 .inner_border, text_box.right_upp_gs3_p18 .inner_border, text_box.center_upp_gs3_p18 .inner_border,

text_box.left_upp_gsF_p09 .inner_border, text_box.right_upp_gsF_p09 .inner_border, text_box.center_upp_gsF_p09 .inner_border,
text_box.left_upp_gsF_p10 .inner_border, text_box.right_upp_gsF_p10 .inner_border, text_box.center_upp_gsF_p10 .inner_border,
text_box.left_upp_gsF_p11 .inner_border, text_box.right_upp_gsF_p11 .inner_border, text_box.center_upp_gsF_p11 .inner_border,
text_box.left_upp_gsF_p12 .inner_border, text_box.right_upp_gsF_p12 .inner_border, text_box.center_upp_gsF_p12 .inner_border,
text_box.left_upp_gsF_p13 .inner_border, text_box.right_upp_gsF_p13 .inner_border, text_box.center_upp_gsF_p13 .inner_border,
text_box.left_upp_gsF_p14 .inner_border, text_box.right_upp_gsF_p14 .inner_border, text_box.center_upp_gsF_p14 .inner_border,
text_box.left_upp_gsF_p15 .inner_border, text_box.right_upp_gsF_p15 .inner_border, text_box.center_upp_gsF_p15 .inner_border,
text_box.left_upp_gsF_p16 .inner_border, text_box.right_upp_gsF_p16 .inner_border, text_box.center_upp_gsF_p16 .inner_border,
text_box.left_upp_gsF_p17 .inner_border, text_box.right_upp_gsF_p17 .inner_border, text_box.center_upp_gsF_p17 .inner_border,
text_box.left_upp_gsF_p18 .inner_border, text_box.right_upp_gsF_p18 .inner_border, text_box.center_upp_gsF_p18 .inner_border,

text_box.left_upp_fill2_p12 .inner_border, text_box.right_upp_fill2_p12 .inner_border, text_box.center_upp_fill2_p12 .inner_border,
text_box.left_upp_fill3_p12 .inner_border, text_box.right_upp_fill3_p12 .inner_border, text_box.center_upp_fill3_p12 .inner_border,
text_box.left_upp_fill4_p12 .inner_border, text_box.right_upp_fill4_p12 .inner_border, text_box.center_upp_fill4_p12 .inner_border,
text_box.left_upp_fill5_p12 .inner_border, text_box.right_upp_fill5_p12 .inner_border, text_box.center_upp_fill5_p12 .inner_border,
text_box.left_upp_fill6_p12 .inner_border, text_box.right_upp_fill6_p12 .inner_border, text_box.center_upp_fill6_p12 .inner_border,
text_box.left_upp_fill7_p12 .inner_border, text_box.right_upp_fill7_p12 .inner_border, text_box.center_upp_fill7_p12 .inner_border
{
  padding: 0pt 0.22em;/* 0.16em */
  padding-top: 0.2em; padding-bottom: -0.4em;
}

text_box.left_upp_gs3_p09 .text, text_box.right_upp_gs3_p09 .text, text_box.center_upp_gs3_p09 .text,
text_box.left_upp_gs3_p10 .text, text_box.right_upp_gs3_p10 .text, text_box.center_upp_gs3_p10 .text,
text_box.left_upp_gs3_p11 .text, text_box.right_upp_gs3_p11 .text, text_box.center_upp_gs3_p11 .text,
text_box.left_upp_gs3_p12 .text, text_box.right_upp_gs3_p12 .text, text_box.center_upp_gs3_p12 .text,
text_box.left_upp_gs3_p13 .text, text_box.right_upp_gs3_p13 .text, text_box.center_upp_gs3_p13 .text,
text_box.left_upp_gs3_p14 .text, text_box.right_upp_gs3_p14 .text, text_box.center_upp_gs3_p14 .text,
text_box.left_upp_gs3_p15 .text, text_box.right_upp_gs3_p15 .text, text_box.center_upp_gs3_p15 .text,
text_box.left_upp_gs3_p16 .text, text_box.right_upp_gs3_p16 .text, text_box.center_upp_gs3_p16 .text,
text_box.left_upp_gs3_p17 .text, text_box.right_upp_gs3_p17 .text, text_box.center_upp_gs3_p17 .text,
text_box.left_upp_gs3_p18 .text, text_box.right_upp_gs3_p18 .text, text_box.center_upp_gs3_p18 .text,

text_box.left_upp_gsF_p09 .text, text_box.right_upp_gsF_p09 .text, text_box.center_upp_gsF_p09 .text,
text_box.left_upp_gsF_p10 .text, text_box.right_upp_gsF_p10 .text, text_box.center_upp_gsF_p10 .text,
text_box.left_upp_gsF_p11 .text, text_box.right_upp_gsF_p11 .text, text_box.center_upp_gsF_p11 .text,
text_box.left_upp_gsF_p12 .text, text_box.right_upp_gsF_p12 .text, text_box.center_upp_gsF_p12 .text,
text_box.left_upp_gsF_p13 .text, text_box.right_upp_gsF_p13 .text, text_box.center_upp_gsF_p13 .text,
text_box.left_upp_gsF_p14 .text, text_box.right_upp_gsF_p14 .text, text_box.center_upp_gsF_p14 .text,
text_box.left_upp_gsF_p15 .text, text_box.right_upp_gsF_p15 .text, text_box.center_upp_gsF_p15 .text,
text_box.left_upp_gsF_p16 .text, text_box.right_upp_gsF_p16 .text, text_box.center_upp_gsF_p16 .text,
text_box.left_upp_gsF_p17 .text, text_box.right_upp_gsF_p17 .text, text_box.center_upp_gsF_p17 .text,
text_box.left_upp_gsF_p18 .text, text_box.right_upp_gsF_p18 .text, text_box.center_upp_gsF_p18 .text,

text_box.left_upp_fill2_p12 .text, text_box.right_upp_fill2_p12 .text, text_box.center_upp_fill2_p12 .text,
text_box.left_upp_fill3_p12 .text, text_box.right_upp_fill3_p12 .text, text_box.center_upp_fill3_p12 .text,
text_box.left_upp_fill4_p12 .text, text_box.right_upp_fill4_p12 .text, text_box.center_upp_fill4_p12 .text,
text_box.left_upp_fill5_p12 .text, text_box.right_upp_fill5_p12 .text, text_box.center_upp_fill5_p12 .text,
text_box.left_upp_fill6_p12 .text, text_box.right_upp_fill6_p12 .text, text_box.center_upp_fill6_p12 .text,
text_box.left_upp_fill7_p12 .text, text_box.right_upp_fill7_p12 .text, text_box.center_upp_fill7_p12 .text
{
  /*
  position: absolute;
  height: auto;
  top: 0.1em
  right: 0pt;
  bottom: 0pt;
  left: 0pt;
  */
  margin: 0pt;
  padding: 0pt;/*padding: -12pt 4.8pt -24pt 4.8pt;*/
}



text_box.left_gsF_p09 .self, text_box.right_gsF_p09 .self, text_box.center_gsF_p09 .self,
text_box.left_gsF_p10 .self, text_box.right_gsF_p10 .self, text_box.center_gsF_p10 .self,
text_box.left_gsF_p11 .self, text_box.right_gsF_p11 .self, text_box.center_gsF_p11 .self,
text_box.left_gsF_p12 .self, text_box.right_gsF_p12 .self, text_box.center_gsF_p12 .self,
text_box.left_gsF_p13 .self, text_box.right_gsF_p13 .self, text_box.center_gsF_p13 .self,
text_box.left_gsF_p14 .self, text_box.right_gsF_p14 .self, text_box.center_gsF_p14 .self,
text_box.left_gsF_p15 .self, text_box.right_gsF_p15 .self, text_box.center_gsF_p15 .self,
text_box.left_gsF_p16 .self, text_box.right_gsF_p16 .self, text_box.center_gsF_p16 .self,
text_box.left_gsF_p17 .self, text_box.right_gsF_p17 .self, text_box.center_gsF_p17 .self,
text_box.left_gsF_p18 .self, text_box.right_gsF_p18 .self, text_box.center_gsF_p18 .self,

text_box.left_upp_gsF_p09 .self, text_box.right_upp_gsF_p09 .self, text_box.center_upp_gsF_p09 .self,
text_box.left_upp_gsF_p10 .self, text_box.right_upp_gsF_p10 .self, text_box.center_upp_gsF_p10 .self,
text_box.left_upp_gsF_p11 .self, text_box.right_upp_gsF_p11 .self, text_box.center_upp_gsF_p11 .self,
text_box.left_upp_gsF_p12 .self, text_box.right_upp_gsF_p12 .self, text_box.center_upp_gsF_p12 .self,
text_box.left_upp_gsF_p13 .self, text_box.right_upp_gsF_p13 .self, text_box.center_upp_gsF_p13 .self,
text_box.left_upp_gsF_p14 .self, text_box.right_upp_gsF_p14 .self, text_box.center_upp_gsF_p14 .self,
text_box.left_upp_gsF_p15 .self, text_box.right_upp_gsF_p15 .self, text_box.center_upp_gsF_p15 .self,
text_box.left_upp_gsF_p16 .self, text_box.right_upp_gsF_p16 .self, text_box.center_upp_gsF_p16 .self,
text_box.left_upp_gsF_p17 .self, text_box.right_upp_gsF_p17 .self, text_box.center_upp_gsF_p17 .self,
text_box.left_upp_gsF_p18 .self, text_box.right_upp_gsF_p18 .self, text_box.center_upp_gsF_p18 .self,

text_box.left_fill2_p12 .self, text_box.right_fill2_p12 .self, text_box.center_fill2_p12 .self,
text_box.left_fill3_p12 .self, text_box.right_fill3_p12 .self, text_box.center_fill3_p12 .self,
text_box.left_fill4_p12 .self, text_box.right_fill4_p12 .self, text_box.center_fill4_p12 .self,
text_box.left_fill5_p12 .self, text_box.right_fill5_p12 .self, text_box.center_fill5_p12 .self,

text_box.left_upp_fill2_p12 .self, text_box.right_upp_fill2_p12 .self, text_box.center_upp_fill2_p12 .self,
text_box.left_upp_fill3_p12 .self, text_box.right_upp_fill3_p12 .self, text_box.center_upp_fill3_p12 .self,
text_box.left_upp_fill4_p12 .self, text_box.right_upp_fill4_p12 .self, text_box.center_upp_fill4_p12 .self,
text_box.left_upp_fill5_p12 .self, text_box.right_upp_fill5_p12 .self, text_box.center_upp_fill5_p12 .self
{color: #FFF;}

/*
text_box.left_ex2_p12_fill .self, text_box.right_ex2_p12_fill .self, text_box.center_ex2_p12_fill .self
{
  background-color: #CE9B00;
  color: #B18501;@ex2
}
text_box.left_gsF_p12_fill .self, text_box.right_gsF_p12_fill .self, text_box.center_gsF_p12_fill .self
{
  background-color: #B18501;
}
*/






text_box.left_ex2_p09 .self, text_box.right_ex2_p09 .self, text_box.center_ex2_p09 .self,
text_box.left_ex4_p09 .self, text_box.right_ex4_p09 .self, text_box.center_ex4_p09 .self,
text_box.left_ex8_p09 .self, text_box.right_ex8_p09 .self, text_box.center_ex8_p09 .self,
text_box.left_gs3_p09 .self, text_box.right_gs3_p09 .self, text_box.center_gs3_p09 .self,
text_box.left_gsF_p09 .self, text_box.right_gsF_p09 .self, text_box.center_gsF_p09 .self,

text_box.left_ex2_p10 .self, text_box.right_ex2_p10 .self, text_box.center_ex2_p10 .self,
text_box.left_ex4_p10 .self, text_box.right_ex4_p10 .self, text_box.center_ex4_p10 .self,
text_box.left_ex8_p10 .self, text_box.right_ex8_p10 .self, text_box.center_ex8_p10 .self,
text_box.left_gs3_p10 .self, text_box.right_gs3_p10 .self, text_box.center_gs3_p10 .self,
text_box.left_gsF_p10 .self, text_box.right_gsF_p10 .self, text_box.center_gsF_p10 .self,

text_box.left_ex2_p11 .self, text_box.right_ex2_p11 .self, text_box.center_ex2_p11 .self,
text_box.left_ex4_p11 .self, text_box.right_ex4_p11 .self, text_box.center_ex4_p11 .self,
text_box.left_ex8_p11 .self, text_box.right_ex8_p11 .self, text_box.center_ex8_p11 .self,
text_box.left_gs3_p11 .self, text_box.right_gs3_p11 .self, text_box.center_gs3_p11 .self,
text_box.left_gsF_p11 .self, text_box.right_gsF_p11 .self, text_box.center_gsF_p11 .self,

text_box.left_ex2_p12 .self, text_box.right_ex2_p12 .self, text_box.center_ex2_p12 .self,
text_box.left_ex4_p12 .self, text_box.right_ex4_p12 .self, text_box.center_ex4_p12 .self,
text_box.left_ex8_p12 .self, text_box.right_ex8_p12 .self, text_box.center_ex8_p12 .self,
text_box.left_gs3_p12 .self, text_box.right_gs3_p12 .self, text_box.center_gs3_p12 .self,
text_box.left_gsF_p12 .self, text_box.right_gsF_p12 .self, text_box.center_gsF_p12 .self,

text_box.left_ex2_p13 .self, text_box.right_ex2_p13 .self, text_box.center_ex2_p13 .self,
text_box.left_ex4_p13 .self, text_box.right_ex4_p13 .self, text_box.center_ex4_p13 .self,
text_box.left_ex8_p13 .self, text_box.right_ex8_p13 .self, text_box.center_ex8_p13 .self,
text_box.left_gs3_p13 .self, text_box.right_gs3_p13 .self, text_box.center_gs3_p13 .self,
text_box.left_gsF_p13 .self, text_box.right_gsF_p13 .self, text_box.center_gsF_p13 .self,

text_box.left_ex2_p14 .self, text_box.right_ex2_p14 .self, text_box.center_ex2_p14 .self,
text_box.left_ex4_p14 .self, text_box.right_ex4_p14 .self, text_box.center_ex4_p14 .self,
text_box.left_ex8_p14 .self, text_box.right_ex8_p14 .self, text_box.center_ex8_p14 .self,
text_box.left_gs3_p14 .self, text_box.right_gs3_p14 .self, text_box.center_gs3_p14 .self,
text_box.left_gsF_p14 .self, text_box.right_gsF_p14 .self, text_box.center_gsF_p14 .self,

text_box.left_ex2_p15 .self, text_box.right_ex2_p15 .self, text_box.center_ex2_p15 .self,
text_box.left_ex4_p15 .self, text_box.right_ex4_p15 .self, text_box.center_ex4_p15 .self,
text_box.left_ex8_p15 .self, text_box.right_ex8_p15 .self, text_box.center_ex8_p15 .self,
text_box.left_gs3_p15 .self, text_box.right_gs3_p15 .self, text_box.center_gs3_p15 .self,
text_box.left_gsF_p15 .self, text_box.right_gsF_p15 .self, text_box.center_gsF_p15 .self,

text_box.left_ex2_p16 .self, text_box.right_ex2_p16 .self, text_box.center_ex2_p16 .self,
text_box.left_ex4_p16 .self, text_box.right_ex4_p16 .self, text_box.center_ex4_p16 .self,
text_box.left_ex8_p16 .self, text_box.right_ex8_p16 .self, text_box.center_ex8_p16 .self,
text_box.left_gs3_p16 .self, text_box.right_gs3_p16 .self, text_box.center_gs3_p16 .self,
text_box.left_gsF_p16 .self, text_box.right_gsF_p16 .self, text_box.center_gsF_p16 .self,

text_box.left_ex2_p17 .self, text_box.right_ex2_p17 .self, text_box.center_ex2_p17 .self,
text_box.left_ex4_p17 .self, text_box.right_ex4_p17 .self, text_box.center_ex4_p17 .self,
text_box.left_ex8_p17 .self, text_box.right_ex8_p17 .self, text_box.center_ex8_p17 .self,
text_box.left_gs3_p17 .self, text_box.right_gs3_p17 .self, text_box.center_gs3_p17 .self,
text_box.left_gsF_p17 .self, text_box.right_gsF_p17 .self, text_box.center_gsF_p17 .self,

text_box.left_ex2_p18 .self, text_box.right_ex2_p18 .self, text_box.center_ex2_p18 .self,
text_box.left_ex4_p18 .self, text_box.right_ex4_p18 .self, text_box.center_ex4_p18 .self,
text_box.left_ex8_p18 .self, text_box.right_ex8_p18 .self, text_box.center_ex8_p18 .self,
text_box.left_gs3_p18 .self, text_box.right_gs3_p18 .self, text_box.center_gs3_p18 .self,
text_box.left_gsF_p18 .self, text_box.right_gsF_p18 .self, text_box.center_gsF_p18 .self,

text_box.left_fill2_p12 .self, text_box.right_fill2_p12 .self, text_box.center_fill2_p12 .self,
text_box.left_fill3_p12 .self, text_box.right_fill3_p12 .self, text_box.center_fill3_p12 .self,
text_box.left_fill4_p12 .self, text_box.right_fill4_p12 .self, text_box.center_fill4_p12 .self,
text_box.left_fill5_p12 .self, text_box.right_fill5_p12 .self, text_box.center_fill5_p12 .self,
text_box.left_fill6_p12 .self, text_box.right_fill6_p12 .self, text_box.center_fill6_p12 .self,
text_box.left_fill7_p12 .self, text_box.right_fill7_p12 .self, text_box.center_fill7_p12 .self
{
  border-style: none; border-width: 0pt;
  /* background-image: none; border-color: rgba(0,0,0,0); */
  line-height: 0.8line;
  -fm-text-vertical-align: center;
}

text_box.left_ex2_p09 .inner_border, text_box.right_ex2_p09 .inner_border, text_box.center_ex2_p09 .inner_border,
text_box.left_ex4_p09 .inner_border, text_box.right_ex4_p09 .inner_border, text_box.center_ex4_p09 .inner_border,
text_box.left_ex8_p09 .inner_border, text_box.right_ex8_p09 .inner_border, text_box.center_ex8_p09 .inner_border,
text_box.left_gs3_p09 .inner_border, text_box.right_gs3_p09 .inner_border, text_box.center_gs3_p09 .inner_border,
text_box.left_gsF_p09 .inner_border, text_box.right_gsF_p09 .inner_border, text_box.center_gsF_p09 .inner_border,

text_box.left_ex2_p10 .inner_border, text_box.right_ex2_p10 .inner_border, text_box.center_ex2_p10 .inner_border,
text_box.left_ex4_p10 .inner_border, text_box.right_ex4_p10 .inner_border, text_box.center_ex4_p10 .inner_border,
text_box.left_ex8_p10 .inner_border, text_box.right_ex8_p10 .inner_border, text_box.center_ex8_p10 .inner_border,
text_box.left_gs3_p10 .inner_border, text_box.right_gs3_p10 .inner_border, text_box.center_gs3_p10 .inner_border,
text_box.left_gsF_p10 .inner_border, text_box.right_gsF_p10 .inner_border, text_box.center_gsF_p10 .inner_border,

text_box.left_ex2_p11 .inner_border, text_box.right_ex2_p11 .inner_border, text_box.center_ex2_p11 .inner_border,
text_box.left_ex4_p11 .inner_border, text_box.right_ex4_p11 .inner_border, text_box.center_ex4_p11 .inner_border,
text_box.left_ex8_p11 .inner_border, text_box.right_ex8_p11 .inner_border, text_box.center_ex8_p11 .inner_border,
text_box.left_gs3_p11 .inner_border, text_box.right_gs3_p11 .inner_border, text_box.center_gs3_p11 .inner_border,
text_box.left_gsF_p11 .inner_border, text_box.right_gsF_p11 .inner_border, text_box.center_gsF_p11 .inner_border,

text_box.left_ex2_p12 .inner_border, text_box.right_ex2_p12 .inner_border, text_box.center_ex2_p12 .inner_border,
text_box.left_ex4_p12 .inner_border, text_box.right_ex4_p12 .inner_border, text_box.center_ex4_p12 .inner_border,
text_box.left_ex8_p12 .inner_border, text_box.right_ex8_p12 .inner_border, text_box.center_ex8_p12 .inner_border,
text_box.left_gs3_p12 .inner_border, text_box.right_gs3_p12 .inner_border, text_box.center_gs3_p12 .inner_border,
text_box.left_gsF_p12 .inner_border, text_box.right_gsF_p12 .inner_border, text_box.center_gsF_p12 .inner_border,

text_box.left_ex2_p13 .inner_border, text_box.right_ex2_p13 .inner_border, text_box.center_ex2_p13 .inner_border,
text_box.left_ex4_p13 .inner_border, text_box.right_ex4_p13 .inner_border, text_box.center_ex4_p13 .inner_border,
text_box.left_ex8_p13 .inner_border, text_box.right_ex8_p13 .inner_border, text_box.center_ex8_p13 .inner_border,
text_box.left_gs3_p13 .inner_border, text_box.right_gs3_p13 .inner_border, text_box.center_gs3_p13 .inner_border,
text_box.left_gsF_p13 .inner_border, text_box.right_gsF_p13 .inner_border, text_box.center_gsF_p13 .inner_border,

text_box.left_ex2_p14 .inner_border, text_box.right_ex2_p14 .inner_border, text_box.center_ex2_p14 .inner_border,
text_box.left_ex4_p14 .inner_border, text_box.right_ex4_p14 .inner_border, text_box.center_ex4_p14 .inner_border,
text_box.left_ex8_p14 .inner_border, text_box.right_ex8_p14 .inner_border, text_box.center_ex8_p14 .inner_border,
text_box.left_gs3_p14 .inner_border, text_box.right_gs3_p14 .inner_border, text_box.center_gs3_p14 .inner_border,
text_box.left_gsF_p14 .inner_border, text_box.right_gsF_p14 .inner_border, text_box.center_gsF_p14 .inner_border,

text_box.left_ex2_p15 .inner_border, text_box.right_ex2_p15 .inner_border, text_box.center_ex2_p15 .inner_border,
text_box.left_ex4_p15 .inner_border, text_box.right_ex4_p15 .inner_border, text_box.center_ex4_p15 .inner_border,
text_box.left_ex8_p15 .inner_border, text_box.right_ex8_p15 .inner_border, text_box.center_ex8_p15 .inner_border,
text_box.left_gs3_p15 .inner_border, text_box.right_gs3_p15 .inner_border, text_box.center_gs3_p15 .inner_border,
text_box.left_gsF_p15 .inner_border, text_box.right_gsF_p15 .inner_border, text_box.center_gsF_p15 .inner_border,

text_box.left_ex2_p16 .inner_border, text_box.right_ex2_p16 .inner_border, text_box.center_ex2_p16 .inner_border,
text_box.left_ex4_p16 .inner_border, text_box.right_ex4_p16 .inner_border, text_box.center_ex4_p16 .inner_border,
text_box.left_ex8_p16 .inner_border, text_box.right_ex8_p16 .inner_border, text_box.center_ex8_p16 .inner_border,
text_box.left_gs3_p16 .inner_border, text_box.right_gs3_p16 .inner_border, text_box.center_gs3_p16 .inner_border,
text_box.left_gsF_p16 .inner_border, text_box.right_gsF_p16 .inner_border, text_box.center_gsF_p16 .inner_border,

text_box.left_ex2_p17 .inner_border, text_box.right_ex2_p17 .inner_border, text_box.center_ex2_p17 .inner_border,
text_box.left_ex4_p17 .inner_border, text_box.right_ex4_p17 .inner_border, text_box.center_ex4_p17 .inner_border,
text_box.left_ex8_p17 .inner_border, text_box.right_ex8_p17 .inner_border, text_box.center_ex8_p17 .inner_border,
text_box.left_gs3_p17 .inner_border, text_box.right_gs3_p17 .inner_border, text_box.center_gs3_p17 .inner_border,
text_box.left_gsF_p17 .inner_border, text_box.right_gsF_p17 .inner_border, text_box.center_gsF_p17 .inner_border,

text_box.left_ex2_p18 .inner_border, text_box.right_ex2_p18 .inner_border, text_box.center_ex2_p18 .inner_border,
text_box.left_ex4_p18 .inner_border, text_box.right_ex4_p18 .inner_border, text_box.center_ex4_p18 .inner_border,
text_box.left_ex8_p18 .inner_border, text_box.right_ex8_p18 .inner_border, text_box.center_ex8_p18 .inner_border,
text_box.left_gs3_p18 .inner_border, text_box.right_gs3_p18 .inner_border, text_box.center_gs3_p18 .inner_border,
text_box.left_gsF_p18 .inner_border, text_box.right_gsF_p18 .inner_border, text_box.center_gsF_p18 .inner_border,

text_box.left_fill2_p12 .inner_border, text_box.right_fill2_p12 .inner_border, text_box.center_fill2_p12 .inner_border,
text_box.left_fill3_p12 .inner_border, text_box.right_fill3_p12 .inner_border, text_box.center_fill3_p12 .inner_border,
text_box.left_fill4_p12 .inner_border, text_box.right_fill4_p12 .inner_border, text_box.center_fill4_p12 .inner_border,
text_box.left_fill5_p12 .inner_border, text_box.right_fill5_p12 .inner_border, text_box.center_fill5_p12 .inner_border,
text_box.left_fill6_p12 .inner_border, text_box.right_fill6_p12 .inner_border, text_box.center_fill6_p12 .inner_border,
text_box.left_fill7_p12 .inner_border, text_box.right_fill7_p12 .inner_border, text_box.center_fill7_p12 .inner_border
{
  /*
  margin-top: -24%; margin-bottom: -36%;
  margin-top: -24%; margin-bottom: -38%;
  */
  margin-top: -39%; margin-bottom: -37%;/* [memo]for allowing to shrink height. */
  padding: 0pt 0.22em;
  padding-top: 0em; padding-bottom: -0.4em;
}

text_box.left_ex2_p09 .text, text_box.right_ex2_p09 .text, text_box.center_ex2_p09 .text,
text_box.left_ex4_p09 .text, text_box.right_ex4_p09 .text, text_box.center_ex4_p09 .text,
text_box.left_ex8_p09 .text, text_box.right_ex8_p09 .text, text_box.center_ex8_p09 .text,
text_box.left_gs3_p09 .text, text_box.right_gs3_p09 .text, text_box.center_gs3_p09 .text,
text_box.left_gsF_p09 .text, text_box.right_gsF_p09 .text, text_box.center_gsF_p09 .text,

text_box.left_ex2_p10 .text, text_box.right_ex2_p10 .text, text_box.center_ex2_p10 .text,
text_box.left_ex4_p10 .text, text_box.right_ex4_p10 .text, text_box.center_ex4_p10 .text,
text_box.left_ex8_p10 .text, text_box.right_ex8_p10 .text, text_box.center_ex8_p10 .text,
text_box.left_gs3_p10 .text, text_box.right_gs3_p10 .text, text_box.center_gs3_p10 .text,
text_box.left_gsF_p10 .text, text_box.right_gsF_p10 .text, text_box.center_gsF_p10 .text,

text_box.left_ex2_p11 .text, text_box.right_ex2_p11 .text, text_box.center_ex2_p11 .text,
text_box.left_ex4_p11 .text, text_box.right_ex4_p11 .text, text_box.center_ex4_p11 .text,
text_box.left_ex8_p11 .text, text_box.right_ex8_p11 .text, text_box.center_ex8_p11 .text,
text_box.left_gs3_p11 .text, text_box.right_gs3_p11 .text, text_box.center_gs3_p11 .text,
text_box.left_gsF_p11 .text, text_box.right_gsF_p11 .text, text_box.center_gsF_p11 .text,

text_box.left_ex2_p12 .text, text_box.right_ex2_p12 .text, text_box.center_ex2_p12 .text,
text_box.left_ex4_p12 .text, text_box.right_ex4_p12 .text, text_box.center_ex4_p12 .text,
text_box.left_ex8_p12 .text, text_box.right_ex8_p12 .text, text_box.center_ex8_p12 .text,
text_box.left_gs3_p12 .text, text_box.right_gs3_p12 .text, text_box.center_gs3_p12 .text,
text_box.left_gsF_p12 .text, text_box.right_gsF_p12 .text, text_box.center_gsF_p12 .text,

text_box.left_ex2_p13 .text, text_box.right_ex2_p13 .text, text_box.center_ex2_p13 .text,
text_box.left_ex4_p13 .text, text_box.right_ex4_p13 .text, text_box.center_ex4_p13 .text,
text_box.left_ex8_p13 .text, text_box.right_ex8_p13 .text, text_box.center_ex8_p13 .text,
text_box.left_gs3_p13 .text, text_box.right_gs3_p13 .text, text_box.center_gs3_p13 .text,
text_box.left_gsF_p13 .text, text_box.right_gsF_p13 .text, text_box.center_gsF_p13 .text,

text_box.left_ex2_p14 .text, text_box.right_ex2_p14 .text, text_box.center_ex2_p14 .text,
text_box.left_ex4_p14 .text, text_box.right_ex4_p14 .text, text_box.center_ex4_p14 .text,
text_box.left_ex8_p14 .text, text_box.right_ex8_p14 .text, text_box.center_ex8_p14 .text,
text_box.left_gs3_p14 .text, text_box.right_gs3_p14 .text, text_box.center_gs3_p14 .text,
text_box.left_gsF_p14 .text, text_box.right_gsF_p14 .text, text_box.center_gsF_p14 .text,

text_box.left_ex2_p15 .text, text_box.right_ex2_p15 .text, text_box.center_ex2_p15 .text,
text_box.left_ex4_p15 .text, text_box.right_ex4_p15 .text, text_box.center_ex4_p15 .text,
text_box.left_ex8_p15 .text, text_box.right_ex8_p15 .text, text_box.center_ex8_p15 .text,
text_box.left_gs3_p15 .text, text_box.right_gs3_p15 .text, text_box.center_gs3_p15 .text,
text_box.left_gsF_p15 .text, text_box.right_gsF_p15 .text, text_box.center_gsF_p15 .text,

text_box.left_ex2_p16 .text, text_box.right_ex2_p16 .text, text_box.center_ex2_p16 .text,
text_box.left_ex4_p16 .text, text_box.right_ex4_p16 .text, text_box.center_ex4_p16 .text,
text_box.left_ex8_p16 .text, text_box.right_ex8_p16 .text, text_box.center_ex8_p16 .text,
text_box.left_gs3_p16 .text, text_box.right_gs3_p16 .text, text_box.center_gs3_p16 .text,
text_box.left_gsF_p16 .text, text_box.right_gsF_p16 .text, text_box.center_gsF_p16 .text,

text_box.left_ex2_p17 .text, text_box.right_ex2_p17 .text, text_box.center_ex2_p17 .text,
text_box.left_ex4_p17 .text, text_box.right_ex4_p17 .text, text_box.center_ex4_p17 .text,
text_box.left_ex8_p17 .text, text_box.right_ex8_p17 .text, text_box.center_ex8_p17 .text,
text_box.left_gs3_p17 .text, text_box.right_gs3_p17 .text, text_box.center_gs3_p17 .text,
text_box.left_gsF_p17 .text, text_box.right_gsF_p17 .text, text_box.center_gsF_p17 .text,

text_box.left_ex2_p18 .text, text_box.right_ex2_p18 .text, text_box.center_ex2_p18 .text,
text_box.left_ex4_p18 .text, text_box.right_ex4_p18 .text, text_box.center_ex4_p18 .text,
text_box.left_ex8_p18 .text, text_box.right_ex8_p18 .text, text_box.center_ex8_p18 .text,
text_box.left_gs3_p18 .text, text_box.right_gs3_p18 .text, text_box.center_gs3_p18 .text,
text_box.left_gsF_p18 .text, text_box.right_gsF_p18 .text, text_box.center_gsF_p18 .text,

text_box.left_fill2_p12 .text, text_box.right_fill2_p12 .text, text_box.center_fill2_p12 .text,
text_box.left_fill3_p12 .text, text_box.right_fill3_p12 .text, text_box.center_fill3_p12 .text,
text_box.left_fill4_p12 .text, text_box.right_fill4_p12 .text, text_box.center_fill4_p12 .text,
text_box.left_fill5_p12 .text, text_box.right_fill5_p12 .text, text_box.center_fill5_p12 .text,
text_box.left_fill6_p12 .text, text_box.right_fill6_p12 .text, text_box.center_fill6_p12 .text,
text_box.left_fill7_p12 .text, text_box.right_fill7_p12 .text, text_box.center_fill7_p12 .text
{
  /*
  position: absolute;
  height: auto;
  top: 0.1em;
  right: 0pt;
  bottom: 0pt;
  left: 0pt;
  */
  margin: 0pt;
  padding: 0pt;
}