//00Gray
@ex1: #646464; @ex2: #7C7C7C; @ex3: #909090; @ex4: #A1A1A1; @ex5: #B2B2B2; @ex6: #C6C6C6; @ex7: #D0D0D0; @ex8: #DCDCDC; @ex9: #E9E9E9; @accent: #3593DF;

//01Marsala
//@ex1: #6A3624; @ex2: #853B23; @ex3: #9C543D; @ex4: #B67056; @ex5: #C88770; @ex6: #DBA897; @ex7: #E7BDAF; @ex8: #EDCFC4; @ex9: #F4EBE8; @accent: #DF427E;

//01Brown
//@ex1: #75543D; @ex2: #8C6950; @ex3: #A57E62; @ex4: #BA9377; @ex5: #CAA88E; @ex6: #DBBFAC; @ex7: #E2CDC0; @ex8: #ECDDD2; @ex9: #F1EBE6; @accent: #B1CA4F;
//@ex1: #8F5845; @ex2: #9F6B59; @ex3: #B37C6A; @ex4: #C58D7A; @ex5: #D1A292; @ex6: #DCBCB1; @ex7: #E4CDC5; @ex8: #EDDCD6; @ex9: #F4EBE8; @accent: #;

//02Orange
//@ex1: #A85D0B; @ex2: #C16B0D; @ex3: #DD821C; @ex4: #F8972C; @ex5: #FFAE55; @ex6: #FFC483; @ex7: #FDD3A6; @ex8: #FDDFBA; @ex9: #FBEDD8; @accent: #6777CF;

//03Amber
//@ex1: #9E7904; @ex2: #B18501; @ex3: #CE9B00; @ex4: #E9AF01; @ex5: #F9C11F; @ex6: #FDD251; @ex7: #FEDF81; @ex8: #FBE6A7; @ex9: #FBF2D8; @accent: #DF427E;

//04Yellow
//@ex1: #877C0E; @ex2: #978C0B; @ex3: #AFA318; @ex4: #C3B831; @ex5: #D8CD44; @ex6: #E6DB5B; @ex7: #F0E76C; @ex8: #F4ED8E; @ex9: #F7F4D6; @accent: #35BBCE;

//05Lime
//@ex1: #6B7701; @ex2: #808C01; @ex3: #93A310; @ex4: #AABC11; @ex5: #BECF24; @ex6: #D3DF5F; @ex7: #DDE880; @ex8: #E6ED9E; @ex9: #F4F9D4; @accent: #5287E0;

//06Bamboo
//@ex1: #49741B; @ex2: #468700; @ex3: #63A31D; @ex4: #80BA3F; @ex5: #95CC57; @ex6: #AEDB7C; @ex7: #C1E798; @ex8: #D1EBB6; @ex9: #EDF6E1; @accent: #EF5FAE;

//07
//@ex1: #; @ex2: #; @ex3: #; @ex4: #; @ex5: #; @ex6: #; @ex7: #; @ex8: #; @ex9: #; @accent: #;

//08Green
//@ex1: #247128; @ex2: #238528; @ex3: #3EA243; @ex4: #52BC57; @ex5: #68D06D; @ex6: #97DB9A; @ex7: #ADE7B0; @ex8: #C4EDC6; @ex9: #E8F4E9; @accent: #D63DAF;

//09Meadow
//@ex1: #14702E; @ex2: #1C8839; @ex3: #2DA24D; @ex4: #3CBD60; @ex5: #57D078; @ex6: #86DD9E; @ex7: #A7E7B9; @ex8: #BFEECC; @ex9: #E4F8EA; @accent: #BB57CC;

//10
//@ex1: #; @ex2: #; @ex3: #; @ex4: #; @ex5: #; @ex6: #; @ex7: #; @ex8: #; @ex9: #; @accent: #;

//11Teal
//@ex1: #11675F; @ex2: #128377; @ex3: #1C9D91; @ex4: #10B4A4; @ex5: #30C9BA; @ex6: #70D6CC; @ex7: #8BE2DA; @ex8: #B8EBE6; @ex9: #DDF4F2; @accent: #C3B831;

//12Cyan
//@ex1: #00616F; @ex2: #007C8E; @ex3: #1394A6; @ex4: #0EA8BE; @ex5: #34BACD; @ex6: #64CFDF; @ex7: #88DAE6; @ex8: #AAE6ED; @ex9: #DAF4F9; @accent: #D8CD44;

//13Slate
//@ex1: #445C66; @ex2: #557079; @ex3: #69858F; @ex4: #7E9AA5; @ex5: #97AFB6; @ex6: #B1C5CB; @ex7: #C0D2D8; @ex8: #D6DFE2; @ex9: #E1E9EC; @accent: #C58D7A;

//14Azure
//@ex1: #0C5592; @ex2: #0D64AC; @ex3: #1378CA; @ex4: #3593DF; @ex5: #5CACED; @ex6: #80C1F9; @ex7: #9ACFFA; @ex8: #BADDFB; @ex9: #E2F2FD; @accent: #BA9377;

//15Blue
//@ex1: #0A42A0; @ex2: #1E57B7; @ex3: #336CCC; @ex4: #5287E0; @ex5: #6FA0F4; @ex6: #93BAFB; @ex7: #ACCBFD; @ex8: #C6D9FD; @ex9: #E2EDFE; @accent: #E9AF01;

//16Indigo
//@ex1: #263692; @ex2: #3A4BA8; @ex3: #4D5FBF; @ex4: #6777CF; @ex5: #8995DF; @ex6: #A7AFE6; @ex7: #C0C7ED; @ex8: #D3D9F3; @ex9: #EBEDF7; @accent: #AABC11;

//17Violet
//@ex1: #463395; @ex2: #553EB5; @ex3: #6C55CA; @ex4: #846DDC; @ex5: #A08DEB; @ex6: #B3A7E9; @ex7: #CBC2EF; @ex8: #DED8F5; @ex9: #EDEAF9; @accent: #F4972D;

//18Mouve
//@ex1: #57259A; @ex2: #6831B3; @ex3: #794EC2; @ex4: #936FCE; @ex5: #AE8EE3; @ex6: #BEA5E9; @ex7: #D1BFEE; @ex8: #E3D8F5; @ex9: #EFE8FB; @accent: #0EA8BE;

//19Purple
//@ex1: #741485; @ex2: #8B219E; @ex3: #A528BB; @ex4: #BB57CC; @ex5: #CD7DDB; @ex6: #DD9AE9; @ex7: #E4B6ED; @ex8: #F0D1F5; @ex9: #F7E3F9; @accent: #80BA3F;

//20Magenta
//@ex1: #7E107E; @ex2: #951595; @ex3: #AC37AC; @ex4: #C94EC9; @ex5: #D971D9; @ex6: #E296E2; @ex7: #EDABED; @ex8: #F7C8F7; @ex9: #FFDDFF; @accent: #3CBD60;

//21Orchid
//@ex1: #871169; @ex2: #A0117C; @ex3: #BE2397; @ex4: #D63DAF; @ex5: #E660C6; @ex6: #F286D8; @ex7: #F5A7E2; @ex8: #FAC5ED; @ex9: #FFDDF6; @accent: #10B4A4;

//22Ruby
//@ex1: #881153; @ex2: #A91466; @ex3: #C7237D; @ex4: #DF4298; @ex5: #EF5FAE; @ex6: #F786C4; @ex7: #FAA3D2; @ex8: #FCC2E2; @ex9: #FFDDF0; @accent: #10BE67;

//23Pink
//@ex1: #921242; @ex2: #AA144D; @ex3: #C62360; @ex4: #DF427E; @ex5: #EF5F95; @ex6: #F687B1; @ex7: #FAA3C4; @ex8: #FCC2D8; @ex9: #FFDDE9; @accent: #80BA3F;

//24Tomato
//@ex1: #941E1B; @ex2: #AD2421; @ex3: #CE312D; @ex4: #E95450; @ex5: #F07673; @ex6: #F59A98; @ex7: #F7AEAC; @ex8: #F9CBCA; @ex9: #FBE2E1; @accent: #0EA8BE;



line.stroke_ex1 .self, rectangle.stroke_ex1 .self
{border-color: @ex1;}
line.stroke_ex2 .self, rectangle.stroke_ex2 .self,
rectangle.stroke0001_rad_ex2 .self, rounded.stroke0001_rad_ex2 .self
{border-color: @ex2;}
line.stroke_ex3 .self, rectangle.stroke_ex3 .self
{border-color: @ex3;}
line.stroke_ex4 .self, rectangle.stroke_ex4 .self,
rectangle.stroke0001_rad_ex4 .self, rounded.stroke0001_rad_ex4 .self
{border-color: @ex4;}
line.stroke_ex5 .self, rectangle.stroke_ex5 .self
{border-color: @ex5;}
line.stroke_ex6 .self, rectangle.stroke_ex6 .self
{border-color: @ex6;}
line.stroke_ex7 .self, rectangle.stroke_ex7 .self
{border-color: @ex7;}
line.stroke_ex8 .self, rectangle.stroke_ex8 .self,
rectangle.stroke0001_rad_ex8 .self, rounded.stroke0001_rad_ex8 .self
{border-color: @ex8;}
line.stroke_ex9 .self, rectangle.stroke_ex9 .self,
{border-color: @ex9;}


body.fill_ex1 .self,
button.fill_ex1 .self,
button.circle_ex1 .self,
button_bar_segment.fill_ex1 .self,
button_bar_segment.circle_ex1 .self,
popover.fill_ex1 .self,
rectangle.fill_ex1 .self, oval.fill_ex1 .self
{background-color: @ex1;}
body.fill_ex2 .self,
button.fill_ex2 .self,
button.circle_ex2 .self,
button_bar_segment.fill_ex2 .self,
button_bar_segment.circle_ex2 .self,
popover.fill_ex2 .self,
rectangle.fill_ex2 .self, oval.fill_ex2 .self
{background-color: @ex2;}
body.fill_ex3 .self,
button.fill_ex3 .self,
button.circle_ex3 .self,
button_bar_segment.fill_ex3 .self,
button_bar_segment.circle_ex3 .self,
popover.fill_ex3 .self,
rectangle.fill_ex3 .self, oval.fill_ex3 .self
{background-color: @ex3;}
body.fill_ex4 .self,
button.fill_ex4 .self,
button.circle_ex4 .self,
button_bar_segment.fill_ex4 .self,
button_bar_segment.circle_ex4 .self,
popover.fill_ex4 .self,
rectangle.fill_ex4 .self, oval.fill_ex4 .self
{background-color: @ex4;}
body.fill_ex5 .self,
button.fill_ex5 .self,
button.circle_ex5 .self,
button_bar_segment.fill_ex5 .self,
button_bar_segment.circle_ex5 .self,
popover.fill_ex5 .self,
rectangle.fill_ex5 .self, oval.fill_ex5 .self
{background-color: @ex5;}
body.fill_ex6 .self,
button.fill_ex6 .self,
button.circle_ex6 .self,
button_bar_segment.fill_ex6 .self,
button_bar_segment.circle_ex6 .self,
popover.fill_ex6 .self,
rectangle.fill_ex6 .self, oval.fill_ex6 .self
{background-color: @ex6;}
body.fill_ex7 .self,
button.fill_ex7 .self,
button.circle_ex7 .self,
button_bar_segment.fill_ex7 .self,
button_bar_segment.circle_ex7 .self,
popover.fill_ex7 .self,
rectangle.fill_ex7 .self, oval.fill_ex7 .self
{background-color: @ex7;}
body.fill_ex8 .self,
button.fill_ex8 .self,
button.circle_ex8 .self,
button_bar_segment.fill_ex8 .self,
button_bar_segment.circle_ex8 .self,
popover.fill_ex8 .self,
rectangle.fill_ex8 .self, oval.fill_ex8 .self
{background-color: @ex8;}
body.fill_ex9 .self,
button.fill_ex9 .self,
button.circle_ex9 .self,
button_bar_segment.fill_ex9 .self,
button_bar_segment.circle_ex9 .self,
popover.fill_ex9 .self,
rectangle.fill_ex9 .self, oval.fill_ex9 .self
{background-color: @ex9;}
button.fill_acc .self,
button.circle_acc .self,
button_bar_segment.fill_acc .self,
button_bar_segment.circle_acc .self,
popover.fill_acc .self,
{background-color: @accent;}



text_box.left_ex2_p09 .self, text_box.right_ex2_p09 .self, text_box.center_ex2_p09 .self,
text_box.left_ex2_p10 .self, text_box.right_ex2_p10 .self, text_box.center_ex2_p10 .self,
text_box.left_ex2_p11 .self, text_box.right_ex2_p11 .self, text_box.center_ex2_p11 .self,
text_box.left_ex2_p12 .self, text_box.right_ex2_p12 .self, text_box.center_ex2_p12 .self,
text_box.left_ex2_p13 .self, text_box.right_ex2_p13 .self, text_box.center_ex2_p13 .self,
text_box.left_ex2_p14 .self, text_box.right_ex2_p14 .self, text_box.center_ex2_p14 .self,
text_box.left_ex2_p15 .self, text_box.right_ex2_p15 .self, text_box.center_ex2_p15 .self,
text_box.left_ex2_p16 .self, text_box.right_ex2_p16 .self, text_box.center_ex2_p16 .self,
text_box.left_ex2_p17 .self, text_box.right_ex2_p17 .self, text_box.center_ex2_p17 .self,
text_box.left_ex2_p18 .self, text_box.right_ex2_p18 .self, text_box.center_ex2_p18 .self,
text_box.min_ex2 .self,
button_bar_segment.min_ex2:normal .self
{color: @ex2;}
button_bar_segment.min_ex2:normal .icon
{-fm-icon-color: @ex2;}

text_box.left_ex4_p09 .self, text_box.right_ex4_p09 .self, text_box.center_ex4_p09 .self,
text_box.left_ex4_p10 .self, text_box.right_ex4_p10 .self, text_box.center_ex4_p10 .self,
text_box.left_ex4_p11 .self, text_box.right_ex4_p11 .self, text_box.center_ex4_p11 .self,
text_box.left_ex4_p12 .self, text_box.right_ex4_p12 .self, text_box.center_ex4_p12 .self,
text_box.left_ex4_p13 .self, text_box.right_ex4_p13 .self, text_box.center_ex4_p13 .self,
text_box.left_ex4_p14 .self, text_box.right_ex4_p14 .self, text_box.center_ex4_p14 .self,
text_box.left_ex4_p15 .self, text_box.right_ex4_p15 .self, text_box.center_ex4_p15 .self,
text_box.left_ex4_p16 .self, text_box.right_ex4_p16 .self, text_box.center_ex4_p16 .self,
text_box.left_ex4_p17 .self, text_box.right_ex4_p17 .self, text_box.center_ex4_p17 .self,
text_box.left_ex4_p18 .self, text_box.right_ex4_p18 .self, text_box.center_ex4_p18 .self,
text_box.min_ex4 .self,
button_bar_segment.min_ex4:normal .self
{color: @ex4;}
button_bar_segment.min_ex4:normal .icon
{-fm-icon-color: @ex4;}

text_box.left_ex8_p09 .self, text_box.right_ex8_p09 .self, text_box.center_ex8_p09 .self,
text_box.left_ex8_p10 .self, text_box.right_ex8_p10 .self, text_box.center_ex8_p10 .self,
text_box.left_ex8_p11 .self, text_box.right_ex8_p11 .self, text_box.center_ex8_p11 .self,
text_box.left_ex8_p12 .self, text_box.right_ex8_p12 .self, text_box.center_ex8_p12 .self,
text_box.left_ex8_p13 .self, text_box.right_ex8_p13 .self, text_box.center_ex8_p13 .self,
text_box.left_ex8_p14 .self, text_box.right_ex8_p14 .self, text_box.center_ex8_p14 .self,
text_box.left_ex8_p15 .self, text_box.right_ex8_p15 .self, text_box.center_ex8_p15 .self,
text_box.left_ex8_p16 .self, text_box.right_ex8_p16 .self, text_box.center_ex8_p16 .self,
text_box.left_ex8_p17 .self, text_box.right_ex8_p17 .self, text_box.center_ex8_p17 .self,
text_box.left_ex8_p18 .self, text_box.right_ex8_p18 .self, text_box.center_ex8_p18 .self,
text_box.min_ex8 .self,
button_bar_segment.min_ex8:normal .self
{color: @ex8;}
button_bar_segment.min_ex8:normal .icon
{-fm-icon-color: @ex8;}



/** BLOCK ------------------------*/
body:checked .self {background-color: @ex8;}
button.row:hover .self{background-color: @ex9;}



text_box.cap:normal .self
{
  border-color: @ex8;
  background-image: -webkit-gradient(linear,0% 0%,0% 100%, from(@ex5), to(@ex4));
}
text_box.cap:hover .self
{
  border-color: @ex5;
  background-image: -webkit-gradient(linear,0% 0%,0% 100%, from(@ex4), to(@ex3));
}
text_box.cap:pressed .self
{
  border-color: @ex2;
  background-image: -webkit-gradient(linear,0% 0%,0% 100%, from(@ex3), to(@ex4));
}
text_box.cap:pressed .inner_border
{
  box-shadow: inset 0pt 0pt 3pt 1pt @ex2;
}



/** CHECK, RADIO ------------------------*/
button.btn_check:normal .self,
button.btn_radio:normal .self,
button.btn_check:hover .self,
button.btn_radio:hover .self,
button.btn_check:pressed .self,
button.btn_radio:pressed .self
{
  background-color: @ex4;
}

checkbox_set:checked .icon {
  background-color: @ex4;
  border-color: @ex4;
}
radio_set:checked .icon {
  -fm-icon-color: @ex4;
  border-color: @ex4;
}

/** DOTCONTROL ------------------------*/
/*dot_control:active .dot*/
dot_control.def_h20:active .dot, dot_control.min_h20:active .dot, 
dot_control.def_h25:active .dot, dot_control.min_h25:active .dot,
dot_control.def_h30:active .dot, dot_control.min_h30:active .dot,
dot_control.def_h35:active .dot, dot_control.min_h35:active .dot
{
  background-color: @ex4;
}

/** TABCONTROL -----------------------*/
tab_panel:normal .tab,
tab_panel.def_h25:normal .tab,
tab_panel.def_h30:normal .tab,
tab_panel.def_h35:normal .tab
{
  background-color: @ex4;
}

tab_control.mat_h25:active .self,
tab_control.mat_h30:active .self,
tab_control.mat_h35:active .self,
button_bar_segment.mat_h25:active .self,
button_bar_segment.mat_h30:active .self,
button_bar_segment.mat_h35:active .self
{
  color: @ex4;
}
tab_panel.mat_h25:active .tab,
tab_panel.mat_h30:active .tab,
tab_panel.mat_h35:active .tab,
button_bar_segment.mat_h25:active .self,
button_bar_segment.mat_h30:active .self,
button_bar_segment.mat_h35:active .self
{
  border-bottom-color: @ex4;
}

tab_control.ear_h25:normal .self,tab_control.ear_h25_lite:normal .self,
tab_control.ear_h30:normal .self,tab_control.ear_h30_lite:normal .self,
tab_control.ear_h35:normal .self,tab_control.ear_h35_lite:normal .self
{
  color: @ex4;
}
tab_panel.ear_h25:active .tab,tab_panel.ear_h25_lite:active .tab,
tab_panel.ear_h30:active .tab,tab_panel.ear_h30_lite:active .tab,
tab_panel.ear_h35:active .tab,tab_panel.ear_h35_lite:active .tab
{
  background-color: @ex4;
  border-color: @ex4;
}
tab_panel.ear_h25 .panel,tab_panel.ear_h25_lite .panel,
tab_panel.ear_h30 .panel,tab_panel.ear_h30_lite .panel,
tab_panel.ear_h35 .panel,tab_panel.ear_h35_lite .panel
{
  border-color: @ex4;
}



/** RECT ------------------------*/
rectangle.bracket_ex4 .self {border-color: @ex4;}


